.config { background-color: white;  color: black; }

.reportSelectTitle { text-align: center; font-weight: bold; font-size: 12pt; }
.reportSelectSubTitle { font-weight: bold; font-size: 10pt; }
.reportSelectItem { font-size: 8pt; }

