.outages { background-color: white; color: black; font-size: 10pt; }

.itemTotalsTitle { font-size: 8pt; text-align: center; }

.hostUP { font-size: 10pt; background-color: #88d066; font-weight: bold; }
.hostDOWN { font-size: 10pt; background-color: #f88888; font-weight: bold; }
.hostUNREACHABLE { font-size: 10pt; background-color: #f88888; font-weight: bold; }

