.statusmap { background-color: white; color: black; }

.imageInfo { font-size: 8pt; font-weight: bold; text-align: center; }

.zoomTitle { font-size: 8pt; font-weight: bold; }

.popupText { font-size: 8pt; }
