
.notifications { font-family: arial,serif; font-size: 8pt; background-color: #fff; color: #000; }

a { color: #6e7475; text-decoration: none; }
a:hover { color: #000; }
th { text-align: left; font-size: 8pt; padding: 0 5px; border: 0; }
td { font-size: 8pt; border: 0; }

.errorMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.errorDescription { text-align: center; font-weight: bold; font-size: 10pt; }
.warningMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }

.infoBox { color: #000; padding: 2; border: 0; }
.infoBoxTitle { font-size: 10pt; font-weight: bold; color: #000; }
.infoBoxBadProcStatus { color: #ff3300; }
a.homepageURL:Hover { color: #ff3300; }

.linkBox { border: 0; }
table.linkBox { margin-top: 20px; }
td.linkBox a { margin-left: 5px; padding-left: 10px; background: url(../../images/interface/menu_li1.gif) 0 0.35em no-repeat; }
td.linkBox a:hover { background: url(../../images/interface/menu_li2.gif) 0 0.35em no-repeat; }

.dataTitle { text-align: center; font-weight: bold; font-size: 10pt; }

.navBoxTitle { font-weight: bold; }
.navBoxItem {  color: #707677; }
.navBoxFile { font-weight: bold; text-align: center; color: #707677; }

table.notifications { background-color: #fff; padding: 5; }
th.notifications { font-size: 10pt; background-color: #707677; color: #fff; }
.notificationsOdd { background-color: #ededed; }
.notificationsEven { background-color: #e9e9e9; }

.notificationsOK { background-color: #00cc33; color: #fff; text-align: center; }
.notificationsUNKNOWN { background-color: #bf44b2; color: #fff; text-align: center; }
.notificationsWARNING { background-color: #ffa500; color: #fff; text-align: center; }
.notificationsCRITICAL { background-color: #ff3300; color: #fff; text-align: center; }
.notificationsACKNOWLEDGEMENT { background-color: #acacac; color: #fff; text-align: center; }
.notificationsCUSTOM { background-color: #778899; color: #fff; text-align: center; }

.notificationsHOSTUP { background-color: #00cc33; color: #fff; text-align: center; }
.notificationsHOSTDOWN { background-color: #ff3300; color: #fff; text-align: center; }
.notificationsHOSTUNREACHABLE { background-color: #bf44b2; color: #fff; text-align: center; }
.notificationsHOSTACKNOWLEDGEMENT { background-color: #acacac; color: #fff; text-align: center; }
.notificationsHOSTCUSTOM { background-color: #778899; color: #fff; text-align: center; }
