# redirect to a startup page when there is no pidfile yet
RewriteEngine On
RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{REQUEST_URI} !^@HTMLURL@/startup.html
RewriteCond %{REQUEST_URI} !^@HTMLURL@/side.html
RewriteCond %{REQUEST_URI} !^@HTMLURL@/.*\.(css|png|js)
RewriteCond @TMPDIR@/thruk.pid !-f
RewriteRule ^(.*)$ @HTMLURL@/startup.html?@HTMLURL@/$1 [R=302,L,NE,QSA]
