META.yml
Makefile
Makefile.old
MANIFEST.bak
blib
tmp
pm_to_blib
local-lib
logs/debug.log
logs/error.log
logs/access.log
thruk_local.conf
thruk_local.conf*
^menu_local.conf
inc
docs/images
htpasswd.users
.DS_Store
ssi/*.ssi
root/thruk/plugins/*
root/shinken
t/xt
*.swp
.author
cgi_local.cfg
ssi_local
cgi.cfg-*
cgi.cfg.*
htpasswd
var
log4perl.conf
logs
objectdefinitions.html
plugins/plugins-available/conf/test.pl
plugins/plugins-available/conf/tmon.out
MYMETA.json
MYMETA.yml
menu_local.conf
my_templates/
panorama_default_view
notes.txt
themes/themes-available/*/images/logos/*.png
.~ko-6.1.3-perllint~
root/thruk/javascript/all_in_one-1.82.js
themes/themes-available/Thruk/stylesheets/all_in_one-1.82.css
themes/themes-available/Thruk/stylesheets/all_in_one_noframes-1.82.css
test_hook.sh
bp/*.tbp
bp/*.tbp-*
root/tests/
script/append.make.options
