META.yml
Makefile
Makefile.old
MANIFEST.bak
blib
tmp
pm_to_blib
local-lib
logs/debug.log
logs/error.log
logs/access.log
thruk_local.conf
thruk_local.conf*
^menu_local.conf
inc
docs/images
htpasswd.users
.DS_Store
ssi/*.ssi
root/thruk/plugins/*
root/shinken
t/xt
*.swp
.author
cgi_local.cfg
ssi_local
cgi.cfg-*
cgi.cfg.*
htpasswd
var
log4perl.conf
logs
objectdefinitions.html
plugins/plugins-available/conf/test.pl
plugins/plugins-available/conf/tmon.out
MYMETA.json
MYMETA.yml
menu_local.conf
my_templates/
panorama_default_view
notes.txt
themes/themes-available/*/images/logos/*.png
.~ko-*-perllint~
root/thruk/javascript/all_in_one-2.10-2.js
plugins/plugins-available/panorama/root/all_in_one-2.10-2_panorama.js
themes/themes-available/Thruk/stylesheets/all_in_one-2.10-2.css
themes/themes-available/Thruk/stylesheets/all_in_one_noframes-2.10-2.css
test_hook.sh
panorama/*.tab
bp/*.tbp
bp/*.tbp.edit
bp/*.tbp-*
bp/*.pm
root/tests/
script/append.make.options
.rps_results
rpsresults.html
t/docker/Dockerfile
t/docker/results
t/docker/cases/*/.sakuli-steps-cache
t/docker/cases/testsuite.suite
t/docker/cases/*/*.js
.gem/
*.json
.idea/
lmd.ini
plugins/plugins-available/editor
plugins/plugins-enabled/editor
thruk_local.d/
!t/data/*
