################################
## Logging Configuration
#
# see http://search.cpan.org/perldoc?Log%3A%3ALog4perl%3A%3AConfig
# for other configuration options
#
# normal logging, error messages and sent commands
log4perl.logger=ALL, ThrukLog

# enable this line to enable debug logging
# start "./script/thruk_server.pl -d" with -d to enable debugging
#log4perl.logger=ALL, ThrukLog, DebugLog, Screen
# you have to uncomment the logger definitions below too

# normal log messages
log4perl.appender.ThrukLog=Log::Log4perl::Appender::File
log4perl.appender.ThrukLog.filename=logs/error.log
log4perl.appender.ThrukLog.mode=append
log4perl.appender.ThrukLog.Threshold=INFO
log4perl.appender.ThrukLog.layout=Log::Log4perl::Layout::PatternLayout
log4perl.appender.ThrukLog.layout.ConversionPattern=[%d][%H][%p][%c] %m%n

## debug too
#log4perl.appender.DebugLog=Log::Log4perl::Appender::File
#log4perl.appender.DebugLog.filename=logs/debug.log
#log4perl.appender.DebugLog.mode=append
#log4perl.appender.DebugLog.Threshold=DEBUG
#log4perl.appender.DebugLog.layout=Log::Log4perl::Layout::PatternLayout
#log4perl.appender.DebugLog.layout.ConversionPattern=[%d][%H][%p][%c] %m%n

## screen logger
#log4perl.logger                    = DEBUG, Screen
#log4perl.appender.Screen           = Log::Log4perl::Appender::Screen
#log4perl.appender.Screen.stderr    = 1
#log4perl.appender.Screen.Threshold = DEBUG
#log4perl.appender.Screen.layout    = Log::Log4perl::Layout::PatternLayout
#log4perl.appender.Screen.layout.ConversionPattern = [%d][%H][%p][%c] %m%n
