.peerDOWN { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }
.peerDIS { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; }
.hostPENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.servicePENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.itemTotalsTitle { font-family: arial,serif;  font-size: 8pt;  text-align: center; }

.nav_small_logo { margin: 0px; padding: 0px; }

/* always display left scrollbar so pages
 * don't flicker on dynamic elements
 */
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  margin: 0px;
  margin-left: 5px;
}

a img {
    border: none;
}

td.dataVal {
  text-align: left;
}
td.dataVar {
  text-align: left;
}
td.command {
  text-align: left;
}

body.navbar {
  margin: 0px;
  text-align: center;
}


/* shadow definition */
.shadowcontent, .shadow {
  position: relative;
  bottom: 6px;
  right: 6px;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.3);
}
.shadowcontent {
  background-color: #fff;
  color: #000;
}


/* preferences pane */
div.pref_pane {
  width:450px;
  height:100px;
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
}
table.pref_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.pref_pane > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}

img.pref_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
table.top_nav {
  border: 0px none;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  font-size:8px;
}
.top_nav td {
  border: 0px none;
  padding: 0px;
  margin: 0px;
}

td.top_nav_pref {
  vertical-align: top;
}

.top_nav div.backend {
  border: 0px none;
  padding: 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
  width: 80px;
}

input.top_nav_pref_button {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
}
input.button_peerUP {
  color:#444444;
  background-color:#33FF00;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  cursor: pointer;
}
input.button_peerDOWN {
  color:#444444;
  background-color:#F83838;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  cursor: pointer;
}
input.button_peerDIS {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#ACACAC;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  cursor: pointer;
}
input.button_peerHID {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#ACACAC;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  filter:alpha(opacity=60); /* IE */
  -moz-opacity: 0.60;       /* Mozilla */
  opacity: 0.60;            /* Opera */
}

/* class to preload images */
.hidepics {
  width:0px;
  height:0px;
  visibility:hidden;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

div.navbarsearch form fieldset {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.navsection {
  margin:0px 0 8px;
}

div.navsectionlinks {
  text-align: left;
}

.pager_direct_link {
  vertical-align:top;
  font-weight: normal;
  color: #000000;
}
.pager_direct_link_current {
  vertical-align:top;
  font-weight: bold;
  color: #FF6600;
}
.pager_input_img {
  vertical-align:text-bottom;
}

/* details hover for trends image map */
div.image_hover {
  visibility:hidden;
  z-index:100;
  position:absolute;
  top:3px;
  left:185px;
}
table.popupBorder {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #ffffcc;
  border-collapse: separate;
  background-color: #ffffcc;
}
body.trends table.popupBorder > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #ffffcc;
  background-color: #ffffcc;
}
body.trends table.popupText {
  background-color: #ffffcc;
  border: none;
}
body.trends table.popupText td {
  background-color: #ffffcc;
  border: none;
  vertical-align: top;
}
body.trends table.popupText th {
  background-color: #ffffcc;
  border: none;
  text-align: left;
  text-decoration: underline;
  min-width: 300px;
  vertical-align: top;
}

/* fix for calendar image in commands */
body.cmd img {
  vertical-align:text-bottom;
}
.cal_icon {
  vertical-align:text-bottom;
}
.date_input {
  border: none;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
}

/* fix for complete bold reports in summary */
body.summary td.dataOdd         { font-weight: normal; }
body.summary td.dataEven        { font-weight: normal; }
body.summary td.hostDOWN        { font-weight: normal; }
body.summary td.hostUP          { font-weight: normal; }
body.summary td.hostUNREACHABLE { font-weight: normal; }
body.summary td.serviceOK       { font-weight: normal; }
body.summary td.serviceWARNING  { font-weight: normal; }
body.summary td.serviceUNKNOWN  { font-weight: normal; }
body.summary td.serviceCRITICAL { font-weight: normal; }
body.summary table.data {
  background-color: white;
}

/* mouse over classes for inline command selection in status page */
.tableRowHover {
  background-color:#88BBD8;
  cursor: pointer;
}
.tableRowSelected {
  background-color:#609FD2;
  cursor: pointer;
}
.has_long_plugin_output {
  color: #0000FF;
}

/* command pane */
div.cmd_pane {
  min-width:400px;
  height:100px;
  visibility:hidden;
  position:fixed;
  top: 60px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
  white-space: nowrap;
}
table.cmd_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.cmd_pane > tbody > tr > td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
}

img.cmd_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
th.cmd_pane a, th.cmd_pane {
  text-align:center;
  color:#DCE5C1;
  font-size:10pt;
}
th.status a:hover {
  color:#DCE5C1;
  text-decoration: none;
}
td.submit {
  text-align: center;
}

div.thruk_message table {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-weight: bold;
}
.close_button {
  vertical-align: middle;
}
.success_message {
  color: #008000;
}
.fail_message {
  color: #FF0000;
}

/* show log filter */
body.showlog .filter { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
body.showlog .filterTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold;  background-color: #DBDBDB; }
body.showlog .filterName { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
body.showlog .filterValue { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }

/* overlay for status page */
.overDivTable {
  font-family: arial,serif;
  font-size: 8pt;
}
table.overDivTable {
  background-color: #DBDBDB;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #000000;
  border-collapse: separate;
}
table.overDivTable > tbody > tr > td {
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}

.overDivHead {
  background-color:#999797;
  color:#DCE5C1;
  font-size:10pt;
  text-align:left;
  border: 0x none #000000;
}
.overDivContent {
  background-color: #DBDBDB;
  border: 0x none #000000;
}

table.overDivTable a {
  font-size:8pt;
  font-weight: bold;
  color:#000000;
}

td.filterValueInput input {
  width: 135px;
}
td.filterValueInput {
  white-space: nowrap;
}
td.filterValue:hover {
  background-color:#88BBD8;
  cursor: pointer;
}
td.filterName {
  vertical-align: top;
  white-space: nowrap;
}
td.filterValueNoHighlight {
}

td.newfilter {
  line-height: 8px;
  height: 12px;
  width: 14px;
}
td.newfilter:hover {
  line-height: 8px;
  background-color:#88BBD8;
  cursor: pointer;
}
td.filter_table {
  white-space: normal;
}

div.filter_pane {
  z-index:100;
  position:absolute;
}

/* prevent showlog from wrapping long log lines */
div.logEntries {
  white-space: nowrap;
}
div.logEntries img {
  vertical-align: middle;
}

.filter_button_mini {
  position:relative;
  top: -6px;
  left: -5px;
}

td.clickable {
  vertical-align: middle;
}
.clickable {
  vertical-align: middle;
}
.clickable:hover {
  cursor: pointer;
  vertical-align: middle;
}
.notclickable {
  cursor: default;
}

table.filter > tbody > tr > td {
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

.btn_toggle_top_pane {
  position: absolute;
  top: 21px;
  right: 0px;
}

.hidenav {
  position: fixed;
  top: 0px;
  left: 175px;
  width: 7px;
  height: 100%;
  background-image: url(../images/drag.png);
  background-repeat: no-repeat;
  background-color:#e0dfde;
  background-position: center;
}

.hidenav:hover {
  background-image: url(../images/drag_hover.png);
  background-color:#9e9c9a;
}

.shownav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 7px;
  height: 100%;
  background-image: url(../images/drag.png);
  background-repeat: no-repeat;
  background-color:#e0dfde;
  background-position: center;
}

.shownav:hover {
  background-image: url(../images/drag_hover.png);
  background-color:#9e9c9a;
}

.hint {
  font-size: smaller;
  text-align: center;
}

.dataVal {
  white-space: nowrap;
}
td.stateInfoTable1 .dataVal {
  white-space: normal;
}

/* Search result suggestions */
#search-results {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  border: 1px solid #484256;
  background-color:white;
  font-size:8pt;
  font-family: arial,serif;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2000;
  text-align: left;
}

#search-results ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  color:black;
  display: block;
}

#search-results a{
  text-decoration: none;
  color:black;
  width: 150px;
  display: block;
}

#search-results a.ajax_search_selected, #search-results a:hover {
  background-color:#88BBD8;
  cursor: pointer;
}

/* generic rules */
.no_margin {
  margin: 0px;
}

.command_line {
  max-width:800px;
}

.config_info {
    white-space: pre-wrap;
}

body.config TABLE.conftool {
    width: auto;
}
body.config TABLE.conftoolusers {
    width: 450px;
}
body.config TD.dataUserVar {
    text-align: center;
    font-weight: bold;
}
body.config TD.dataSubmit {
    text-align:center;
    padding: 4px;
}

TABLE.cmd_pane tbody > tr > th > A > IMG {
  vertical-align: text-bottom;
}

.bookmarkHead {
  font-size: 9pt;
  font-weight: bold;
  background-color: #DBDBDB;
  line-height: 13pt;
}

TABLE.bookmarkTable {
  border: 0px;
}

TABLE.bookmarkTable TD {
  border: 0px;
}

TABLE.bookmarkTable TD.bookmarkTable {
  border: 0px;
}


TABLE.hostcomments TD, TABLE.hostdowntimes TD,TABLE.servicecomments TD, TABLE.servicedowntimes TD {
  text-align: center;
}
TABLE.hostcomments TH, TABLE.hostdowntimes TH,TABLE.servicecomments TH, TABLE.servicedowntimes TH {
  text-align: center;
  white-space: nowrap;
}

select#quick_command option {
  background-repeat:no-repeat;
  background-position:center left;
  padding-left:24px;
  height: 22px;
}
select#quick_command {
  height: inherit;
}

.vertical {
  width: 18px;
  margin: 0px;
  margin-bottom: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.00000000, M12=1.00000000, M21=-1.00000000, M22=-0.00000000,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.00000000, M12=1.00000000, M21=-1.00000000, M22=-0.00000000,sizingMethod='auto expand');
  -moz-transform:  matrix(-0.00000000, -1.00000000, 1.00000000, -0.00000000, 0, 0);
  -webkit-transform:  matrix(-0.00000000, -1.00000000, 1.00000000, -0.00000000, 0, 0);
  -o-transform:  matrix(-0.00000000, -1.00000000, 1.00000000, -0.00000000, 0, 0);
}

TABLE.minemap TD.minemap_head {
    height:150px;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    border-top: 0px;
}

TABLE.minemap DIV.servicePENDING {
  float: inherit;
  text-align: inherit;
}

TABLE.overDivContent TH.dataVar {
  text-align: left;
}

td.attrValue {
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 3px;
  padding-right: 3px;
}
td.attrValue:hover {
  background-color:#88BBD8;
  cursor: pointer;
}
td.attrName {
  vertical-align: top;
  white-space: nowrap;
}

.dialogWithDropShadow {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.left {
  text-align: left;
}

DIV#progressbar .ui-progressbar-value {
  background-image: url(../../../javascript/jquery-ui/css/smoothness/images/pbar-ani.gif);
}

SPAN.deleteicon {
  position: relative;
}
SPAN.deleteicon SPAN {
  position: absolute;
  display: block;
  top: -1px;
  right: 3px;
  width: 14px;
  height: 14px;
  background: url('../images/btn_close_small.png');
  cursor: pointer;
}
SPAN.deleteicon INPUT {
  padding-right: 16px;
}

.ui-add-button {
  background-image: url(../images/add.png) !important;
}
.ui-ok-button {
  background-image: url(../images/accept.png) !important;
}
.ui-save-button {
  background-image: url(../images/disk.png) !important;
}
.ui-preview-button {
  background-image: url(../images/lightning_go.png) !important;
}
.ui-wzd-button {
  background-image: url(../images/wand.png) !important;
}
button.ui-button span.ui-button-text {
  line-height: 1.0 !important;
}
button.ui-button-icon-only {
  width: 2em !important;
}
input.ui-button {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}


TD.action_menu {
  width: 250px;
  padding-left: 20px;
}

input.top_refresh_button {
  margin-top: 2px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
body.splashpage input.top_refresh_button {
  display: none;
}
