/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* checksanity.css */

/* not sure if this file is used */
* { color: cyan; }

/*
BODY.extinfo { }
BODY.extinfo TABLE {
 border-spacing: 0;
}

.Title {
 font-size: large;
 text-align: center;
 font-weight: bold;
}
.SectionTitle {
 font-size: 12pt;
 text-align: center;
 font-weight: bold;
}
.DynamicData, .StaticData {
 font-size: 10pt;
 background-color: white;
 padding: 2;
}
.TableHeader {
 font-size: 10pt;
 background-color: #999797;
 color: #DCE5C1;
 text-align: left;
 font-weight: bold;
}

.Item, .Value {
 font-size: 10pt;
 text-align: left;
 background-color: #C4C2C2;
 font-weight: bold;
}
.DataSource, .Number {
 font-size: 10pt;
 text-align: left;
 background-color: #C4C2C2;
}

.ValueOk {
 font-size: 10pt;
 text-align: left;
 background-color: #33FF00;
 font-weight: bold;
}
.ValueError {
 font-size: 10pt;
 text-align: left;
 background-color: #F83838;
 font-weight: bold;
}

*/
