/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* histogram.css */

BODY.histogram { }
BODY.histogram TABLE {
 border-spacing: 0;
}

.dataTitle {
 text-align: center;
 font-weight: bold;
}

.reportSelectTitle {
 text-align: center;
 font-weight: bold;
}
TD.reportSelectSubTitle {
 text-align: right;
 font-size: 0.7em;
}
TD[calss='reportSelectSubTitle'] {
 font-size: 0.7em;
}
TD.reportSelectItem {
 text-align: left;
}
TD.reportSelectItem INPUT, TD.reportSelectItem SELECT {
 font-size: 0.7em;
}

.helpfulHint {
 text-align: left;
 font-size: 8pt;
 font-style: italic;
 text-align: center;
}

.helpfulHints {
 text-align: center;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TABLE.optBox {
   display: none;
  }
}

