/* show log filter */
table.filter .filter        { background-color: white; }
table.filter .filterTitle   { background-color: white; }
table.filter .filterValue   { background-color: white; }
table.filter .filterName    { background-color: white; }
