.servicePENDING  { background-color: #ACACAC; }
.serviceOK       { background-color: #9CEA9C; }
.serviceUNKNOWN  { background-color: #ffae01; }
.serviceWARNING  { background-color: #fcff01; }
.serviceCRITICAL { background-color: #ff0000; }

.hostUP          { background-color: #9CEA9C; }
.hostDOWN        { background-color: #ff0000; }
.hostUNREACHABLE { background-color: #ff0000; }
.hostPENDING     { background-color: #ACACAC; }

/* show log filter */
table.filter .filter        { background-color: white; }
table.filter .filterTitle   { background-color: white; }
table.filter .filterValue   { background-color: white; }
table.filter .filterName    { background-color: white; }
