/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* summary.css */

BODY.summary { }
BODY.summary TABLE {
 border-spacing: 0;
}


TD.optBoxTitle {
 font-size: 0.7em;
 font-weight: bold;
}
TD.optBoxItem {
 font-size: 0.7em;
 padding: 0.1em 0.5em 0.1em 0.5em;
}
TD.optBoxItem SELECT {
 font-weight: normal;
}

TD.optBoxValue {
 font-size: 0.7em;
 padding: 0 0.5em 0 0.5em;
}

TABLE.reportDataEven {
}
TABLE.reportDataOdd {
}

DIV.dataTitle {
 text-align: center;
 font-weight: bold;
}
DIV.dataSubTitle {
 text-align: center;
 font-weight: bold;
}
TABLE.reportDataEven DIV.dataSubTitle, TABLE.reportDataOdd DIV.dataSubTitle {
 font-size: 0.8em;
 font-weight: normal;
}

TD.dataSubTitle {
 text-align: center;
 font-weight: bold;
}

TABLE.data {
}
TABLE.data TD {
 padding: 0.2em;
 font-size: 0.7em;
 vertical-align: top;
}
TH.data {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-right: solid 1px #ddd;
 font-size: 0.7em;
 padding: 0.2em;
}
TD.dataOdd {
 background-color: #EEE;
 border-bottom: solid 1px #ddd;
}
TD.dataEven {
 background-color: #FFF;
 border-bottom: solid 1px #ddd;
}

.hostUP, .serviceOK {
 color: #669866;
 background-color: #a7ffa7;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
.hostDOWN, .hostUNREACHABLE, .serviceCRITICAL {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
.serviceWARNING {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
.serviceUNKNOWN {
 color: #fff;
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}

.helpfulHint {
 text-align: left;
 font-size: 8pt;
 font-style: italic;
 text-align: center;
}

.dateSelectTitle {
 text-align: center;
 font-weight: bold;
}
TD.dateSelectSubTitle {
 text-align: left;
 font-weight: bold;
 font-size: 0.7em;
}
TD.dateSelectItem {
 text-align: left;
}
TD.dateSelectItem INPUT, TD.dateSelectItem SELECT {
 font-size: 0.7em;
}

.reportSelectTip {
 text-align: left;
 font-size: 8pt;
 font-style: italic;
}

.reportSelectTitle {
 text-align: center;
 font-weight: bold;
}
.reportSelectSubTitle {
 text-align: right;
 font-size: 0.7em;
}
.reportSelectItem {
 text-align: left;
}
TD.reportSelectItem INPUT, TD.reportSelectItem SELECT {
 font-size: 0.7em;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TH.data {
   border: none;
   border-bottom: solid 0.5pt black;
  }
  TD.optBoxTitle, TD.optBoxItem, TD.optBoxValue {
   display: none;
  }
  TD.optBoxTitle, TD.optBoxItem, TD.optBoxItem SELECT, TD.optBoxValue, TD.dataSubTitle, TABLE.data TD, TD.dataOdd, TD.dataEven, TD.dateSelectSubTitle, TD.dateSelectItem, TD.dateSelectItem INPUT, TD.dateSelectItem SELECT, TD.reportSelectItem INPUT, TD.reportSelectItem SELECT,   TD.optBoxTitle, TD.optBoxItem, TD.optBoxValue {
   background-image: none;
   background-color: transparent;
   color: #000;
  }
}

