
.avail { font-family: arial,serif; background-color: #fff; color: #000; font-size: 8pt; }

a { color: #6e7475; text-decoration: none;  }
a:hover { color: #000; }
th { text-align: left; font-size: 8pt; text-align: left; padding: 0 5px; border: 0; }
td { font-size: 8pt; border: 0; }

.errorMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.errorDescription { text-align: center; font-weight: bold;  font-size: 10pt; }
.warningMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }

.infoBox { color: #000; padding: 2; border: 0; }
.infoBoxTitle { font-size: 10pt; font-weight: bold; color: #000; }
.infoBoxBadProcStatus { color: #ff3300; }
a.homepageURL:Hover { color: #ff3300; }

.linkBox { border: 0; }
table.linkBox { margin-top: 20px; }
td.linkBox a { margin-left: 5px; padding-left: 10px; background: url(../../images/interface/menu_li1.gif) 0 0.35em no-repeat;  }
td.linkBox a:hover { background: url(../../images/interface/menu_li2.gif) 0 0.35em no-repeat;  }

.reportRange { text-align: center; font-weight: bold; }
.reportDuration { text-align: center; }
.reportTime { text-align: center; }

.dataTitle { text-align: center; font-weight: bold; font-size: 10pt; }

table.data { background-color: #fff;  padding: 2; }
th.data { font-size: 10pt; background-color: #fff; background-color: #707677; color: #fff; }
.dataOdd { background-color: #ededed; }
.dataEven { background-color: #e9e9e9; }

.optionBoxTitle { font-family: arial,serif; text-align: center; font-weight: bold; font-size: 10pt; }
.optionBox { font-family: arial,serif; font-size: 10pt; padding: 2; }

.hostUP { background-color: #00cc33; color: #fff; }
.hostDOWN { background-color: #ff3300; color: #fff; }
.hostUNREACHABLE { background-color: #bf44b2; color: #fff; }
tr.dataEven td.hostUP, tr.dataEven td.hostDOWN, tr.dataEven .hostUNREACHABLE { text-align: center; }
tr.dataOdd td.hostUP, tr.dataOdd td.hostDOWN, tr.dataOdd .hostUNREACHABLE { text-align: center; }

.serviceOK { background-color: #00cc33;  color: #fff; }
.serviceWARNING { background-color: #ffa500; color: #fff; }
.serviceUNKNOWN { background-color: #bf44b2; color: #fff; }
.serviceCRITICAL { background-color: #ff3300; color: #fff; }
tr.dataEven td.serviceOK, tr.dataEven td.serviceWARNING, tr.dataEven td.serviceUNKNOWN, tr.dataEven td.serviceCRITICAL { text-align: center; }
tr.dataOdd td.serviceOK, tr.dataOdd td.serviceWARNING, tr.dataOdd td.serviceUNKNOWN, tr.dataOdd td.serviceCRITICAL { text-align: center; }

.helpfulHint { font-style: italic;  text-align: center; }

.dateSelectTitle { text-align: center; font-weight: bold; font-size: 10pt; }
.dateSelectSubTitle { font-weight: bold; }

.reportSelectTip { font-style: italic; }
.reportSelectTitle { text-align: center; font-weight: bold; font-size: 10pt; }
.reportSelectSubTitle {text-align: right; }

table.logEntries { background-color: #fff; margin-top: 10px; border-spacing: 2px; border: 0; }
th.logEntries { background-color: #707677; color: #fff; }
.logEntriesEven {  background-color: #ededed; color: #000; }
.logEntriesOdd { background-color: #e9e9e9; color: #000; }

.logEntriesINDETERMINATE { background-color: #acacac; }

.logEntriesOK { background-color: #33cc00; color: #fff; text-align: center; }
.logEntriesUNKNOWN { background-color: #bf44b2; color: #fff; text-align: center; }
.logEntriesWARNING { background-color: #ffa500; color: #fff; text-align: center; }
.logEntriesCRITICAL { background-color: #ff3300; color: #fff; text-align: center; }
.logEntriesUP { background-color: #33cc00; color: #fff; text-align: center; }
.logEntriesDOWN { background-color: #ff3300; color: #fff; text-align: center; }
.logEntriesUNREACHABLE { background-color: #bf44b2; color: #fff; text-align: center; }
