
.extinfo { font-family: arial,serif; background-color: #fff; color: #000; font-size: 8pt; }

a {  color: #6e7475;  text-decoration: none; }
a:hover {  color: #000;  border-color: #707677; }
table { border-color: #ccc; border-style: solid; }
th { text-align: left; font-size: 8pt; text-align: left; padding: 0 5px; border: 0; }
td { font-size: 8pt; border: 0; }

.errorMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.errorDescription { text-align: center; font-weight: bold; font-size: 10pt; }
.warningMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }

.infoBox { color: #000; padding: 2; border: 0;  }
.infoBoxTitle { font-size: 10pt; font-weight: bold; color: #000; }
.infoBoxBadProcStatus { color: #ff3300; }
a.homepageURL:Hover { color: #ff3300; }

.linkBox { border: 0; }
table.linkBox { margin-top: 20px; }
td.linkBox a { margin-left: 5px;  padding-left: 10px;  background: url(../../images/interface/menu_li1.gif) 0 0.35em no-repeat;  }
td.linkBox a:hover { background: url(../../images/interface/menu_li2.gif) 0 0.35em no-repeat;  }

.Title { text-align: center; font-weight: bold; font-size: 10pt; }
.SectionTitle { text-align: center; font-weight: bold; }

.optionBoxTitle { text-align: center; font-weight: bold; }
.optionBox { background-color: #ededed; padding: 2; }

.DynamicData { background-color: #fff; padding: 2; }
.StaticData { background-color: #fff; padding: 2; }
.TableHeader { background-color: #707677; color: #fff; }

.Item { background-color: #ededed; font-weight: bold; }
.DataSource { background-color: #ededed; }
.Number {  background-color: #ededed; }

.Value { background-color: #C4C2C2; color: #fff; }
.ValueOk { background-color: #33cc00; color: #fff; }
.ValueError { background-color: #ff3300; color: #fff; }




