
.config { font-family: arial,serif; background-color: #fff; color: #000; }

a { color: #6e7475;  text-decoration: none; }
a:hover { color: #000; }
th { text-align: left; font-size: 8pt; padding: 0 5px; border: 0; }
td { font-size: 8pt; border: 0; }

.errorMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.errorDescription { text-align: center; font-weight: bold; font-size: 10pt; }
.warningMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }

.infoBox { color: #000; padding: 2; border: 0; }
.infoBoxTitle { font-size: 10pt; font-weight: bold; color: #000; }
.infoBoxBadProcStatus { color: #ff3300; }
a.homepageURL:Hover { color: #ff3300; }

.dataTitle { text-align: center; font-weight: bold; font-size: 10pt; }

table.data { background-color: #fff; padding: 2; }
th.data { font-size: 10pt; background-color: #707677; color: #fff; }
.dataOdd { background-color: #ededed; }
.dataEven { background-color: #e9e9e9; }

.reportSelectTip { font-style: italic; }
.reportSelectTitle { text-align: center; font-weight: bold; font-size: 10pt; }
.reportSelectSubTitle {text-align: right; }