
.history { font-family: arial,serif; font-size: 8pt; background-color: white; color: black; }

a { color: #6e7475; text-decoration: none; }
a:hover { color: #000; }
th { text-align: left; padding: 0 5px; border: 0; }
td { font-size: 8pt; border: 0; }
hr { border: 0; color: #ededed; }

.errorMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.errorDescription { text-align: center; font-weight: bold;  font-size: 10pt; }
.warningMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.infoMessage { text-align: center; color: #ff3300; font-weight: bold; }

.infoBox { color: #000; padding: 2; border: 0; }
.infoBoxTitle { font-size: 10pt; font-weight: bold; color: #000; }
.infoBoxBadProcStatus { color: #ff3300; }
a.homepageURL:Hover { color: #ff3300; }

.linkBox { border: 0; }
table.linkBox { margin-top: 20px; }
td.linkBox a { margin-left: 5px; padding-left: 10px; background: url(../../images/interface/menu_li1.gif) 0 0.35em no-repeat; }
td.linkBox a:hover { background: url(../../images/interface/menu_li2.gif) 0 0.35em no-repeat; }

.dataTitle { text-align: center; font-weight: bold; font-size: 10pt; }

.navBoxTitle { font-weight: bold; }
.navBoxItem { color: #707677 }
.navBoxFile { color: #707677; font-weight: bold; text-align: center; }

.dateTimeBreak { font-size: 10pt; font-weight: bold; background-color: #ededed; color: #707677; }