<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html class="w-full h-full">
  <head>
    <title>[% title_prefix %][% title %]</title>
    [% PROCESS _favicon.tt %]
    [% PROCESS _common_css.tt %]
    <link rel='stylesheet' type='text/css' href='[% url_prefix %]plugins/[% plugin_name %]/conf.css' />
    [% PROCESS _common_js_files.tt %]
    <script src="[% url_prefix %]plugins/[% plugin_name %]/conf.js"></script>
    [% IF c.config.useragentcompat %]<meta http-equiv="X-UA-Compatible" content="[% c.config.useragentcompat %]">[% END %]
  </head>
  <body id="config" class="config[% IF body_class %] [%+ body_class %][% END %] w-full h-full m-0 p-0 overflow-hidden" style="background: inherit;">
  [% PROCESS _common_js.tt %]
  <div style="display:none;" id="search-results"></div>
  [% PROCESS _message.tt %]
  [% content %]

  <script>
  <!--
  jQuery(document).ready(function() {
    if(typeof(init_tree_buttons) == "function") {
        init_tree_buttons();
    }
  });
  -->
  </script>

  </body>
</html>
