<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>[% title_prefix %][% title %]</title>
    <link rel="shortcut icon" href="[% url_prefix %]themes/[% theme %]/images/favicon.ico" type="image/ico" />
    [% PROCESS _common_css.tt use_frames=1 %]
    <link rel='stylesheet' type='text/css' href='[% url_prefix %]plugins/conf/conf.css' />
    [% PROCESS _common_js_files.tt %]
    <script type="text/javascript" src="[% url_prefix %]plugins/conf/conf.js"></script>
    [% IF c.config.useragentcompat %]<meta http-equiv="X-UA-Compatible" content="[% c.config.useragentcompat %]">[% END %]
  </head>
  <body id="config" class="config[% IF body_class %] [%+ body_class %][% END %]" style="background: inherit;">
  [% PROCESS _common_js.tt %]
  <div style="display:none;" id="search-results"></div>
  [% PROCESS _message.tt %]
  [% content %]

  <script type="text/javascript">
  <!--
  jQuery(document).ready(function() {
    jQuery('INPUT.conf_button').button();
    jQuery('BUTTON.conf_button').button();
    jQuery('.radioset').controlgroup();
    if(typeof(init_tree_buttons) == "function") {
        init_tree_buttons();
    }
  });
  -->
  </script>

  </body>
</html>
