<tr>
  <th class='data[% IF type == 'host'         %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=host">Hosts</a></th>
  <th class='data[% IF type == 'service'      %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=service">Services</a></th>
  <th class='data[% IF type == 'command'      %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=command">Commands</a></th>
  <th class='data[% IF type == 'timeperiod'   %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=timeperiod">Timeperiods</a></th>
  <th class='data[% IF type == 'hostgroup'    %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=hostgroup">Hostgroups</a></th>
  <th class='data[% IF type == 'servicegroup' %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=servicegroup">Servicegroups</a></th>
  <th class='data[% IF type == 'contact'      %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=contact">Contacts</a></th>
  <th class='data[% IF type == 'contactgroup' %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=contactgroup">Contactgroups</a></th>
  [% IF coretype == 'icinga' %]
  <th class='data[% IF type == 'module'       %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;type=module">Modules</a></th>
  [% END %]
  <th class='data'>&nbsp;</th>
  <th class='data[% IF type == 'tools'        %] confSelected[% END %]'><a href="conf.cgi?sub=objects&amp;tools=start">Tools</a></th>
  <th class='data[% IF type == 'apply'        %] confSelected[% END %]' style="width:60px;">
    <a href="conf.cgi?sub=objects&amp;apply=yes">Apply</a>
    [% IF parse_errors.size > 0 %]
    <a href="conf.cgi?sub=objects&amp;apply=yes"><img src='[% url_prefix %]thruk/themes/[% theme %]/images/error.png' alt='Config Errors Detected' title='Config Errors Detected' width="16" height="16" style="vertical-align: text-bottom"></a>
    [% END %]
    [% IF last_changed || needs_commit %]
    <a href="conf.cgi?sub=objects&amp;apply=yes"><img src='[% url_prefix %]thruk/themes/[% theme %]/images/disk.png' alt='Config has changed and needs to be applied' title='Config has changed and needs to be applied' width="16" height="16" style="vertical-align: text-bottom"></a>
    [% END %]
  </th>
</tr>

