[% WRAPPER cmd.tt
   request = 'You are requesting to stop obsessing over service checks'
   description = 'This command is used stop Nagios from obsessing over service checks.'
%]
<tr><td class='optBoxItem' colspan="2">There are no options for this command.<br> Click the 'Commit' button to submit the command.</td></tr>

[% END %]