[% WRAPPER cmd.tt
   request = 'You are requesting to enable notifications for a host'
   description = 'This command is used to enable notifications for the specified host. Notifications will only be sent out for the host state types you defined in your host definition. Note that this command <i>does not</i> enable notifications for services associated with this host.'
%]
<tr><td class='optBoxRequiredItem'>Host Name:</td><td><b><input type='text' name='host' value=''></b></td></tr>
<tr><td class='optBoxItem'>Enable Notifications For Child Hosts Too:</td><td><b><input type='checkbox' name='ptc'></b></td></tr>

[% END %]