[% WRAPPER cmd.tt
   request = 'You are requesting to enable failure prediction for hosts and service'
   description = 'This command is used to enable failure prediction for hosts and services on a program-wide basis. Individual hosts and services may have failure prediction disabled.'
%]
<tr><td class='optBoxItem' colspan="2">There are no options for this command.<br> Click the 'Commit' button to submit the command.</td></tr>

[% END %]