[% WRAPPER cmd.tt
   request = 'You are requesting to disable active checks of all services in a particular hostgroup'
   description = 'This command is used to disable active checks of all services in the specified hostgroup. This <i>does not</i> disable checks of the hosts in the hostgroup unless you check the 'Disable for hosts too' option.'
%]
<tr><td class='optBoxRequiredItem'>Hostgroup Name:</td><td><b><input type='text' name='hostgroup' value=''></b></td></tr>
<tr><td class='optBoxItem'>Disable For Hosts Too:</td><td><b><input type='checkbox' name='ahas'></b></td></tr>

[% END %]