[% WRAPPER cmd.tt
   request = 'You are requesting to disable event handlers'
   description = 'This command is used to temporarily prevent Nagios from running any host or service event handlers.'
%]
<tr><td class='optBoxItem' colspan="2">There are no options for this command.<br> Click the 'Commit' button to submit the command.</td></tr>

[% END %]