[% WRAPPER cmd.tt
   request = 'You are requesting to cancel scheduled downtime for a particular host'
   description = 'This command is used to cancel active or pending scheduled downtime for the specified host.'
%]
<tr><td class='optBoxRequiredItem'>Scheduled Downtime ID:</td><td><b><input type='text' name='down_id' value='[% c.request.parameters.down_id %]'></b></td></tr>

[% END %]