[% WRAPPER cmd.tt
   request = 'You are requesting to stop obsessing over a particular service'
   description = 'This command is used to stop Nagios from obsessing over a particular service.'
%]
<tr><td class='optBoxRequiredItem'>Host Name:</td><td><b><input type='text' name='host' value=''></b></td></tr>
<tr><td class='optBoxRequiredItem'>Service:</td><td><b><input type='text' name='service' value=''></b></td></tr>

[% END %]