[% WRAPPER cmd.tt
   request = 'You are requesting to disable the event handler for a particular host'
   description = 'This command is used to temporarily prevent Nagios from running the host event handler for a particular host.'
%]
<tr><td class='optBoxRequiredItem'>Host Name:</td><td><b><input type='text' name='host' value='[% c.request.parameters.host %]'></b></td></tr>

[% END %]