.servicePENDING  { background-color: #acacac; }
.serviceOK       { background-color: #88d066; }
.serviceUNKNOWN  { background-color: #ffbb55; }
.serviceWARNING  { background-color: #FFFF00; }
.serviceCRITICAL { background-color: #f88888; }

.hostUP          { background-color: #88d066; }
.hostDOWN        { background-color: #f88888; }
.hostUNREACHABLE { background-color: #f88888; }
.hostPENDING     { background-color: #acacac; }

/* mouse over classes for inline command selection in status page */
.tableRowHover {
  background-color:#88BBD8;
  line-height: 150%;
  border:1px none;
}
.tableRowSelected {
  background-color:#609FD2;
  line-height: 150%;
  border:1px none;
}


/* show log filter */
body.showlog .filter { background-color: white; }
body.showlog .filterTitle { background-color: white; }
body.showlog .filterValue { background-color: white; }
body.showlog .filterName { background-color: white; }


td.filter { background-color: white; }

.filter_button_mini {
  position:relative;
  top: -1px;
  left: -8px;
}
