/* fix for link box and infobox border */
table.infoBox {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.infoBox td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}
table.linkBox {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.linkBox td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}

/* fix for bold perf data on tac page top right */
.perfValue {
  font-weight: normal;
}

/* fix for bold features on tac page */
td.featureEnabledFlapDetection {
    font-weight: normal;
}
td.featureEnabledNotifications {
    font-weight: normal;
}
td.featureEnabledHandlers {
    font-weight: normal;
}
td.featureDisabledActiveChecks {
    font-weight: normal;
}
td.featureEnabledPassiveChecks {
    font-weight: normal;
}

/* fix for commando description box */
table.commandDescription {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.commandDescription td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}


/* fix for link box and infobox border */
body.cmd table.optBox {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
body.cmd table.optBox > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}

/* fix for state info boxes box */
table.data {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
td.stateInfoTable1 {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}
td.stateInfoTable2 {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C4C4;
  background-color: #C4C4C4;
}

/* fix for extinfo command box */
table.command {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.command > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}

/* performance data table header */
th.data {
  padding-left: 8px;
  padding-right: 8px;
  background-color:#999797;
  color:#DCE5C1;
  font-family:arial,serif;
  font-size:10pt;
  text-align:left;
}

/* fix for filter box in status */
table.filter {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.filter > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}


/* fix for host totals box */
table.hostTotals {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.hostTotals td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}

/* fix for service totals box */
table.serviceTotals {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.serviceTotals td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}


/* fix for status box */
table.statusgroups {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.statusgroups > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}

/* fix for availability report boxes */
body.avail table.data {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
body.avail table.data td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}


/* fix for availability logs boxes */
body.avail table.logEntries {
  border-spacing: 1px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
body.avail table.logEntries td {
  padding: 1px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}

div.logEntries {
  font-family:"Courier New",courier,monospace;
}