---
- hosts: all
  roles:
    - role: common
  tasks:
  - name: "omd config set PNP4NAGIOS off"
    shell: "omd config demo PNP4NAGIOS off"
  - name: "omd config set GRAFANA on"
    shell: "omd config demo GRAFANA on"
  - name: "omd config set NAGFLUX on"
    shell: "omd config demo NAGFLUX on"
  - name: "omd config set INFLUXDB on"
    shell: "omd config demo INFLUXDB on"
  - copy:
      src: "/root/thruk_local.conf"
      dest: "/omd/sites/demo/etc/thruk/thruk_local.conf"
      owner: "demo"
      group: "demo"
  - copy:
      src: "/scenario/objects.cfg"
      dest: "/omd/sites/demo/etc/naemon/conf.d/objects.cfg"
      owner: "demo"
      group: "demo"
  - shell: sed -e "s/###SITE###/{{ lookup('env','PREFIX') }}/g" -i /omd/sites/demo/etc/naemon/conf.d/objects.cfg -i /omd/sites/demo/etc/thruk/thruk_local.conf
  - shell: sed -e "s/-pnp/-perf/g" -i /omd/sites/demo/etc/naemon/conf.d/objects.cfg
  - shell: echo "testkey" > /omd/sites/demo/var/thruk/secret.key
  - file:
      path: /omd/sites/demo/var/thruk/secret.key
      mode: 0600
      owner: demo
      group: demo
