TABLE.logEntries {
  margin: 2px;
  text-align: center;
  background-color: #F0F1EE;
  border: 1px #E2DECD outset;
  width: 100%;
}

TD.logEntriesOdd {
  padding: 1px;
  background-color: #E7E5DD;
  height: 22px;
}


TD.logEntriesEven {
  padding: 1px;
  background-color: #DEDBD2;
  height: 22px;
}


TD.logEntriesOK,TD.logEntriesUP {
  padding: 1px;
  background-color: #C0FFC0;
  height: 22px;
}

TD.logEntriesWARNING {
  padding: 1px;
  background-color: #FFFFC0;
  height: 22px;
}

TD.logEntriesCRITICAL,TD.logEntriesDOWN,TD.logEntriesUNREACHABLE {
  padding: 1px;
  background-color: #FFC0C0;
  font-weight: bold;
  height: 22px;
}

TD.logEntriesINDETERMINATE,TD.logEntriesUNKNOWN {
  padding: 1px;
  height: 22px;
}
