body {
  background: #F9F9F7 url('../images/bg.png') repeat-x;
  font-size: 11px;
  font-family: "trebuchet ms", helvetica, sans-serif;
  color: #8C8C73;
  line-height: 18px;
}

a {
  color: #FF7800;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.navbarlogo {
    margin: 0 0 10px 0;
}

.navsection {
    margin: 5px 0 10px 0;
    font: small Georgia,"Times New Roman";
    line-height: 16px;
}
.navsection a {
    text-decoration: none;
}

.navsectiontitle {
    font-size: 12pt;
    font-weight: bold;
    background: transparent url(../images/menu-top.png) no-repeat;
    height: 20px;
    width: 170px;
    text-align: center;
    line-height: 20px;
    vertical-align: bottom;
}

.navsectionfooter {
    background: transparent url(../images/menu-bottom.png) no-repeat;
    height: 7px;
    line-height: 7px;
}

div.navsectionlinks {
}

ul.navsectionlinks {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: transparent url(../images/menu-body.png) repeat-y;
}

ul.navsectionlinks li {
}

ul.navsectionlinks li:hover {
    background: transparent url(../images/menu-body-hover.png) no-repeat;
}

ul.navsectionlinks li.navbarsearch:hover {
    background: none;
}

ul.navsectionlinks li a {
    color: #444444;
    font-weight: bold;
    font-size: 9pt;
    padding: 0 0 0 15px;
}

ul.navsectionlinks li ul {
    margin: 0px;
    padding: 0 0 0 30px;
    list-style: none;
}

ul.navsectionlinks li ul li a {
    padding: 0;
    font-weight: normal;
}

ul.navsectionlinks li ul li:hover {
    background: none;
}

ul.navsectionlinks li ul li ul {
    margin: 0px;
    padding: 0 0 0 15px;
    list-style: none;
}

ul.navsectionlinks li ul li a:hover {
    text-decoration: underline;
}

.navbarsearch fieldset {
    border: none;
}

.navbarsearch fieldset legend {
    visibility: hidden;
    line-height: 0px;
}

.navbarsearch input{
    font-size: 8pt;
    background-color: #F9F9F7;
    width:140px;
}



/* main page */
#splashpage{
    text-align: center;
}

#mainbrandsplash{
    font-size: 12pt;
    font-weight: bold;
    margin: 0 0 35px 0;
}

#maincopy{
    margin: 0 0 15px 0;
}

#currentversioninfo{
    font-size: 12pt;
}
#currentversioninfo .product{
    font-size: 14pt;
    font-weight: bold;
}
#currentversioninfo .version{
    font-size: 14pt;
    font-weight: bold;
}
#currentversioninfo .releasedate{
    font-size: 11pt;
    margin: 5px 0 0 0;
}
#currentversioninfo .whatsnew{
    font-size: 11pt;
    font-weight: bold;
    margin: 50px 0 0 0;
}
#splashpage #mainfooter{
    margin: 100px 0 0 0;
    font-size: 8pt;
}
#splashpage #mainfooter .disclaimer{
    width: 80%;
    margin: auto;
}
#splashpage #mainfooter .logos{
    margin: 15px 0 0 0;
}
