TABLE.command {
  padding: 0px;
  text-align: center;
  background-color: #F0F1EE;
}


TD.commandPanel {
  text-align: center;
  background-color: #F0F1EE;
  margin: 2px;
  border: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
}

DIV.dataTitle,DIV.perfTypeTitle,DIV.commandTitle {
  padding: 0px;
  height: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

DIV.data {
  padding: 0px;
  height: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

TABLE.extdetails {
  width: auto;
}
TD.stateInfoPanel {
  text-align: center;
  background-color: #F0F1EE;
  margin: 2px;
  border: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
}

TABLE.commandPanel {
  border: 1px #E2DECD outset;
}
TABLE.commandPanel TD {
  background-color: #E7E5DD;
}
TABLE.commandPanel TH {
  background-color: #E7E5DD;
  vertical-align: top;
  border: 0px none;
  background-image: none;
}

/* on perfdata page */
TD.stateInfoTable1 > TABLE, TD.stateInfoTable2 > TABLE {
    width: 300px;
}

DIV.peerDIS, DIV.peerDOWN {
  text-align: center;
  width: 100%;
}

.notificationsENABLED,.queueENABLED,.eventhandlersENABLED,.checksENABLED,.flapdetectionENABLED,.notflapping,.downtimeINACTIVE {
  background-color: #00FF33;
}

.notificationsDISABLED,.queueDISABLED,.checksDISABLED,.eventhandlersDISABLED,.flapdetectionDISABLED,.flapping,.downtimeACTIVE {
  background-color: #FF5B33;

}

.processOK,.hostUP,.serviceOK {
  background-color: #00FF33;
}

.processWARNING,.serviceWARNING {
  background-color: #FFDE00;

}

.processCRITICAL,.hostDOWN,.hostUNREACHABLE,.serviceCRITICAL {
  background-color: #FF5B33;

}

DIV.commentNav,DIV.downtimeNav {
  text-align: center;
  font-weight: bold;
}

DIV.commentTitle,DIV.downtimeTitle {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

DIV.comment,DIV.downtime {
  text-align: center;
  vertical-align: top;
}

TABLE.comment,TABLE.downtime {
  text-align: center;
  background-color: #F0F1EE;
  border: 1px #E2DECD outset;
}

TD.comment,TD.downtime {
  padding: 0px;
}

TD.commentOdd,TD.downtimeOdd {
  padding: 1px;
  background-color: #E7E5DD;
  height: 22px;
}

TD.commentEven,TD.downtimeEven {
  padding: 1px;
  background-color: #DEDBD2;
  height: 22px;
}

DIV.perfDataTitle {
  background-color: transparent;
  border: 1px none;
  background-image: none;
}