TABLE.command {
  padding: 0px;
  text-align: center;
  background-color: #F0F1EE;
}


TD.commandPanel {
  text-align: center;
  background-color: #F0F1EE;
  margin: 2px;
  border: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
}

DIV.dataTitle,DIV.perfTypeTitle,DIV.commandTitle {
  padding: 0px;
  height: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

DIV.data {
  padding: 0px;
  height: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

TD.command {
  text-align: right;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  height: 20px;
}
TABLE.command {
    border-spacing: 4px;
    border: 0px none;
    background-color: #E7E5DD;
}

TABLE.extdetails {
  width: auto;
}
TD.stateInfoPanel {
  text-align: center;
  background-color: #F0F1EE;
  margin: 2px;
  border: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
}

.stateInfoTable1 {
  background-color: #F0F1EE;
}
.stateInfoTable2 {
  background-color: #F0F1EE;
}

TD.stateInfoTable1, TD.stateInfoTable2  {
  border: 1px #E2DECD outset;
}

TABLE.commandPanel {
  border: 1px #E2DECD outset;
}
TABLE.commandPanel TD {
  background-color: #E7E5DD;
}
TABLE.commandPanel TH {
  background-color: #E7E5DD;
  vertical-align: top;
  border: 0px none;
  background-image: none;
}

/* used on performance page */
TD.stateInfoTable1 > TABLE {
    width: 100%;
}
TD.stateInfoTable2 > TABLE {
    width: 100%;
}

TD.stateInfoTable1 > table > tbody > tr > TD.dataVal {
    white-space: nowrap;
}
DIV.peerDIS, DIV.peerDOWN {
  text-align: center;
  width: 100%;
}

.dataVar {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}

.notificationsENABLED,.queueENABLED,.eventhandlersENABLED,.checksENABLED,.flapdetectionENABLED,.notflapping,.downtimeINACTIVE {
  background-color: #00FF33;
}

.notificationsDISABLED,.queueDISABLED,.checksDISABLED,.eventhandlersDISABLED,.flapdetectionDISABLED,.flapping,.downtimeACTIVE {
  background-color: #FF3300;

}

.processOK,.hostUP,.serviceOK {
  background-color: #00FF33;
}

.processWARNING,.serviceWARNING {
  background-color: #FFDE00;

}

.processCRITICAL,.hostDOWN,.hostUNREACHABLE,.serviceCRITICAL {
  background-color: #FF3300;

}

DIV.commentNav,DIV.downtimeNav {
  text-align: center;
  font-weight: bold;
}

DIV.commentTitle,DIV.downtimeTitle {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

DIV.comment,DIV.downtime {
  text-align: center;
  vertical-align: top;
}

TABLE.comment,TABLE.downtime {
  text-align: center;
  background-color: #F0F1EE;
  border: 1px #E2DECD outset;
}

TH.comment,TH.downtime {
  padding: 0px;
  border: none;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 20px;
  border-right: 1px #E2DECD solid;
  background-color: #F0F1EE;
  background-image: url(../images/border_small.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  white-space: nowrap;
}

TD.comment,TD.downtime {
  padding: 0px;
}

TD.commentOdd,TD.downtimeOdd {
  padding: 1px;
  background-color: #E7E5DD;
  height: 22px;
}

TD.commentEven,TD.downtimeEven {
  padding: 1px;
  background-color: #DEDBD2;
  height: 22px;
}

TABLE.queue {
  text-align: center;
  background-color: #F0F1EE;
  border: 1px #E2DECD outset;
}

TH.queue {
  padding: 0px;
  border: none;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 20px;
  border-right: 1px #E2DECD solid;
  background-color: #F0F1EE;
  background-image: url(../images/border_small.gif);
  background-repeat: repeat-x;
  background-position: bottom;
}

TD.queueOdd {
  padding: 1px;
  background-color: #E7E5DD;
  height: 22px;
}

TD.queueEven {
  padding: 1px;
  background-color: #DEDBD2;
  height: 22px;
}

DIV.commandTitle {
  padding: 0px;
  margin: 0px;
  background-color: #F0F1EE;
  border: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
  line-height: 15px;
  font-size: 16px;
  font-weight: bold;
}

DIV.perfDataTitle {
  background-color: transparent;
  border: 1px none;
  background-image: none;
}