TABLE.notifications {
    text-align: center;
    background-color: #F0F1EE;
    border: 1px #E2DECD outset;
}

TD.notificationsEven {
    padding: 0px;
}

TD.notificationsOdd {
    padding: 1px;
    background-color: #E7E5DD;
    height: 22px;
}

TD.notificationsOK,TD.notificationsHOSTUP {
    padding: 1px;
    background-color: #00FF33;
    height: 22px;
}

TD.notificationsWARNING {
    padding: 1px;
    background-color: #FFDE00;
    height: 22px;
}

TD.notificationsCRITICAL,TD.notificationsHOSTDOWN,TD.notificationsHOSTUNREACHABLE {
    padding: 1px;
    background-color: #FF5B33;
    font-weight: bold;
    height: 22px;
}

TD.notificationsACKNOWLEDGEMENT,TD.notificationsHOSTACKNOWLEDGEMENT {
    padding: 1px;
    height: 22px;
}
