DIV.statusTitle {
    font-size: 16px;
    font-weight: bold;
}

DIV.hostTotals,DIV.serviceTotals,DIV.status {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
}

TABLE.serviceTotals,TABLE.hostTotals {
    margin: 2px;
    text-align: center;
    background-color: #F0F1F5;
    border: 1px #E2DECD outset;
    width: 280px;
    background-image: url(../images/border_big.gif);
    background-repeat: repeat-x;
}

TH.hostTotals,TH.serviceTotals {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 18px;
    border-right: 1px #E2DECD solid;
    font-style: normal;
}
TH.hostTotals {
    width: 25%;
}
TH.serviceTotals {
    width: 20%;
}

TD.hostTotals,TD.serviceTotals,
TD.hostTotalsUP,TD.serviceTotalsOK,
TD.hostTotalsDOWN,TD.hostTotalsUNREACHABLE,TD.serviceTotalsCRITICAL,
TD.hostTotalsPENDING,TD.serviceTotalsPENDING,
TD.serviceTotalsUNKNOWN,
TD.hostTotalsPROBLEMS,TD.serviceTotalsPROBLEMS,
TD.hostTotalsPROBLEMS,TD.serviceTotalsWARNING {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

TD.hostTotalsUP,TD.serviceTotalsOK {
    background-image: url(../images/green.gif);
}
TD.hostTotalsDOWN,TD.hostTotalsUNREACHABLE,TD.serviceTotalsCRITICAL {
    background-image: url(../images/red.gif);
}
TD.hostTotalsPENDING,TD.serviceTotalsPENDING {
    background-image: url(../images/blue.gif);
}
TD.serviceTotalsUNKNOWN {
    background-image: url(../images/orange.gif);
}
TD.hostTotalsPROBLEMS,TD.serviceTotalsPROBLEMS {
    background-image: url(../images/orange.gif);
}
TD.serviceTotalsWARNING {
    background-image: url(../images/yellow.gif);
}

A.hostTotals:hover,A.serviceTotals:hover {
    text-decoration: none;
}

TABLE.status {
    text-align: center;
    background-color: #F0F1F5;
}

TH.status {
    padding: 0px;
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 20px;
    border-right: 1px #E2DECD solid;
    background-color: #F0F1F5;
    background-image: url(../images/border_small.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

TD.status {
    padding: 0px;
}

TD.statusOdd {
    background-color: #E7E5DD;
}

TD.statusEven {
    background-color: #DEDBD2;
}

td.statusEven, td.statusOdd {
    height: 22px;
}
