TD.healthTitle,TD.perfTitle,TD.featureTitle,TD.outageTitle,TD.hostTitle,TD.serviceTitle {
    margin: 2px;
    text-align: center;
    border-top: 1px #E2DECD outset;
    border-left: 1px #E2DECD outset;
    border-right: 1px #E2DECD outset;
    height: 20px;
    background-image: url(../images/border_big.gif);
    background-repeat: repeat-x;
    font-weight: bold;
}

a.perfTitle, a.perfItem, a.perfValue {
  font-family: "trebuchet ms", helvetica, sans-serif;
  color: #444444;
  text-decoration: none;
}
a.perfTitle:hover, a.perfItem:hover, a.perfValue:hover {
  text-decoration: underline;
}

TD.healthBox,TD.perfBox,TD.featureHeader,TD.outageHeader,TD.hostHeader,TD.serviceHeader {
    padding-left: 5px;
    background-color: #F0F1EE;
    border-bottom: 1px #E2DECD outset;
    border-left: 1px #E2DECD outset;
    border-right: 1px #E2DECD outset;
    height: 20px;
}


.outageImportantProblem,.hostImportantProblem,.serviceImportantProblem {
    background-color: #FFC0C0;
}

.outageUnimportantProblem,.hostUnimportantProblem,.serviceUnimportantProblem {
    background-color: #FFEBEB;
}


.featureEnabled,
.featureEnabledNotifications,
.featureItemEnabledServiceNotifications,
.featureItemEnabledHostNotifications,
.featureEnabledFlapDetection,
.featureItemEnabledServiceFlapDetection,
.featureItemEnabledHostFlapDetection,
.featureItemServicesNotFlapping,
.featureItemHostsNotFlapping,
.featureEnabledHandlers,
.featureItemEnabledServiceHandlers,
.featureItemEnabledHostHandlers,
.featureEnabledActiveChecks,
.featureItemEnabledActiveServiceChecks,
.featureItemEnabledActiveHostChecks,
.featureEnabledPassiveChecks,
.featureItemEnabledPassiveServiceChecks,
.featureItemEnabledPassiveHostChecks
{
    background-color: #C0FFC0;
}

.featureDisabled,
.featureDisabledNotifications,
.featureItemDisabledServiceNotifications,
.featureItemDisabledHostNotifications,
.featureDisabledFlapDetection,
.featureItemDisabledServiceFlapDetection,
.featureItemDisabledHostFlapDetection,
.featureItemServicesFlapping,
.featureItemHostsFlapping,
.featureDisabledHandlers,
.featureItemDisabledServiceHandlers,
.featureItemDisabledHostHandlers,
.featureDisabledActiveChecks,
.featureItemDisabledActiveServiceChecks,
.featureItemDisabledActiveHostChecks,
.featureDisabledPassiveChecks,
.featureItemDisabledPassiveServiceChecks,
.featureItemDisabledPassiveHostChecks
{
    background-color: #FFC0C0;
}
