input.button_peerUP   { background-color: #00FF33; }
input.button_peerDOWN { background-color: #FF3300; }

.servicePENDING  { background-color: #ACACAC; }
.serviceOK       { background-color: #00FF33; }
.serviceUNKNOWN  { background-color: #FF9E00; }
.serviceWARNING  { background-color: #FFDE00; }
.serviceCRITICAL { background-color: #FF3300; }

.hostUP          { background-color: #00FF33; }
.hostDOWN        { background-color: #FF3300; }
.hostUNREACHABLE { background-color: #FF0038; }
.hostPENDING     { background-color: #ACACAC; }

/* status colors */
TD.hostUP {
  background-color: #00FF33;
}

TD.hostDOWN {
  background-color: #FF3300;
  font-weight: bold;
}
TD.hostUNREACHABLE {
  background-color: #FF0038;
  font-weight: bold;
}
TD.statusPENDING,TD.statusHOSTPENDING, A.statusPENDING {
  background-color: #ACACAC;
}
TD.statusOK,TD.statusRECOVERY,TD.statusHOSTUP,TD.serviceOK, A.statusOK {
  background-color: #00FF33;
}
TD.statusWARNING,TD.serviceWarning, A.statusWARNING {
  background-color: #FFDE00;
}
TD.serviceCRITICAL,TD.statusCRITICAL,TD.statusHOSTDOWN,TD.statusHOSTDOWNACK,TD.statusHOSTDOWNSCHED,TD.statusHOSTUNREACHABLE,TD.statusHOSTUNREACHABLEACK,TD.statusHOSTUNREACHABLESCHED, A.statusCRITICAL {
  background-color: #FF3300;
}
TD.statusBGCRITICAL,TD.statusBGCRITICALACK,TD.statusBGCRITICALSCHED,TD.statusBGDOWN,TD.statusBGDOWNACK,TD.statusBGDOWNSCHED,TD.statusBGUNREACHABLE,TD.statusBGUNREACHABLEACK,TD.statusBGUNREACHABLESCHED {
  background-color: #FFC0C0;
}
TD.statusUNKNOWN {
  background-color: #FF9E00;
}

TD.miniStatusUP,TD.miniStatusOK {
  background-color: #00FF33;
  padding: 2px;
  font-weight: bold;
  text-align: center;
}

TD.miniStatusDOWN,TD.miniStatusUNREACHABLE,TD.miniStatusCRITICAL {
  padding: 2px;
  background-color: #FF3300;
  font-weight: bold;
  text-align: center;
}

TD.miniStatusPENDING {
  background-color: #ACACAC;
  padding: 2px;
  font-weight: bold;
  text-align: center;
}

TD.miniStatusWARNING {
  padding: 2px;
  background-color: #FFDE00;
  font-weight: bold;
  text-align: center;
}

TD.miniStatusUNKNOWN {
  padding: 0px;
  text-align: center;
  background-color: #FF9E00;
}

DIV.statusTitle, DIV.dataTitle, DIV.reportSelectTitle, DIV.dateSelectTitle, DIV.navBoxTitle {
    font-size: 16px;
    font-weight: bold;
}
TD.navBoxItem, TD.navBoxDate {
    font-size: 12px;
    font-weight: bold;
}
TD.optBoxItem {
    font-size: 12px;
    font-weight: bold;
}
DIV.perfTypeTitle {
    font-size: 13px;
    font-weight: bold;
}
td.dataVal {
    text-align: center;
}

DIV.errorMessage {
    text-align: center;
    color: #FF3300;
}

/* navbar */
div.navbar {
  background: #F9F9F7 url('../images/bg.png') repeat-x;
  background-color: #F9F9F7;
  color: #8C8C73;
  border: 0px none;
}

div.navsection {
    margin: 3px 0 0 0;
}

TABLE.infoBox {
  padding: 3px;
  padding-left: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #F0F1F5;
  border-top: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  border-bottom: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
  width: 240px;
}
DIV.infoBoxTitle {
  padding-bottom: 5px;
  font-size: 12px;
  vertical-align: top;
  line-height: 13px;
}
TABLE.linkBox {
  padding: 3px;
  padding-left: 5px;
  background-color: #F0F1F5;
  border-top: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  border-bottom: 1px #E2DECD outset;
}
TD, TH {
  border: medium none;
}

.infoBoxBadProcStatus {
    color: red;
}


TABLE.pref_pane {
  padding-left: 5px;
  background-color: #F0F1EE;
  border-bottom: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  color: #444444;
}
TABLE.pref_pane tbody > tr > td {
  border: medium none;
  background-color: #F0F1EE;
}


TABLE.cmd_pane {
  padding: 0px;
  margin: 0px;
  background-color: #FFFFFF;
  border: 1px solid #666666;
}
TABLE.cmd_pane tbody > tr > th {
  background: #dfe0de;
}
TABLE.cmd_pane tbody > tr > td {
  border: medium none;
  background-color: #FFFFFF;
}
TABLE.cmd_pane th, TABLE.cmd_pane a, TABLE.cmd_pane a:hover {
  color: #444444;
}

.filter_button_mini {
  position:relative;
  top: -2px;
  /* left: -2px; */
}

.tableRowSelected {
    background: #8fc6ff;
    height: 22px;
}
.tableRowHover, td.newfilter:hover {
    background: #c0c0ff;
}
element.style {
    visibility: visible;
}

TD.statusHOSTPENDING,
TD.statusHOSTDOWN,
TD.statusHOSTUP,
TD.statusHOSTUNREACHABLE,
TD.statusSERVICEOK,
TD.statusSERVICEWARNING,
TD.statusSERVICECRITICAL,
TD.statusSERVICEUNKNOWN,
TD.statusSERVICEPENDING,
TABLE.status tbody tr td.tableRowHover {
    height: 22px;
}

td.filterValue:hover {
  background-color: #c0c0ff;
}
#search-results {
    background: #F9F9F7;
}
#search-results a.ajax_search_selected, #search-results a:hover {
  background-color: #c0c0ff;
}

.infoMessage,.optionBoxTitle,.dataTitle,.infoBoxTitle,.filterTitle,.filterValue,.statusTitle,.itemTotalsTitle,.queueTitle,.optBoxTitle,.descriptionTitle,.navBoxTitle {
  font-weight: bold;
}




TABLE.data {
  margin: 0px;
  text-align: center;
  background-color: #F0F1F5;
  border: 1px #E2DECD outset;
}

TH.data  {
  padding: 0px;
  border: none;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 20px;
  border-right: 1px #E2DECD solid;
  background-color: #F0F1F5;
  background-image: url(../images/border_small.gif);
  background-repeat: repeat-x;
  background-position: bottom;
}

TD.dataOdd  {
  padding: 1px;
  background-color: #E7E5DD;
  height: 22px;
}

TD.dataEven  {
  padding: 1px;
  background-color: #DEDBD2;
  height: 22px;
}

/* overlay for status page */
.overDivHead {
  font-size: 9pt;
  line-height: 9pt;
  color: #8C8C73;
}
TABLE.overDivHead {
  padding: 3px;
  margin: 0px;
  background-color: #F0F1F5;
  border: 0px none;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
}
.overDivTable {
  font-family: arial,serif;
  font-size: 8pt;
}
table.overDivTable {
  background-color: #F0F1F5;
  border: 2px #E2DECD outset;
  border-spacing: 0px;
}
table.overDivTable > tbody > tr > td {
  margin: 0px;
  border: 0px none;
  background-color: #F0F1F5;
}
.overDivHead {
  font-size: 9pt;
  line-height: 9pt;
  color: #444444;
}
.overDivContent {
  background-color: #F0F1F5;
  border: 0x none #000000;
}

table.overDivTable a {
  font-size:9pt;
  font-weight: bold;
  color: #444444;
}
