.servicePENDING  { background-color: #ACACAC; }
.serviceOK       { background-color: #C0FFC0; }
.serviceUNKNOWN  { background-color: #FF9900; }
.serviceWARNING  { background-color: #FFFFC0; }
.serviceCRITICAL { background-color: #FFC0C0; }

.hostUP          { background-color: #C0FFC0; }
.hostDOWN        { background-color: #FFC0C0; }
.hostUNREACHABLE { background-color: #FFC0C0; }
.hostPENDING     { background-color: #ACACAC; }

/* navbar */
div.navbar {
  background: #F9F9F7 url('../images/bg.png') repeat-x;
  background-color: #F9F9F7;
  color: #8C8C73;
  border: 0px none;
}

div.navsection {
    margin: 3px 0 0 0;
}

TABLE.infoBox {
  padding: 3px;
  padding-left: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #F0F1F5;
  border-top: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  border-bottom: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
  width: 240px;
}
DIV.infoBoxTitle {
  padding-bottom: 5px;
}
TABLE.linkBox {
  padding: 3px;
  padding-left: 5px;
  background-color: #F0F1F5;
  border-top: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  border-bottom: 1px #E2DECD outset;
}
TD, TH {
  border: medium none;
}

.infoBoxBadProcStatus {
    color: red;
}


TABLE.pref_pane {
  padding-left: 5px;
  background-color: #F0F1EE;
  border-bottom: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  color: #444444;
}
TABLE.pref_pane tbody > tr > td {
  border: medium none;
  background-color: #F0F1EE;
}


TABLE.cmd_pane {
  padding: 0px;
  margin: 0px;
  background-color: #F0F1F5;
  border: 3px #FFFFFF outset;
  /*
  border-top: 1px #E2DECD outset;
  border-left: 1px #E2DECD outset;
  border-right: 1px #E2DECD outset;
  border-bottom: 1px #E2DECD outset;
  */
  /*
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
  */
}
TABLE.cmd_pane tbody > tr > th {
  background: #dfe0de;
}
TABLE.cmd_pane tbody > tr > td {
  border: medium none;
  background-color: #F0F1EE;
}
TABLE.cmd_pane th, TABLE.cmd_pane a, TABLE.cmd_pane a:hover {
  color: #444444;
}

.filter_button_mini {
  position:relative;
  top: -2px;
  left: -2px;
}

.tableRowSelected {
    background: #8fc6ff;
    height: 22px;
}
.tableRowHover, td.newfilter:hover {
    background: #c0c0ff;
}
element.style {
    visibility: visible;
}

TD.statusHOSTPENDING,
TD.statusHOSTDOWN,
TD.statusHOSTUP,
TD.statusHOSTUNREACHABLE,
TD.statusSERVICEOK,
TD.statusSERVICEWARNING,
TD.statusSERVICECRITICAL,
TD.statusSERVICEUNKNOWN,
TD.statusSERVICEPENDING,
TABLE.status tbody tr td.tableRowHover {
    height: 22px;
}

td.filterValue:hover {
  background-color: #c0c0ff;
}
#search-results {
    background: #F9F9F7;
}
#search-results a.ajax_search_selected, #search-results a:hover {
  background-color: #c0c0ff;
}

.infoMessage,.optionBoxTitle,.dataTitle,.infoBoxTitle,.filterTitle,.filterValue,.statusTitle,.itemTotalsTitle,.queueTitle,.optBoxTitle,.descriptionTitle,.navBoxTitle {
  font-weight: bold;
}




TABLE.data {
  margin: 0px;
  text-align: center;
  background-color: #F0F1F5;
  border: 1px #E2DECD outset;
}

TH.data  {
  padding: 0px;
  border: none;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 20px;
  border-right: 1px #E2DECD solid;
  background-color: #F0F1F5;
  background-image: url(../images/border_small.gif);
  background-repeat: repeat-x;
  background-position: bottom;
}

TD.dataOdd  {
  padding: 1px;
  background-color: #E7E5DD;
  height: 22px;
}


TD.dataEven  {
  padding: 1px;
  background-color: #DEDBD2;
  height: 22px;
}
