
.outages { font-family: arial,serif;  background-color: white;  color: black;  font-size: 10pt; }

.errorMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 12pt; }
.errorDescription { font-family: arial,serif;  text-align: center;  font-weight: bold;  font-size: 12pt; }
.warningMessage { font-family: arial,serif;  text-align: center;  color: red;  font-weight: bold;  font-size: 10pt; }
.infoMessage { font-family: arial,serif;  text-align: center;  font-size: 10pt; }

.infoBox { 
    border-collapse: collapse;
    empty-cells: show;
    background-image: url("../images/form_background.png"); 
    background-repeat: repeat;
    border-spacing: 0px;
    margin: 10px;
/*font-family: arial,serif;  font-size: 8pt;  background-color: #C4C2C2;  padding: 2; */}
.infoBoxTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold; }
.infoBoxBadProcStatus { color: red; }
A.homepageURL:Hover { font-family: arial,serif;  color: red; }

.itemTotalsTitle { font-family: arial,serif;  font-size: 8pt;  text-align: center; }

.dataTitle {
    color : white;
    font-weight: bold;
    font-size: 14pt;
}
TABLE.data {
    border-collapse: collapse;
    empty-cells: show;
/*    background-image: url("../images/form_background.png"); */
    background-repeat: repeat;
    border-spacing: 0px;
    margin: 10px;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    empty-cells: show;
} /* font-family: arial,serif;  font-size: 10pt;  background-color: white;  padding: 0; }*/
TH.data { 
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #abb;
    padding: 0px 4px;
    text-align: center;
    font-size: 9pt;
}
/*font-family: arial,serif;  font-size: 10pt;  background-color: white;  text-align: left;  background-color: #999797;  color: #DCE5C1; }*/
.dataOdd {
    border-collapse: collapse;
    empty-cells: show;
    background-image: url("../images/form_background.png"); 
    background-repeat: repeat;
    border-spacing: 0px;
    margin: 10px;
} /* font-family: arial,serif;  font-size: 10pt;  background-color: #DBDBDB; }*/
.dataEven { 
    border-collapse: collapse;
    empty-cells: show;
    background-image: url("../images/form_background.png"); 
    background-repeat: repeat;
    border-spacing: 0px;
    margin: 10px;
}
/*font-family: arial,serif;  font-size: 10pt;  background-color: #C4C2C2; }*/

.hostUP { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #33FF00;  font-weight: bold; }
.hostDOWN { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }
.hostUNREACHABLE { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }

