Ext.define('TP.PanletGridServices', {
    extend: 'TP.PanletGrid',

    title:  'Hosts',
    height: 200,
    width:  700,
    initComponent: function() {
        this.callParent();
        this.xdata.url = 'panorama.cgi?task=services';
        TP.hideFormElements(this.down('form').getForm(), ['url']);
        this.reloadOnSiteChanges = true;
    }
});
