<table width="100%" id="[% div_id %]" style="display: none;">
  <tr>
    <td></td>
    <td align="left" class="bp_type_desc">[% div_help %]</td>
  </tr>
  <tr>
    <th align="right">Label</th>
    <td align="left"><input type="text" value="" name="bp_label_[% function | html %]" placeholder="node name"></td>
  </tr>
  [% content %]
</table>
