/* navbar */
div.navbar {
  background-attachment: fixed;
  background-repeat: repeat;
  background-image: url("../images/nav_background.jpg");
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
  color: white;
  width: 172px;
  height: 100%;
  position:fixed;
  z-index:100;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;
  padding-right: 3px;
  overflow:auto;
  top: 0px;
  left: 0px;
  text-align: left;
  overflow-x: hidden;
}


body {
  margin: 0px;
  margin-left: 183px;
}
