/* navbar */
div.navbar {
    background-attachment: fixed;
    background-repeat: repeat;
    background-image: url("../images/nav_background.jpg");
/*    background-color: #4E4E4E;*/
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
  color: white;
  width: 170px;
  height: 100%;
  position:fixed;
  z-index:100;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;
  padding-right: 3px;
  overflow:auto;
  top: 0px;
  left: 0px;
  text-align: left;
  overflow-x: hidden;
}

div.navbarnew {
    background-attachment: fixed;
    background-repeat: repeat;
    background-image: url("../images/snapinframe_background.jpg");
    font-family: arial, helvetica, sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

body {
  margin: 0px;
  margin-left: 230px;
  margin-right: 50px;
}
