<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>[% r.name %]</title>
  [% PROCESS 'reports/style/css.tt' %]
  [% PROCESS _common_js.tt %]
  <script type="text/javascript">
  <!--
  [%+ PROCESS _header_initial_states.tt +%]
  $=jQuery;
  -->
  </script>
  <script language="javascript" type="text/javascript" src="[% url_prefix %]plugins/reports2/flot-d7c58b5/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript" src="[% url_prefix %]plugins/reports2/flot-d7c58b5/jquery.flot.time.js"></script>
  <!--[if IE]><script language='javascript' type='text/javascript' src='[% url_prefix %]javascript/excanvas.js'></script><![endif]-->
  [% PROCESS 'reports/style/custom.tt' %]
  <script language="javascript" type="text/javascript" src="[% url_prefix %]plugins/reports2/reports_render.js"></script>
</head>
<body>
[% content %]
</body>
</html>
