[%
  file = 'reports/locale/' _ param.language _ '.tt'; PROCESS $file;

  IF param.exists("dateformat")     && param.dateformat     != ""; reportDateFormat     = param.dateformat;     END;
  IF param.exists("datetimeformat") && param.datetimeformat != ""; reportDateTimeFormat = param.datetimeformat; END;
%]
