[% available = get_availablitiy_percents() %]
[% IF available.keys.size < 15 %]
  [% PROCESS 'reports/comp/sla_graph_fixed.tt' data = available %]
  [% PROCESS 'reports/comp/sla_table.tt' %]
[% ELSE %]
  [% PROCESS 'reports/comp/sla_graph_by_time.tt' data = available %]
[% END %]
