[% FOREACH o = sort_by_key(outages, 'duration').reverse %]
<div class="outages">
  [% format_date(o.start, reportDateTimeFormat) %] - [% format_date(o.real_end, reportDateTimeFormat) %]
  <span class="duration">([% duration(o.duration) %])</span>
</div>
<div class="output">[% o.plugin_output %]</div>
[% LAST IF loop.index == 13 %]
[% END %]
