/* Dark.css */
@import '../../Light/src/Light.css';

/* TODOs:
*
* darkmode for calender popup, e.g. notifications.cgi
*/

/*******************************************************************************
 * basic colors for dark theme
 */

 :root {
  color-scheme: dark;
 }

 @layer base {
  .textBody {
    @apply !text-[#f2f2f2];
  }
  .textCard {
    @apply !text-[#ddd];
  }
  .textTH {
    @apply !text-[#eee];
  }
  .textPager {
    @apply text-gray-200;
  }
  .textHINTsoft {
    @apply text-gray-400;
  }
  .textNavBar {
    @apply text-[#d4d4d4];
  }
  /* only exists in darkmode, used on bright backgrounds like problems, badge, etc. */
  .textDark {
    @apply text-[#333];
  }

  .textActive1 {
    @apply text-blue-400;
  }
  .textActive2 {
    @apply text-red-500 !important;
  }

 .textUP, .textOK, .textSUCCESS {
   @apply !text-green-600;
 }
 .textWARNING {
   @apply !text-yellow-600;
 }
 .textUNKNOWN, .textHINT {
   @apply !text-orange-600;
 }
 .textDOWN, .textCRITICAL, .textERROR, .textALERT {
   @apply !text-red-500;
 }
 .textUNREACHABLE {
   @apply !text-red-400;
 }
 .textPENDING {
   @apply !text-truegray-600;
 }

 .UP, .OK, .YES, .ENABLED, .button_peerUP {
   @apply !bg-green-500 !text-white;
 }
 .WARNING {
   @apply !bg-yellow-500 !text-white;
 }
 .UNKNOWN {
   @apply !bg-orange-500 !text-white;
 }
 .DOWN, .CRITICAL, .NO, .DISABLED, .button_peerDOWN {
   @apply !bg-red-500 !text-white;
 }
 .UNREACHABLE {
   @apply !bg-red-400 !text-white;
 }
 .PENDING {
   @apply !bg-truegray-500 !text-white;
 }
 .button_peerDIS {
   @apply !bg-truegray-300 !text-white;
 }
 .button_peerHID {
   @apply !bg-truegray-200 !text-white;
 }
 .PROBLEMS {
   @apply !bg-yellow-200 !textDark;
 }
 .CONSOLE {
   @apply text-lime-500 bg-black text-sm font-mono;
 }

 .bgUP, .bgOK, .bgSUCCESS {
   @apply !bg-green-200 !textDark;
 }
 .bgWARNING {
   @apply !bg-yellow-200 !textDark;
 }
 .bgUNKNOWN, .bgHINT {
   @apply !bg-orange-200 !textDark;
 }
 .bgDOWN, .bgCRITICAL {
   @apply !bg-red-300 !textDark;
 }
 .bgUNREACHABLE {
   @apply !bg-red-100 !textDark;
 }
 .bgPENDING {
   @apply !bg-truegray-200 !textDark;
 }
 .bgPROBLEMS {
   @apply !bg-yellow-200 !textDark;
 }

 .bgCard {
  @apply bg-[#444];
 }

 .bodyBG {
   @apply !bg-[#252525];
 }
 .headerBG {
   @apply bg-[#444];
 }

 .navBarBG {
   @apply bg-[#444];
 }
 .navItemBG  {
   @apply bg-[#555];
 }

 .hoverBG1 {
   @apply bg-[#555];
 }

 /* Because of a browser bug the bottom border of a sticky TH would scroll up and disappear, this sets a shadow with inset #E5E7EB = border-gray-200 */
 .shadow-as-border-bottom {
   box-shadow: inset 0px -1px 0 #555;
 }
 .shadow-as-border-right {
   box-shadow: inset -1px 0px 0 #555;
 }
 .shadow-as-border {
   box-shadow: inset -1px -1px 0 #555;
 }

 .bgTable {
   @apply bg-[#444];
 }

 .rowOdd {
   @apply bg-[#303030];
 }

 .rowEven {
   @apply bg-[#444];
 }

 .borderDefault {
   @apply border-[#555];
 }
 .borderDark {
   @apply border-gray-400;
 }

 .borderActive {
   @apply border-blue-400;
 }

 .borderError {
   @apply border-red-500;
 }
}

/*******************************************************************************
* general
*/
.scrollauto {
 /* avoid flickering and moving elements if scrollbar is required for dynamic elements */
 scrollbar-color: #555 #444;
}
MAIN.scrollauto {
 scrollbar-color: #555 #444;
}

.modalBG {
 @apply bg-black opacity-50;
}

TH {
 a.sort-by {
   &:before {
     border-bottom-color: #ccc;
   }
   &:after {
     border-top-color: #ccc;
   }
 }
}

TR:nth-child(odd) TD.tableRowSelected{
 @apply bg-yellow-300 bg-opacity-70  text-gray-700 !important;
}
TR:nth-child(even) TD.tableRowSelected {
 @apply bg-yellow-300 bg-opacity-80 text-gray-700 !important;
}

.badge {
 @apply bg-gray-200 textDark;
}

.pager-entries, .display-filter, A.button.back-button{
 @apply bg-gray-100 hover:textDark hover:bg-gray-200 text-[#666];
}

.tooltiptext {
 background-color: #888;
 color: #fff;
}

.tooltiptext::after {
 border-color: #888 transparent transparent transparent;
}

/*******************************************************************************
* icons as part of text links (ex. in action box container)
*/
I.fa-solid, I.uil {
 &.red {
   @apply bg-red-600 text-white;
 }
 &.green {
   @apply bg-green-500 text-white;
 }
 &.yellow {
   @apply bg-yellow-300 text-black;
 }
 &.gray {
   @apply bg-gray-200 text-black;
 }
}

/*******************************************************************************
* floating alerts
*/
DIV.card.alert {
 &.yellow {
   @apply text-yellow-700 bg-yellow-50 border-yellow-700;
 }
 &.red {
   @apply text-red-700 bg-red-50 border-red-700;
 }
 &.green {
   @apply text-green-700 bg-green-50 border-green-700;
 }
}

/*******************************************************************************
* progress bar (ex.: on tac page)
*/
DIV.progressbar {
 DIV.bar {
   DIV {
     @apply bg-sky-400;
   }
 }
}

/*******************************************************************************
* perf bar (ex.: on service/hosts lists)
*/
.perf-bar-container {
 .ok,.green {
   @apply bg-green-500 border-green-700;
 }
 .warn,.yellow {
   @apply bg-yellow-500 border-yellow-700;
 }
 .crit,.red {
   @apply bg-red-500 border-red-700;
 }
 .gray {
   @apply bg-gray-400 border-gray-500;
 }
}

/*******************************************************************************
* buttons
*/
@layer base {
 .defaultButton {
   @apply
     bg-gray-300
     text-gray-700
   ;
 }
}

BUTTON, INPUT[type=submit], INPUT[type=button], A.button, [type="button"] {
 &.active, &:hover {
   @apply bg-gray-400 text-white;
 }

 &.secondary {
   @apply bg-sky-500 hover:bg-sky-600 text-white hover:text-sky-200;
 }

 &.green {
   @apply bg-green-500 text-white hover:text-white hover:bg-green-400;
 }

 &.red {
   @apply bg-red-600 text-black hover:text-white;
 }
 &.hover-red {
   @apply hover:bg-red-600 hover:text-white;
 }
 &.iconOnly {
  @apply bg-transparent text-inherit hover:text-inherit hover:bg-transparent;
 }
}

DIV.buttongroup {
  BUTTON {
    @apply border-[#555] textDark;
  }
}

DIV.radiogroup {
 INPUT[type="radio"]:checked + label, INPUT[type="radio"] + label:hover {
   @apply bg-gray-400 text-white;
 }
}

.fa-trash {
 @apply hover:text-red-600;
}
a:hover>.fa-trash {
 @apply text-red-600;
}


/*******************************************************************************
* forms
*/
INPUT, SELECT {
  @apply textDark;
}
INPUT:disabled {
 @apply bg-gray-300;
}
INPUT:invalid, INPUT:focus:invalid, INPUT.invalid, INPUT:focus.invalid, TEXTAREA:invalid, TEXTAREA:focus:invalid, TEXTAREA.invalid, TEXTAREA:focus.invalid {
 @apply ring-0 ring-red-500 border-red-500 border-2;
}


DIV.deleteicon {
 BUTTON {
   @apply hover:text-black;
 }
}


DIV.spinner {
 @apply border-gray-600;
}

/*******************************************************************************
* site panel / backends
*/
#site_panel .button_peer, div.backends BUTTON, #site_panel .btn_sites {
 @apply !text-gray-700 hover:!text-white hover:brightness-95;
}

/*******************************************************************************
* search results
*/
DIV#search-results {
 @apply border-gray-400;
 LI {
   &.ajax_search_selected {
     @apply bg-yellow-200;
   }
   &.toomany {
     @apply text-orange-600;
   }
   &.error {
     @apply text-red-600;
   }
 }
 .disabled {
   @apply ml-5 text-orange-600 opacity-100;
 }
}

/*******************************************************************************
* action menu
*/

DIV.action_menu, DIV.context_menu {
 INPUT {
   color: initial;
 }
}

IMG.action_icon {
 &.clickable {
   &.active {
     @apply ring-gray-400;
   }
 }
}

/*******************************************************************************
* commands / action box
*/
DIV.actionbox {
 A {
   I, INPUT {
     color: initial;
   }
 }
}

/*******************************************************************************
* login page
*/
BODY.loginpage {
 @apply bg-gradient-to-t from-[#111] via-[#222] to-[#111];

 DIV.loginmask {
   @apply bg-[#444];

   BUTTON, A.button {
     @apply bg-gray-300 text-gray-700 hover:bg-gray-400 hover:text-white;
   }

   I.togglePassword {
     @apply textDark;
   }
   DIV.spinner {
     @apply border-white border-r-transparent;
   }
 }
}
