/* Thruk3.css */
@import '../../Thruk2/stylesheets/thruk_global.css';
@import '../../Thruk2/stylesheets/Thruk2.css'; 
@import '@fortawesome/fontawesome-free/css/all.css'; 



@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************************************************************************
 * general
 */
body {
  @apply
    bg-river-bed-100
    font-sans
    text-river-bed-600
    text-sm
    leading-normal tracking-normal
	bg-none
  ;
}

header {
  @apply
    sticky top-0 z-50 px-4 card bg-white
  ;
}
.header {height: 50px;}

main {
  @apply
    relative px-4 pt-2 pb-4
  ;
}
	

@media print {
  .noprint {
    display:none;
  }
}

.clickable:hover {
  cursor: pointer;
  vertical-align: middle;
}
.notclickable {
  cursor: default;
  vertical-align: middle;
}

/*******************************************************************************
 * sidebar 
 */
 
.app-logo {
  @apply
    block sticky top-0 z-50 px-2 card bg-white;
	height: 50px;
}
.app-logo > img {
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}






.sidebar {
  @apply
    mb-6 text-left bg-gray-900 text-gray-500
  ;
}
.sidebar > ul {
  @apply
    block flex-wrap list-none pl-0 mb-0 mt-0
  ;
}
.sidebar > ul > li {
}
.sidebar > ul > li > a {
  @apply
    text-gray-300 hover:bg-gray-800 hover:text-gray-200  pt-1 pb-1.5 pl-4 pr-4 text-sm block no-underline hover:no-underline font-semibold flex flex-row items-start border-t border-b border-solid border-gray-600
  ;
}
.sidebar > ul > li.active {
  @apply
    bg-gray-700
  ;
}
.sidebar > ul > li.active > a {
  @apply
    text-gray-200 hover:bg-gray-600 hover:text-gray-200 pt-1 pb-1.5 pl-4 pr-2 text-sm no-underline hover:no-underline font-semibold flex flex-row items-center
  ;
}
.sidebar > ul > li > ul {
  @apply
    flex-wrap list-none pl-0 mb-0 mt-0
  ;
}
.sidebar > ul > li > ul > li > a {
  @apply
    pt-0.5 pb-1 pl-4 text-gray-200 hover:bg-gray-600 hover:text-gray-200 border-l border-solid border-gray-600 text-sm block no-underline hover:no-underline
  ;
}
.sidebar > ul > li > ul > li.active > a {
  @apply
    pt-0.5 pb-1 pl-4 pr-2 text-gray-200 hover:bg-gray-500 hover:text-gray-200 border-l border-solid border-gray-600 text-sm flex flex-row items-start no-underline hover:no-underline
  ;
}
.sidebar > ul > li > ul > li:last-child > a {
  @apply
    mb-4
  ;
}


.sidebar > ul > li.active > ul > li.active {
  @apply
    bg-gray-600
  ;
}


.sidebar > ul > li > ul > li > ul {
  @apply
    flex-wrap list-none pl-0 mb-0 mt-0
  ;
}
.sidebar > ul > li > ul > li > ul > li > a {
  @apply
    pt-0.5 pb-0.5 pl-8 text-gray-200 hover:bg-gray-600 hover:text-gray-200 border-l border-solid border-gray-600 text-sm block no-underline hover:no-underline
  ;
}
.sidebar > ul > li > ul > li > ul > li:last-child > a {
  @apply
    mb-2
  ;
}

.sidebar div.navbarsearch form fieldset {
  @apply
    p-2
  ;
}
.sidebar input.NavBarSearchItem {
  @apply
    block appearance-none border border-gray-900 rounded-md w-full py-3 px-4 text-gray-900 leading-5 focus:outline-none focus:ring-2 focus:ring-gray-500
  ;
}
.sidebar span.deleteicon span {
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}

/*******************************************************************************
 * Cards
 */
.card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.table-in-card th {
	@apply px-2 py-1;
}
.table-in-card td {
	@apply px-2;
}
.table-in-card th:first-child,
.table-in-card td:first-child {
	@apply pl-0;
}
.table-in-card th:last-child,
.table-in-card td:last-child {
	@apply pr-0;
}
.table-in-card td .perfValue {
	@apply text-gray-900;
}
.table-in-card td .perfItem {
	@apply font-semibold;
}

.table-padding th {
	@apply px-2 py-1 font-semibold;
}
.table-padding td {
	@apply px-2;
}
.table-padding th:first-child,
.table-padding td:first-child {
	@apply pl-4;
}
.table-padding th:last-child,
.table-padding td:last-child {
	@apply pr-4;
}

.table-padding-0 {
	@apply px-0 py-0;
}
.table-padding-0 th {
	@apply px-0 py-0 font-semibold;
}
.table-padding-0 td {
	@apply px-0 py-0;
}

.table-padding-test {
	@apply px-0 py-0 ;

}
.table-padding-test th {
	@apply px-0 py-0 font-semibold;

}
.table-padding-test td {
	@apply px-0 py-0;

}

/*******************************************************************************
 * buttons
 */
BUTTON, INPUT[type=submit] {
    @apply bg-gray-200 border rounded-sm border-black font-medium p-1 text-black hover:bg-gray-400;
}

BUTTON.primary {
    @apply bg-yellow-400 hover:bg-yellow-300 
}

BUTTON.round {
    @apply w-8 h-2 rounded-full border-none
}
BUTTON.round.big {
    @apply w-10 h-10 text-xl my-1 mx-0.5
}
.button_peerUP {
    @apply bg-green-500 !important;
}
.button_peerDOWN {
    @apply bg-red-500 !important;
}

/*******************************************************************************
 * Login Page
 */
BODY.loginpage {
    @apply flex flex-col text-center h-screen w-screen;
    background: #f1f1f1;
    background: -moz-radial-gradient(center, ellipse cover,    #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,             #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    DIV.loginmask {
        @apply bg-gray-200 rounded py-6 px-10 m-14 flex flex-col items-center justify-center mx-auto shadow-float
    }

    DIV.loginmask FORM {
        @apply mt-4 mb-4
    }

    DIV.loginmask FORM DIV {
        @apply mb-4
    }

    DIV.loginmask FORM BUTTON {
        @apply bg-gray-500 hover:bg-gray-600 text-white font-bold w-full py-3
    }

    DIV.loginmask FORM INPUT {
        @apply border-solid border border-gray-400 rounded px-2 py-3
    }

    DIV.loginmask DIV.version {
        @apply font-bold;
    }

    DIV.mainfooter {
        @apply opacity-20 font-light text-xs hidden md:block
    }
    DIV.mainfooter:hover {
        @apply opacity-100 font-medium
    }
}

DIV.mainfooter DIV.logos {
    @apply flex w-1/2 mx-auto;
}

DIV.mainfooter DIV.logos A {
    @apply mx-auto;
}

/*******************************************************************************
 * settings popup
 */
#pref_pane {
    @apply shadow-float;
    width:490px;
    min-height:100px;
    position:fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
    background-color:#ffffff;
    border-width: 1px;
    border-spacing: 2px;
    border-style: inset;
    border-color: #C4C2C2;

    TH {
        @apply text-left;
    }

    TABLE.pref_pane {
        margin-top: 0px;
        margin-bottom: 0px;
        border-collapse: separate;
        background-color: inherit;
        width: 100%;
    }

    TABLE.pref_pane .separator {
        border-bottom: 1px dotted grey;
        text-align: center;
        padding-top: 10px;
    }

    .pref_pane_long_inp {
        width: 270px;
    }
    .pref_pane_short_inp {
        width: 160px;
    }

    img.pref_pane_button {
        position:absolute;
        top: 4px;
        right: 4px;
        z-index: 100;
    }
}

/*******************************************************************************
 * settings popup
 */
.thruk_dev_panel {
    position: absolute;
    border: 1px dashed grey;
    background: #DDDDDD;
    padding: 0 5px;
    z-index: 100;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3px;

    TABLE {
        border-collapse: collapse;
    }

    DIV.profiles {
        height: 600px;
        overflow-y: auto;
        min-width: 700px;
        white-space: pre;
        font-family: monospace;
    }

    .thruk_dev_panel_bar {
        padding: 0;
        margin: 0;
        border: 1px solid black;
        height: 20px;
        min-width: 1px;
    }

    .thruk_dev_panel_square {
        width: 8px;
        height: 8px;
        border: 1px solid gray;
        margin-right: 3px;
        display: inline-block;
    }

    .thruk_dev_panel TABLE TH {
        text-align: left;
    }

    .thruk_dev_panel DIV.profiles TR:hover {
        background: #cecece;
    }

    .thruk_dev_panel button.previous {
        border: 0;
        background: url('../images/resultset_previous.png') no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .thruk_dev_panel button.next {
        border: 0;
        background: url('../images/resultset_next.png') no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .thruk_dev_panel .stats_elapsed {
        text-align: right;
        padding-right: 10px;;
    }
}

/*******************************************************************************
 * top navigation
 */

TABLE.top_nav {
    @apply w-full;

    BUTTON.round {
        @apply mx-1
    }
}

/*******************************************************************************
 * status page command popup
 */
div.cmd_pane {
  min-width:400px;
  height:100px;
  visibility:hidden;
  position:fixed;
  top: 60px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
  white-space: nowrap;
}
table.cmd_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.cmd_pane > tbody > tr > td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
}

img.cmd_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
th.cmd_pane a, th.cmd_pane {
  text-align:center;
  color:#DCE5C1;
  font-size:10pt;
}

/*******************************************************************************
 * site panel / backends
 */
TABLE.site_panel_container {
     @apply m-0 p-0;
}
div.backend {
    @apply float-left -ml-1;

    INPUT {
        @apply bg-gray-200 border border-black border-opacity-50 font-medium p-0 text-black hover:bg-gray-400 w-20 text-xs;
    }
	input.button_peerUP {
		@apply bg-green-500 hover:bg-green-700 py-1 px-2;
	}
	input.button_peerDOWN {
		@apply bg-red-500 hover:bg-red-700 py-1 px-2;
	}
	input.button_peerDIS {
		@apply py-1 px-2;
	}
}
div.backend:first-child {
	input {
		@apply rounded-l;
	}
}
div.backend:last-child {
	input {
		@apply rounded-r;
	}
}


/*******************************************************************************
 * Overwrite old classes
 */




