/* Thruk3.css */
@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************************************************************************
 * general
 */
body {
  @apply
    bg-river-bed-100
    font-sans
    text-river-bed-600
    text-sm
    leading-normal tracking-normal
  ;
}

@media print {
  .noprint {
    display:none;
  }
}

.clickable:hover {
  cursor: pointer;
  vertical-align: middle;
}
.notclickable {
  cursor: default;
  vertical-align: middle;
}


/*******************************************************************************
 * buttons
 */
BUTTON, INPUT[type=submit] {
    @apply bg-gray-200 border rounded-sm border-black font-medium p-1 shadow text-black hover:bg-gray-400;
}

BUTTON.primary {
    @apply bg-yellow-300 hover:bg-yellow-400
}

BUTTON.round {
    @apply w-8 h-2 rounded-full shadow-float border-none
}
BUTTON.round.big {
    @apply w-11 h-11 text-2xl
}
.button_peerUP {
    @apply bg-green-500 !important;
}
.button_peerDOWN {
    @apply bg-red-500 !important;
}

/*******************************************************************************
 * Login Page
 */
BODY.loginpage {
    @apply flex flex-col text-center h-screen w-screen;
    background: #f1f1f1;
    background: -moz-radial-gradient(center, ellipse cover,    #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,             #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    DIV.loginmask {
        @apply bg-gray-200 rounded py-6 px-10 m-14 flex flex-col items-center justify-center mx-auto shadow-float
    }

    DIV.loginmask FORM {
        @apply mt-4 mb-4
    }

    DIV.loginmask FORM DIV {
        @apply mb-4
    }

    DIV.loginmask FORM BUTTON {
        @apply bg-gray-500 hover:bg-gray-600 text-white font-bold w-full py-3
    }

    DIV.loginmask FORM INPUT {
        @apply border-solid border border-gray-400 rounded px-2 py-3
    }

    DIV.loginmask DIV.version {
        @apply font-bold;
    }

    DIV.mainfooter {
        @apply opacity-20 font-light text-xs hidden md:block
    }
    DIV.mainfooter:hover {
        @apply opacity-100 font-medium
    }
}

DIV.mainfooter DIV.logos {
    @apply flex w-1/2 mx-auto;
}

DIV.mainfooter DIV.logos A {
    @apply mx-auto;
}

/*******************************************************************************
 * settings popup
 */
#pref_pane {
    @apply shadow-float;
    width:490px;
    min-height:100px;
    position:fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
    background-color:#ffffff;
    border-width: 1px;
    border-spacing: 2px;
    border-style: inset;
    border-color: #C4C2C2;

    TH {
        @apply text-left;
    }

    TABLE.pref_pane {
        margin-top: 0px;
        margin-bottom: 0px;
        border-collapse: separate;
        background-color: inherit;
        width: 100%;
    }

    TABLE.pref_pane .separator {
        border-bottom: 1px dotted grey;
        text-align: center;
        padding-top: 10px;
    }

    .pref_pane_long_inp {
        width: 270px;
    }
    .pref_pane_short_inp {
        width: 160px;
    }

    img.pref_pane_button {
        position:absolute;
        top: 4px;
        right: 4px;
        z-index: 100;
    }
}

/*******************************************************************************
 * settings popup
 */
.thruk_dev_panel {
    position: absolute;
    border: 1px dashed grey;
    background: #DDDDDD;
    padding: 0 5px;
    z-index: 100;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3px;

    TABLE {
        border-collapse: collapse;
    }

    DIV.profiles {
        height: 600px;
        overflow-y: auto;
        min-width: 700px;
        white-space: pre;
        font-family: monospace;
    }

    .thruk_dev_panel_bar {
        padding: 0;
        margin: 0;
        border: 1px solid black;
        height: 20px;
        min-width: 1px;
    }

    .thruk_dev_panel_square {
        width: 8px;
        height: 8px;
        border: 1px solid gray;
        margin-right: 3px;
        display: inline-block;
    }

    .thruk_dev_panel TABLE TH {
        text-align: left;
    }

    .thruk_dev_panel DIV.profiles TR:hover {
        background: #cecece;
    }

    .thruk_dev_panel button.previous {
        border: 0;
        background: url('../images/resultset_previous.png') no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .thruk_dev_panel button.next {
        border: 0;
        background: url('../images/resultset_next.png') no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .thruk_dev_panel .stats_elapsed {
        text-align: right;
        padding-right: 10px;;
    }
}

/*******************************************************************************
 * top navigation
 */

TABLE.top_nav {
    @apply w-full;

    BUTTON.round {
        @apply mx-1
    }
}

/*******************************************************************************
 * status page command popup
 */
div.cmd_pane {
  min-width:400px;
  height:100px;
  visibility:hidden;
  position:fixed;
  top: 60px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
  white-space: nowrap;
}
table.cmd_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.cmd_pane > tbody > tr > td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
}

img.cmd_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
th.cmd_pane a, th.cmd_pane {
  text-align:center;
  color:#DCE5C1;
  font-size:10pt;
}

/*******************************************************************************
 * site panel / backends
 */
DIV.backend {
    @apply float-left;

    INPUT {
        @apply bg-gray-200 border rounded-sm border-black font-medium p-0 shadow text-black hover:bg-gray-400 w-20 text-xs;
    }
}