
.cmd { font-family: arial,serif; background-color: #fff; color: #000; font-size: 8pt; }

a { color: #6e7475; text-decoration: none; }
a:hover { color: #000; }
th { text-align: left; font-size: 8pt; text-align: left; padding: 0 5px; border: 0; }
td { font-size: 8pt; border: 0; }

.errorMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.errorDescription { text-align: center; font-weight: bold; font-size: 10pt; }
.warningMessage { text-align: center; color: #ff3300; font-weight: bold; font-size: 10pt; }
.infoMessage { text-align: center; color: #ff3300; font-weight: bold; }

.infoBox { color: #000; padding: 2; border: 0; }
.infoBoxTitle { font-size: 10pt; font-weight: bold; color: #000; }
.infoBoxBadProcStatus { color: #ff3300; }
a.homepageURL:Hover { color: #ff3300; }

.cmdType { font-weight: bold; text-align: center; }

.commandDescription { text-align: center; padding: 5; border:0; color: #707677; }
.descriptionTitle { text-align: center;  color: #707677; }

.optBox { border: 0; }
form .optBox { text-align: center; padding: 10px; background-color: #ededed; border: 1px solid #ccc; }
.optBoxTitle { margin-bottom: 10px; text-align: center; font-weight: bold; }
.optBoxRequiredItem { background-color: #ededed; }
