.servicePENDING  { background-color: #acacac; }
.serviceOK       { background-color: #00CC33; }
.serviceUNKNOWN  { background-color: #bf44b2; }
.serviceWARNING  { background-color: #ffa500; }
.serviceCRITICAL { background-color: #ff3300; }

.hostUP          { background-color: #00cc33; }
.hostDOWN        { background-color: #ff3300; }
.hostUNREACHABLE { background-color: #bf44b2; }
.hostPENDING     { background-color: #acacac; }

/* show log filter */
body.showlog .filter { border: 0; background-color: white; }
body.showlog .filterTitle { font-size: 10pt; font-weight: bold; background-color: white; }
body.showlog .filterValue { color: #707677; background-color: white; }
body.showlog .filterName { background-color: white; }
td.filter { background-color: white; }

body.navbar {
  text-align: left;
}

th.data a {
  color: white;
}

TD.tableRowSelected, TH.tableRowSelected {
  background-color:#72C3FB;
}

.filter_button_mini {
  position:relative;
  left: -3px;
  top: -4px;
}

BODY.status INPUT.filter_button {
  top: 4px;
  left: 0px;
  position: relative;
}

BODY.status TABLE.filter {
  margin-top: 4px;
  border: 1px solid grey;
}

TABLE.bookmarks TH {
  background-color: #707677;
  height: 17px;
}

td.dataVal.eventHandler {
  width: auto;
}