#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
DESTDIR=$(CURDIR)/debian/tmp/
PERLVER=$(shell perl -e 'use Config; print $$Config{version}')
HTTPDCONF=$(shell if [ -d "/etc/apache2/conf-available" ]; then echo "/etc/apache2/conf-available"; else echo "/etc/apache2/conf.d"; fi )
SHELL=bash
DIST := $(shell lsb_release -i | awk '{print tolower($$3)}')
RELEASE := $(shell lsb_release -r | awk '{print $$2}')

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr \
		--bindir="/usr/bin" \
		--datadir="/usr/share/thruk" \
		--libdir="/usr/lib/thruk" \
		--localstatedir="/var/lib/thruk" \
		--with-tempdir="/var/cache/thruk" \
		--sysconfdir="/etc/thruk" \
		--mandir="/usr/share/man" \
		--with-initdir="/etc/init.d" \
		--with-logdir="/var/log/thruk" \
		--with-logrotatedir="/etc/logrotate.d" \
		--with-bashcompletedir="/etc/bash_completion.d" \
		--with-thruk-user="www-data" \
		--with-thruk-group="www-data" \
		--with-thruk-libs="/usr/lib/thruk/perl5" \
		--with-httpd-conf="$(HTTPDCONF)" \
		--with-htmlurl="/thruk"
	echo $(HTTPDCONF)/thruk.conf                   >> debian/thruk-base.install
	echo $(HTTPDCONF)/thruk_cookie_auth_vhost.conf >> debian/thruk-base.install

override_dh_auto_install:
	dh_auto_install
	# enable su logrotate directive if required
	if [[ ${DIST} == debian ]] ; then \
		if [[ $$(echo "${RELEASE}>=7" | bc -l) -eq 1 || ${RELEASE} == testing || ${RELEASE} == unstable ]] ; then \
			sed -i -e 's/^.*#su/    su/' debian/tmp/etc/logrotate.d/thruk-base; \
		fi ; \
	elif [[ ${DIST} == ubuntu ]] ; then \
		if [[ $$(echo "${RELEASE}>=13.04" | bc -l) -eq 1 ]] ; then \
			sed -i -e 's/^.*#su/    su/' debian/tmp/etc/logrotate.d/thruk-base; \
		fi ; \
	fi
	# fix location of phantomjs
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/thruk
	mv debian/tmp/usr/share/thruk/script/phantomjs debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/thruk/
	sed -e 's|/usr/share/thruk/script/phantomjs|/usr/lib/'$(DEB_HOST_MULTIARCH)'/thruk/phantomjs|' \
		-i debian/tmp/etc/thruk/thruk.conf \
		-i debian/thruk-plugin-reporting.install
	echo "thruk-plugin-reporting: embedded-library usr/lib/$(DEB_HOST_MULTIARCH)/thruk/phantomjs: sqlite"   > debian/thruk-plugin-reporting.lintian-overrides
	echo "thruk-plugin-reporting: embedded-library usr/lib/$(DEB_HOST_MULTIARCH)/thruk/phantomjs: libpng"  >> debian/thruk-plugin-reporting.lintian-overrides
	echo "thruk-plugin-reporting: embedded-library usr/lib/$(DEB_HOST_MULTIARCH)/thruk/phantomjs: zlib"    >> debian/thruk-plugin-reporting.lintian-overrides
	echo "thruk-plugin-reporting: embedded-library usr/lib/$(DEB_HOST_MULTIARCH)/thruk/phantomjs: libjpeg" >> debian/thruk-plugin-reporting.lintian-overrides
	echo "thruk-plugin-reporting: embedded-library usr/lib/$(DEB_HOST_MULTIARCH)/thruk/phantomjs: openssl" >> debian/thruk-plugin-reporting.lintian-overrides
	echo "thruk-plugin-reporting: hardening-no-relro usr/lib/$(DEB_HOST_MULTIARCH)/thruk/phantomjs"        >> debian/thruk-plugin-reporting.lintian-overrides
	echo "debian/thruk-plugin-reporting.lintian-overrides" >> MANIFEST

override_dh_gencontrol:
	dh_gencontrol -- -Vextra:Depends=perlapi-$(PERLVER)

override_dh_strip:
	dh_strip --exclude=phantomjs

override_dh_auto_test:

%:
	dh $@
