#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
DESTDIR=$(CURDIR)/debian/tmp/
PERLARCH=$(shell perl -e 'use Config; print $$Config{archname}')

HTTPDCONF=$(shell if [ -d "/etc/apache2/conf-available" ]; then echo "/etc/apache2/conf-available"; else echo "/etc/apache2/conf.d"; fi )

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr \
		--bindir="/usr/bin" \
		--datadir="/usr/share/thruk" \
		--libdir="/usr/lib/thruk" \
		--localstatedir="/var/lib/thruk" \
		--with-temp-dir="/var/cache/thruk" \
		--sysconfdir="/etc/thruk" \
		--mandir="/usr/share/man" \
		--with-init-dir="/etc/init.d" \
		--with-logrotate-dir="/etc/logrotate.d" \
		--with-thruk-user="www-data" \
		--with-thruk-group="www-data" \
		--with-thruk-libs="/usr/lib/thruk/perl5" \
		--with-httpd-conf="$(HTTPDCONF)" \
		--with-htmlurl="/thruk"
	echo "thruk: embedded-library usr/lib/thruk/perl5/$(PERLARCH)/auto/Compress/Raw/Zlib/Zlib.so: zlib" >> debian/thruk.lintian-overrides
	echo "thruk: embedded-zlib ./usr/lib/thruk/perl5/$(PERLARCH)/auto/Compress/Raw/Zlib/Zlib.so"        >> debian/thruk.lintian-overrides

override_dh_strip:
	dh_strip --exclude=wkhtmltopdf

override_dh_auto_test:

%:
	dh $@
