- name: "install perl / git dependencies"
  include_role:
    name: yum_retry
  vars:
    package:
      - perl-ExtUtils-Manifest
      - perl-ExtUtils-Install
      - git-core
      - make

- stat: path=/usr/lib/locale/en_US.utf8
  register: locale_path
- name: "glibc-langpack-en when rhel >= 8"
  include_role:
    name: yum_retry
  vars:
    package:
      - glibc-langpack-en
  when: not locale_path.stat.exists and ansible_distribution_version|int >= 8

- name: "install File::ChangeNotify"
  shell: "sudo su - {{ site }} -c 'cpanm -n File::ChangeNotify'"
  args:
    creates: "/omd/sites/{{ site }}/local/lib/perl5/lib/perl5/File/ChangeNotify.pm"

- name: "git clone omd_utils"
  shell: "sudo su - {{ site }} -c 'cd ~/local/share && git clone --depth=1 --branch=master https://github.com/sni/omd_utils.git'"
  args:
    creates: "/omd/sites/{{ site }}/local/share/omd_utils"

- stat: path=/thruk
  register: thruk_path
- name: "run install.sh from omd_utils"
  shell: "sudo su - {{ site }} -c 'yes | ~/local/share/omd_utils/thruk_developer/install.sh /thruk'"
  when: thruk_path.stat.exists
