.peerDOWN { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }
.peerDIS { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; }
.hostPENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.servicePENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.itemTotalsTitle { font-family: arial,serif;  font-size: 8pt;  text-align: center; }

.nav_small_logo { margin: 0px; padding: 0px; }

body {
  margin-top: 0px;
}

body.navbar {
  font-family:arial,verdana,serif;
  margin: 5px;
  margin-top: 2px;
}

/* preferences pane */
div.pref_pane {
  width:450px;
  height:100px;
  visibility:hidden;
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
}
table.pref_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.pref_pane > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}

img.pref_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
table.top_nav {
  border: 0px none;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  font-size:8px;
}
.top_nav td {
  border: 0px none;
  padding: 0px;
  margin: 0px;
}

input.top_nav_pref_button {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
}
input.button_peerUP {
  color:#444444;
  background-color:#33FF00;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
}
input.button_peerDOWN {
  color:#444444;
  background-color:#F83838;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
}
input.button_peerDIS {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#ACACAC;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
}
input.button_peerHID {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#ACACAC;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  filter:alpha(opacity=40); /* IE */
  -moz-opacity: 0.40; /* Mozilla */
  opacity: 0.40; /* Opera */
}

/* class to preload images */
.hidepics {
  width:0px;
  height:0px;
  visibility:hidden;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

div.navbarsearch form fieldset {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.navsection {
  margin:2px 0 8px;
}

.pager_direct_link {
  vertical-align:top;
  font-weight: normal;
  color: #000000;
}
.pager_direct_link_current {
  vertical-align:top;
  font-weight: bold;
  color: #FF6600;
}
.pager_input_img {
  vertical-align:text-bottom;
}

/* details hover for trends image map */
div.image_hover {
  visibility:hidden;
  z-index:100;
  position:absolute;
  top:3px;
  left:185px;
}
table.popupBorder {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #ffffcc;
  border-collapse: separate;
  background-color: #ffffcc;
}
body.trends table.popupBorder > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #ffffcc;
  background-color: #ffffcc;
}
body.trends table.popupText {
  background-color: #ffffcc;
  border: none;
}
body.trends table.popupText td {
  background-color: #ffffcc;
  border: none;
  vertical-align: top;
}
body.trends table.popupText th {
  background-color: #ffffcc;
  border: none;
  text-align: left;
  text-decoration: underline;
  min-width: 300px;
  vertical-align: top;
}

/* fix for calendar image in commands */
body.cmd img {
  vertical-align:text-bottom;
}
.cal_icon {
  vertical-align:text-bottom;
}
.date_input {
  border: none;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
}

/* fix for complete bold reports in summary */
body.summary td.dataOdd         { font-weight: normal; }
body.summary td.dataEven        { font-weight: normal; }
body.summary td.hostDOWN        { font-weight: normal; }
body.summary td.hostUP          { font-weight: normal; }
body.summary td.hostUNREACHABLE { font-weight: normal; }
body.summary td.serviceOK       { font-weight: normal; }
body.summary td.serviceWARNING  { font-weight: normal; }
body.summary td.serviceUNKNOWN  { font-weight: normal; }
body.summary td.serviceCRITICAL { font-weight: normal; }
body.summary table.data {
  background-color: white;
}

/* mouse over classes for inline command selection in status page */
.tableRowHover {
  background-color:#88BBD8;
}
.tableRowSelected {
  background-color:#609FD2;
}
.has_long_plugin_output {
  color: #0000FF;
}

/* command pane */
div.cmd_pane {
  width:400px;
  height:100px;
  visibility:hidden;
  position:fixed;
  top: 20px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
}
table.cmd_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.cmd_pane > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
}

img.cmd_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
th.cmd_pane a, th.cmd_pane {
  text-align:center;
  color:#DCE5C1;
  font-size:10pt;
}
th.status a:hover {
  color:#DCE5C1;
  font-size:10pt;
  text-decoration: none;
}
td.submit {
  text-align: center;
}

div.thruk_message {
  text-align: center;
  font-weight: bold;
}
.close_button {
  vertical-align: middle;
}
.success_message {
  color: #008000;
}
.fail_message {
  color: #FF0000;
}

/* show log filter */
body.showlog .filter { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
body.showlog .filterTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold;  background-color: #DBDBDB; }
body.showlog .filterName { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
body.showlog .filterValue { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }

/* overlay for status page */
.overDivTable {
  font-family: arial,serif;
  font-size: 8pt;
}
table.overDivTable {
  background-color: #DBDBDB;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #000000;
  border-collapse: separate;
}
table.overDivTable > tbody > tr > td {
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}

.overDivHead {
  background-color:#999797;
  color:#DCE5C1;
  font-size:10pt;
  text-align:left;
  border: 0x none;
}
.overDivContent {
  background-color: #DBDBDB;
  border: 0x none;
}

table.overDivTable a {
  font-size:8pt;
  font-weight: bold;
  color:#000000;
}

td.filter select {
  border: 0px;
}
td.filterValueInput input {
  width: 100px;
  border: 0px;
}
td.filterValue:hover {
  background-color:#88BBD8;
  cursor: pointer;
}
td.filterName {
  vertical-align: middle;
}
td.filterValueNoHighlight {
}

td.newfilter {
  line-height: 8px;
}
td.newfilter:hover {
  line-height: 8px;
  background-color:#88BBD8;
  cursor: pointer;
}
td.filter_table {
  white-space: normal;
}

div.filter_pane {
  z-index:100;
  position:absolute;
}
