/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.status { }

.itemTotalsTitle { font-size: 8pt; font-style: italic; }

table.status { font-size: 8pt; padding: 0 0 10px 0; }
th.status    { font-size: 9pt; text-align: center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; color: #333333; }
div.status   { font-size: 10pt; text-align: center; }
.statusOdd   { font-size: 8pt; background-color: #e7e7e7; line-height: 150%; padding: 0 4px 0 4px; }
.statusEven  { font-size: 8pt; background-color: #f4f2f2; line-height: 150%; padding: 0 4px 0 4px; }

.statusPENDING  { font-size: 8pt; background-color: #acacac; border: 1px solid #777777; padding: 0 5px 0 5px; }
.statusOK       { font-size: 8pt; background-color: #88d066; border: 1px solid #777777; padding: 0 5px 0 5px; }
.statusRECOVERY { font-size: 8pt; background-color: #88d066; border: 1px solid #777777; padding: 0 5px 0 5px; }
.statusUNKNOWN  { font-size: 8pt; background-color: #ffbb55; border: 1px solid #777777; padding: 0 5px 0 5px; }
.statusWARNING  { font-size: 8pt; background-color: #ffff00; border: 1px solid #777777; padding: 0 5px 0 5px; }
.statusCRITICAL { font-size: 8pt; background-color: #f88888; border: 1px solid #777777; padding: 0 5px 0 5px; }

.statusHOSTPENDING          { font-size: 8pt; background-color: #acacac; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTUP               { font-size: 8pt; background-color: #cce8cc; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTDOWN             { font-size: 8pt; background-color: #ffdddd; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTDOWNACK          { font-size: 8pt; background-color: #ffdddd; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTDOWNSCHED        { font-size: 8pt; background-color: #ffdddd; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTUNREACHABLE      { font-size: 8pt; background-color: #ffddaa; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTUNREACHABLEACK   { font-size: 8pt; background-color: #ffddaa; line-height: 150%; padding: 0 4px 0 4px; }
.statusHOSTUNREACHABLESCHED { font-size: 8pt; background-color: #ffddaa; line-height: 150%; padding: 0 4px 0 4px; }

.statusBGUNKNOWN          { font-size: 8pt; background-color: #ffddaa; }
.statusBGUNKNOWNACK       { font-size: 8pt; background-color: #ffddaa; }
.statusBGUNKNOWNSCHED     { font-size: 8pt; background-color: #ffddaa; }
.statusBGWARNING          { font-size: 8pt; background-color: #feffc1; }
.statusBGWARNINGACK       { font-size: 8pt; background-color: #feffc1; }
.statusBGWARNINGSCHED     { font-size: 8pt; background-color: #feffc1; }
.statusBGCRITICAL         { font-size: 8pt; background-color: #ffdddd; }
.statusBGCRITICALACK      { font-size: 8pt; background-color: #ffdddd; }
.statusBGCRITICALSCHED    { font-size: 8pt; background-color: #ffdddd; }
.statusBGDOWN             { font-size: 8pt; background-color: #ffdddd; }
.statusBGDOWNACK          { font-size: 8pt; background-color: #ffdddd; }
.statusBGDOWNSCHED        { font-size: 8pt; background-color: #ffdddd; }
.statusBGUNREACHABLE      { font-size: 8pt; background-color: #ffddaa; }
.statusBGUNREACHABLEACK   { font-size: 8pt; background-color: #ffddaa; }
.statusBGUNREACHABLESCHED { font-size: 8pt; background-color: #ffddaa; }

div.serviceTotals      { font-size: 10pt; text-align: center; font-weight: bold; }
table.serviceTotals    { font-size: 10pt; font-weight: bold; }
th.serviceTotals,a.serviceTotals { font-size: 8pt; }
th.serviceTotals       { font-size: 8pt; text-align: center; background-color: #e0e0e0; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.serviceTotalsOK       { font-size: 8pt; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.serviceTotalsWARNING  { font-size: 8pt; text-align: center; background-color: #ffff00; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.serviceTotalsUNKNOWN  { font-size: 8pt; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.serviceTotalsCRITICAL { font-size: 8pt; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.serviceTotalsPENDING  { font-size: 8pt; text-align: center; background-color: #acacac; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.serviceTotalsPROBLEMS { font-size: 8pt; text-align: center; background-color: #aaccff; border: 1px solid #777777; padding: 2px 4px 2px 4px; }

div.hostTotals         { font-size: 10pt; text-align: center; font-weight: bold; }
table.hostTotals       { font-size: 10pt; font-weight: bold; }
th.hostTotals,a.hostTotals { font-size: 8pt; }
td.hostTotals          { font-size: 8pt; text-align: center; background-color: #e0e0e0; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.hostTotalsUP          { font-size: 8pt; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.hostTotalsDOWN        { font-size: 8pt; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.hostTotalsUNREACHABLE { font-size: 8pt; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.hostTotalsPENDING     { font-size: 8pt; text-align: center; background-color: #acacac; border: 1px solid #777777; padding: 2px 4px 2px 4px; }
.hostTotalsPROBLEMS    { font-size: 8pt; text-align: center; background-color: #aaccff; border: 1px solid #777777; padding: 2px 4px 2px 4px; }

.miniStatusPENDING     { font-size: 8pt; text-align: center; background-color: #acacac; border: 1px solid #777777; padding: 0 5px 0 5px; }
.miniStatusOK          { font-size: 8pt; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 0 5px 0 5px; }
.miniStatusUNKNOWN     { font-size: 8pt; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 0 5px 0 5px; }
.miniStatusWARNING     { font-size: 8pt; text-align: center; background-color: #ffff00; border: 1px solid #777777; padding: 0 5px 0 5px; }
.miniStatusCRITICAL    { font-size: 8pt; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 0 5px 0 5px; }

.miniStatusUP          { font-size: 8pt; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 0 5px 0 5px; }
.miniStatusDOWN        { font-size: 8pt; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 0 5px 0 5px; }
.miniStatusUNREACHABLE { font-size: 8pt; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 0 5px 0 5px; }
