/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* avail.css */

BODY.avail { }
BODY.avail P {
 margin: 0;
 padding: 0;
}
BODY.avail TABLE {
 border-spacing: 0;
}

TD.optBoxItem SELECT {
 font-weight: normal;
}

/* table title */
DIV.dataTitle {
 text-align: center;
 font-weight: bold;
}

/* table data */
TABLE.data, TABLE.logEntries {
}
TH.data, TH.logEntries {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-right: solid 1px #ddd;
 font-size: 0.8em;
 padding: 0.2em;
 white-space: nowrap;
}
TABLE.data TD {
 font-size: 0.75em;
 padding: 0.1em 0.2em 0.1em 0.2em;
}
TABLE.logEntries TD {
 font-size: 0.7em;
 padding: 0.1em 0.2em 0.1em 0.2em;
}

TD.dataOdd, TD.logEntriesEven {
 background-color: #EEE;
 border-bottom: solid 1px #ddd;
}
TD.dataEven, TD.logEntriesOdd {
 background-color: #FFF;
 border-bottom: solid 1px #ddd;
}

TD.hostUP, TD.serviceOK, TD.logEntriesOK, TD.logEntriesUP {
 color: #669866;
 background-color: #a7ffa7;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.hostDOWN, TD.hostUNREACHABLE, TD.serviceCRITICAL, TD.logEntriesDOWN, TD.logEntriesUNREACHABLE, TD.logEntriesCRITICAL {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.serviceWARNING, TD.logEntriesWARNING {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.serviceUNKNOWN, TD.logEntriesUNKNOWN {
 color: #fff;
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.logEntriesINDETERMINATE {
 color: #fff;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGray.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}

.helpfulHint {
 text-align: left;
 font-size: 8pt;
 font-style: italic;
 text-align: center;
}

TD.dateSelectTitle {
 text-align: center;
 font-weight: bold;
}
TD.dateSelectSubTitle {
 text-align: left;
 font-weight: bold;
 font-size: 0.7em;
}
TD.dateSelectItem {
 text-align: left;
}
TD.dateSelectItem INPUT, TD.dateSelectItem SELECT {
 font-size: 0.7em;
}


.reportSelectTitle {
 text-align: center;
 font-weight: bold;
}
.reportSelectSubTitle {
 text-align: right;
 font-size: 0.7em;
}
.reportSelectItem {
 text-align: left;
}
TD.reportSelectItem INPUT, TD.reportSelectItem SELECT {
 font-weight: normal;
 font-size: 0.7em;
}

.reportSelectTip {
 text-align: left;
 font-size: 8pt;
 font-style: italic;
}

DIV.infoMessage {
 font-size: 0.7em;
}


/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TH.data {
   border: none;
   border-bottom: solid 0.5pt black;
  }
  TABLE.optBox {
   display: none;
  }
  TD.optBoxItem SELECT, TABLE.data TD, TABLE.logEntries TD, TD.dataOdd, TD.logEntriesEven, TD.dataEven, TD.logEntriesOdd, TD.hostUP, TD.serviceOK, TD.logEntriesOK, TD.logEntriesUP, TD.hostDOWN, TD.hostUNREACHABLE, TD.serviceCRITICAL, TD.logEntriesDOWN, TD.logEntriesUNREACHABLE, TD.logEntriesCRITICAL, TD.serviceWARNING, TD.logEntriesWARNING, TD.serviceUNKNOWN, TD.logEntriesUNKNOWN, TD.logEntriesINDETERMINATE, TD.dateSelectTitle, TD.dateSelectSubTitle, TD.dateSelectItem, TD.dateSelectItem INPUT, TD.dateSelectItem SELECT, TD.reportSelectItem INPUT, TD.reportSelectItem SELECT {
   background-image: none;
   background-color: transparent;
   color: #000;
  }
}

