/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* cmd.css */

BODY.cmd { }

.cmdType {
 font-weight: bold; 
 text-align: center; 
 color: red;
}

TABLE.commandDescription {
 font-size: 0.7em;
 text-align: center; 
 border: solid 1px #ddd;
 background-color: #ffe59f;
 padding: 1em 2em 1em 2em;
 line-height: 160%;
 text-align: justify;
}
DIV.descriptionTitle {
 text-align: center; 
 font-weight: bold;
}


BODY.cmd TABLE.optBox, BODY.cmd TABLE.optBox INPUT {
 font-size: 9pt;
}
BODY.cmd TABLE.optBox TABLE.optBox{
 border: none;
 padding: 0;
 margin: 0.5em 0 1em 0;
}
BODY.cmd TABLE.optBox TD.optBoxItem {
 color: #000;
}
BODY.cmd TABLE.optBox TD.optBoxRequiredItem {
 color: #F00; 
}

