/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* config.css */

BODY.config { }
BODY.config TABLE {
 border-spacing: 0;
}

.dataTitle {
 text-align: center;
 font-weight: bold;
}

TABLE.data {
 background-color: white;
 padding: 2;
}
TABLE.data TD {
 padding: 0.2em;
 font-size: 0.7em;
 vertical-align: top;
}
TH.data {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-right: solid 1px #ddd;
 font-size: 0.6em;
 padding: 0.2em;
}
TD.dataOdd {
 background-color: #EEE;
 border-bottom: solid 1px #ddd;
}
TD.dataEven {
 background-color: #FFF;
 border-bottom: solid 1px #ddd;
}

.reportSelectTitle { /* doesn't exist? */
 text-align: center;
 font-weight: bold;
}
TD.reportSelectSubTitle {
 font-size: 0.7em;
 font-weight: bold;
 color: #f00;
 background-color: #FFFFEE;
 padding: 0.1em 0.5em 0 0.5em;
}
TD.reportSelectItem {
 background-color: #FFFFEE;
 padding: 0.1em 0.5em 0 0.5em;
}

TD.reportSelectItem INPUT, TD.reportSelectItem SELECT {
 font-size: 0.7em;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TH.data {
   border: none;
   border-bottom: solid 0.5pt black;
  }
  TD.reportSelectSubTitle, TD.reportSelectItem {
   display: none;
  }
}

