/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* notifications.css */

BODY.notifications { }
BODY.notifications TABLE {
 border-spacing: 0;
}

.dataTitle {
 text-align: center;
 font-weight: bold;
 font-size: 12pt;
}

.navBoxTitle {
 font-size: 10pt;
 font-weight: bold;
}
.navBoxItem {
 font-size: 8pt;
 font-weight: bold;
 color: red;
}
.navBoxDate {
 font-size: 8pt;
 font-weight: bold;
}
.navBoxFile {
 font-size: 8pt;
 font-weight: bold;
 text-align: center;
}

TABLE.notifications {
 font-size: 10pt;
 background-color: white;
 padding: 5;
}
TH.notifications {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
 font-size: 1em;
 margin-bottom: 0.3em;
 border-right: 1px solid #ddd;
 padding: 0.2em;
 white-space: nowrap;
}
TD.notificationsOdd {
 background-color: #EEE;
 border: none;
 border-bottom: solid 1px #ddd;
 padding: 0 0.5em 0 0.5em;
 font-size: 0.8em;
}
TD.notificationsEven {
 background-color: #FFF;
 border: none;
 border-bottom: solid 1px #ddd;
 padding: 0 0.5em 0 0.5em;
 font-size: 0.8em;
}
TD.notificationsOdd TD, TD.notificationsEven TD {
 background: none;
 border: none;
}

.notificationsOK, .notificationsHOSTUP {
 color: #669866;
 background-color: #a7ffa7;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
}
.notificationsUNKNOWN {
 color: #fff;
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
 font-size: 0.8em;
}
.notificationsWARNING {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
 font-size: 0.8em;
}
.notificationsCRITICAL, .notificationsHOSTDOWN, .notificationsHOSTUNREACHABLE {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
 font-size: 0.8em;
}
.notificationsACKNOWLEDGEMENT, .notificationsHOSTACKNOWLEDGEMENT {
 font-size: 8pt;
 background-color: #AAAAAA;
}
.notificationsCUSTOM, .notificationsHOSTCUSTOM {
 font-size: 8pt;
 background-color: #778899;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TABLE.optBox {
   display: none;
  }
}

