/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* statusmap.css */

.statusmap {
}

.imageInfo {
 font-size: 0.7em;
 font-weight: bold;
 text-align: center;
}

.zoomTitle {
 font-size: 12pt;
 font-weight: bold;
}

.popupText {
 font-size: 0.6em;
 font-weight: bold;
 width: 100px;
}

@media print {
  .optBox {
   display: none;
  }
}
