.peerDOWN { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }
.peerDIS { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; }
.hostPENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.servicePENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.itemTotalsTitle { font-family: arial,serif;  font-size: 8pt;  text-align: center; }

@media print {
  .noprint {
    display:none;
  }
}

.nav_small_logo { margin: 0px; padding: 0px; }

/* always display left scrollbar so pages
 * don't flicker on dynamic elements
 */
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  margin: 0px;
  margin-left: 5px;
}

a img {
    border: none;
}

td.dataVal {
  text-align: left;
}
td.dataVar {
  text-align: left;
}
td.command {
  text-align: left;
}

body.navbar {
  margin: 0px;
  text-align: center;
}


/* shadow definition */
.shadowcontent, .shadow {
  position: relative;
  bottom: 6px;
  right: 6px;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.3);
}
.shadowcontent {
  background-color: #fff;
  color: #000;
}


/* preferences pane */
div.pref_pane {
  width:470px;
  height:100px;
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
}
table.pref_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.pref_pane > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}
TABLE.pref_pane TD {
    text-align: left;
}
img.pref_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
table.top_nav {
  border: 0px none;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  font-size:8px;
}
.top_nav td {
  border: 0px none;
  padding: 0px;
  margin: 0px;
}

td.top_nav_pref {
  vertical-align: top;
}

.top_nav div.backend {
  border: 0px none;
  padding: 0px;
  margin: 0px;
  float: left;
  overflow: hidden;
  width: 80px;
}

input.top_nav_pref_button {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
}
input.button_peerUP {
  color:#444444;
  background-color:#33FF00;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  cursor: pointer;
}
input.button_peerDOWN {
  color:#444444;
  background-color:#F83838;
  border-style:double;
  border-color:#999999;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  cursor: pointer;
}
input.button_peerDIS {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#ACACAC;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  cursor: pointer;
}
input.button_peerHID {
  color:#444444;
  background-color:#EEEEEE;
  border-style:double;
  border-color:#ACACAC;
  border-width:3px;
  font-size:9px;
  font-weight:normal;
  overflow: hidden;
  width: 80px;
  filter:alpha(opacity=60); /* IE */
  -moz-opacity: 0.60;       /* Mozilla */
  opacity: 0.60;            /* Opera */
}

/* class to preload images */
.hidepics {
  width:0px;
  height:0px;
  visibility:hidden;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

div.navbarsearch form fieldset {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.navsection {
  margin:0px 0 8px;
}

div.navsectionlinks {
  text-align: left;
}

.pager_direct_link {
  vertical-align:top;
  font-weight: normal;
  color: #000000;
}
.pager_direct_link_current {
  vertical-align:top;
  font-weight: bold;
  color: #FF6600;
}
.pager_input_img {
  vertical-align:text-bottom;
}

/* details hover for trends image map */
div.image_hover {
  visibility:hidden;
  z-index:100;
  position:absolute;
  top:3px;
  left:185px;
}
table.popupBorder {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #ffffcc;
  border-collapse: separate;
  background-color: #ffffcc;
}
body.trends table.popupBorder > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #ffffcc;
  background-color: #ffffcc;
}
body.trends table.popupText {
  background-color: #ffffcc;
  border: none;
}
body.trends table.popupText td {
  background-color: #ffffcc;
  border: none;
  vertical-align: top;
}
body.trends table.popupText th {
  background-color: #ffffcc;
  border: none;
  text-align: left;
  text-decoration: underline;
  min-width: 300px;
  vertical-align: top;
}

/* fix for calendar image in commands */
body.cmd img {
  vertical-align:text-bottom;
}
.cal_icon {
  vertical-align:text-bottom;
}
.date_input {
  border: none;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
}

/* fix for complete bold reports in summary */
body.summary td.dataOdd         { font-weight: normal; }
body.summary td.dataEven        { font-weight: normal; }
body.summary td.hostDOWN        { font-weight: normal; }
body.summary td.hostUP          { font-weight: normal; }
body.summary td.hostUNREACHABLE { font-weight: normal; }
body.summary td.serviceOK       { font-weight: normal; }
body.summary td.serviceWARNING  { font-weight: normal; }
body.summary td.serviceUNKNOWN  { font-weight: normal; }
body.summary td.serviceCRITICAL { font-weight: normal; }
body.summary table.data {
  background-color: white;
}

/* mouse over classes for inline command selection in status page */
.tableRowHover {
  background-color:#88BBD8;
  cursor: pointer;
}
.tableRowSelected {
  background-color:#609FD2;
  cursor: pointer;
}
.has_long_plugin_output {
  color: #0000FF;
}

/* command pane */
div.cmd_pane {
  min-width:400px;
  height:100px;
  visibility:hidden;
  position:fixed;
  top: 60px;
  right: 0px;
  z-index: 99;
  color: black;
  font-size: 9pt;
  white-space: nowrap;
}
table.cmd_pane {
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.cmd_pane > tbody > tr > td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
}

img.cmd_pane_button {
  position:absolute;
  top: 4px;
  right: 4px;
  z-index: 100;
}
th.cmd_pane a, th.cmd_pane {
  text-align:center;
  color:#DCE5C1;
  font-size:10pt;
}
th.status a:hover {
  color:#DCE5C1;
  text-decoration: none;
}
td.submit {
  text-align: center;
}

div.thruk_message table {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-weight: bold;
}
.close_button {
  vertical-align: middle;
}
.success_message {
  color: #008000;
}
.fail_message {
  color: #FF0000;
}

/* show log filter */
body.showlog .filter { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
body.showlog .filterTitle { font-family: arial,serif;  font-size: 10pt;  font-weight: bold;  background-color: #DBDBDB; }
body.showlog .filterName { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }
body.showlog .filterValue { font-family: arial,serif;  font-size: 8pt;  background-color: #DBDBDB; }

/* overlay for status page */
.overDivTable {
  font-family: arial,serif;
  font-size: 8pt;
}
table.overDivTable {
  background-color: #DBDBDB;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #000000;
  border-collapse: separate;
}
table.overDivTable > tbody > tr > td {
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}

.overDivHead {
  background-color:#999797;
  color:#DCE5C1;
  font-size:10pt;
  text-align:left;
  border: 0px none #000000;
}
.overDivContent {
  background-color: #DBDBDB;
  border: 0px none #000000;
}

table.overDivTable a {
  font-size:8pt;
  font-weight: bold;
  color:#000000;
}

td.filterValueInput input {
  width: 135px;
}
td.filterValueInput {
  white-space: nowrap;
}
td.filterValue:hover {
  background-color:#88BBD8;
  cursor: pointer;
}
td.filterName {
  vertical-align: top;
  white-space: nowrap;
}
td.filterValueNoHighlight {
}

td.newfilter {
  line-height: 8px;
  height: 12px;
  width: 14px;
}
td.newfilter:hover {
  line-height: 8px;
  background-color:#88BBD8;
  cursor: pointer;
}
td.filter_table {
  white-space: normal;
}

div.filter_pane {
  z-index:100;
  position:absolute;
}

/* prevent showlog from wrapping long log lines */
div.logEntries {
  white-space: nowrap;
}
div.logEntries img {
  vertical-align: middle;
}

.filter_button_mini {
  position:relative;
  top: -6px;
  left: -5px;
}

td.clickable {
  vertical-align: middle;
}
.clickable {
  vertical-align: middle;
}
.clickable:hover {
  cursor: pointer;
  vertical-align: middle;
}
.notclickable {
  cursor: default;
}

table.filter > tbody > tr > td {
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

.btn_toggle_top_pane {
  position: absolute;
  top: 21px;
  right: 0px;
}

.hidenav {
  position: fixed;
  top: 0px;
  left: 175px;
  width: 7px;
  height: 100%;
  background-image: url(../images/drag.png);
  background-repeat: no-repeat;
  background-color:#e0dfde;
  background-position: center;
}

.hidenav:hover {
  background-image: url(../images/drag_hover.png);
  background-color:#9e9c9a;
}

.shownav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 7px;
  height: 100%;
  background-image: url(../images/drag.png);
  background-repeat: no-repeat;
  background-color:#e0dfde;
  background-position: center;
}

.shownav:hover {
  background-image: url(../images/drag_hover.png);
  background-color:#9e9c9a;
}

.hint {
  font-size: smaller;
  text-align: center;
}

.dataVal {
  white-space: nowrap;
}
td.stateInfoTable1 .dataVal {
  white-space: normal;
}

/* Search result suggestions */
#search-results {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  border: 1px solid #484256;
  background-color:white;
  font-size:8pt;
  font-family: arial,serif;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2000;
  text-align: left;
}

#search-results ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  color:black;
  display: block;
}

#search-results a{
  text-decoration: none;
  color:black;
  width: 150px;
  display: block;
}

#search-results a.ajax_search_selected, #search-results a:hover {
  background-color:#88BBD8;
  cursor: pointer;
}

/* generic rules */
.no_margin {
  margin: 0px;
}

.command_line {
  max-width:800px;
}

.config_info {
    white-space: pre-wrap;
}

body.config TABLE.conftool {
    width: auto;
}
body.config TABLE.conftoolusers {
    width: 450px;
}
body.config TD.dataUserVar {
    text-align: center;
    font-weight: bold;
}
body.config TD.dataSubmit {
    text-align:center;
    padding: 4px;
}

TABLE.cmd_pane tbody > tr > th > A > IMG {
  vertical-align: text-bottom;
}

.bookmarkHead {
  font-size: 9pt;
  font-weight: bold;
  background-color: #DBDBDB;
  line-height: 13pt;
}

TABLE.bookmarkTable {
  border: 0px;
}

TABLE.bookmarkTable TD {
  border: 0px;
}

TABLE.bookmarkTable TD.bookmarkTable {
  border: 0px;
}


TABLE.hostcomments TD, TABLE.hostdowntimes TD,TABLE.servicecomments TD, TABLE.servicedowntimes TD {
  text-align: center;
}
TABLE.hostcomments TH, TABLE.hostdowntimes TH,TABLE.servicecomments TH, TABLE.servicedowntimes TH {
  text-align: center;
  white-space: nowrap;
}

select#quick_command option {
  background-repeat:no-repeat;
  background-position:center left;
  padding-left:24px;
  height: 22px;
}
select#quick_command {
  height: inherit;
}

.vertical {
  width: 18px;
  margin: 0px;
  margin-bottom: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.00000000, M12=1.00000000, M21=-1.00000000, M22=-0.00000000,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.00000000, M12=1.00000000, M21=-1.00000000, M22=-0.00000000,sizingMethod='auto expand');
  -moz-transform:  matrix(-0.00000000, -1.00000000, 1.00000000, -0.00000000, 0, 0);
  -webkit-transform:  matrix(-0.00000000, -1.00000000, 1.00000000, -0.00000000, 0, 0);
  -o-transform:  matrix(-0.00000000, -1.00000000, 1.00000000, -0.00000000, 0, 0);
}

TABLE.minemap TD.minemap_head {
    height:150px;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    border-top: 0px;
}

TABLE.minemap DIV.servicePENDING {
  float: inherit;
  text-align: inherit;
}

TABLE.overDivContent TH.dataVar {
  text-align: left;
}

td.attrValue {
  font-weight: normal;
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 3px;
  padding-right: 3px;
}
td.attrValue:hover {
  background-color:#88BBD8;
  cursor: pointer;
}
td.attrName {
  vertical-align: top;
  white-space: nowrap;
}

.dialogWithDropShadow {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.left {
  text-align: left;
}

DIV#progressbar .ui-progressbar-value {
  background-image: url(../../../javascript/jquery-ui/css/smoothness/images/pbar-ani.gif);
}

SPAN.deleteicon {
  position: relative;
}
SPAN.deleteicon SPAN {
  position: absolute;
  display: block;
  top: -1px;
  right: 3px;
  width: 14px;
  height: 14px;
  background: url('../images/btn_close_small.png');
  cursor: pointer;
}
SPAN.deleteicon INPUT {
  padding-right: 16px;
}

.ui-add-button {
  background-image: url(../images/add.png) !important;
}
.ui-ok-button {
  background-image: url(../images/accept.png) !important;
}
.ui-save-button {
  background-image: url(../images/disk.png) !important;
}
.ui-remove-button {
  background-image: url(../images/delete.png) !important;
}
.ui-preview-button {
  background-image: url(../images/lightning_go.png) !important;
}
.ui-wzd-button {
  background-image: url(../images/wand.png) !important;
}
.ui-r-arrow-button {
  background-image: url(../images/arrow_right.png) !important;
}
.ui-l-arrow-button {
  background-image: url(../images/arrow_left.png) !important;
}
button.ui-button span.ui-button-text {
  line-height: 1.0 !important;
}
button.ui-button-icon-only {
  width: 2em !important;
}
input.ui-button {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}


TD.action_menu {
  width: 250px;
  padding-left: 20px;
}

input.top_refresh_button, img.top_bug_button {
  margin-top: 2px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
body.splashpage input.top_refresh_button {
  display: none;
}

td.filterValueInput input.filter_pre_value {
    width: 80px;
}

SELECT.filter_op_select {
  width: 45px;
}

.hidden {
  visibility:hidden;
}


A.button {
  height: 25px;
}
BUTTON.button {
  height: 27px;
  min-width: 27px;
}

body.extinfo TABLE.recurring_downtimes {
  min-width: 600px;
  margin-left: 10px;
}
TABLE.recurring_downtimes TD {
  padding-top: 3px;
  padding-bottom: 3px;
}
TABLE.recurring_downtimes INPUT[type=text] {
  width: 515px;
}

SPAN.required {
    color: red;
}#currentversioninfo {
  font-size:14px;
}

#currentversioninfo .product,#currentversioninfo .version {
  font-size:16px;
  font-weight:bold;
}

#currentversioninfo .releasedate {
  font-size:13px;
  margin:5px 0 0;
}

#currentversioninfo .whatsnew {
  font-size:13px;
  font-weight:bold;
  margin:50px 0 0;
}

#mainbrandsplash {
  font-size:14px;
  font-weight:bold;
  margin:0 0 35px;
}

#maincopy {
  margin:0 0 15px;
}

#search-results {
  background:#F9F9F7;
}

#splashpage #mainfooter {
  margin:100px 0 0;
}

#splashpage #mainfooter .disclaimer {
  margin:auto;
  width:80%;
}

#splashpage #mainfooter .logos {
  margin:15px 0 0;
}

#splashpage {
  text-align:center;
}

.featureDisabled,.featureDisabledNotifications,.featureItemDisabledServiceNotifications,.featureItemDisabledHostNotifications,.featureDisabledFlapDetection,.featureItemDisabledServiceFlapDetection,.featureItemDisabledHostFlapDetection,.featureItemServicesFlapping,.featureItemHostsFlapping,.featureDisabledHandlers,.featureItemDisabledServiceHandlers,.featureItemDisabledHostHandlers,.featureDisabledActiveChecks,.featureItemDisabledActiveServiceChecks,.featureItemDisabledActiveHostChecks,.featureDisabledPassiveChecks,.featureItemDisabledPassiveServiceChecks,.featureItemDisabledPassiveHostChecks {
  background-color:#FFC0C0;
  white-space: nowrap;
}

.filter_button_mini {
  left:-8px;
  position:relative;
  top:-3px;
}

.hostUNREACHABLE {
  background-color:#FF0038;
}

.infoBoxBadProcStatus {
  color:red;
}

.infoMessage,.optionBoxTitle,.dataTitle,.infoBoxTitle,.filterTitle,.statusTitle,.itemTotalsTitle,.queueTitle,.optBoxTitle,.descriptionTitle,.navBoxTitle {
  font-weight:bold;
}

DIV.infoMessage {
  text-align: center;
}

.navbarlogo {
  margin:0 0 10px;
}

.navbarsearch fieldset {
  border:none;
}

.navbarsearch fieldset legend {
  line-height:0;
  visibility:hidden;
}

.navbarsearch input {
  font-size:12px;
  width:140px;
}

.navsection {
  line-height:16px;
  margin:5px 0 10px;
}

.navsectionfooter {
  background:transparent url(../images/menu-bottom.png) no-repeat;
  height:7px;
  line-height:7px;
}

.navsectiontitle {
  background:transparent url(../images/menu-top.png) no-repeat;
  font-size:14px;
  font-weight:bold;
  height:20px;
  line-height:22px;
  text-align:center;
  vertical-align:bottom;
  width:172px;
}

.notificationsDISABLED,.queueDISABLED,.checksDISABLED,.eventhandlersDISABLED,.flapdetectionDISABLED,.flapping,.downtimeACTIVE,.processCRITICAL,.hostDOWN,.hostUNREACHABLE,.serviceCRITICAL,input.button_peerDOWN,.serviceCRITICAL,.hostDOWN {
  background-color:#FF5B33;
}

.notificationsENABLED,.queueENABLED,.eventhandlersENABLED,.checksENABLED,.flapdetectionENABLED,.notflapping,.downtimeINACTIVE,.processOK,.hostUP,.serviceOK,.featureEnabled,.featureEnabledNotifications,.featureItemEnabledServiceNotifications,.featureItemEnabledHostNotifications,.featureEnabledFlapDetection,.featureItemEnabledServiceFlapDetection,.featureItemEnabledHostFlapDetection,.featureItemServicesNotFlapping,.featureItemHostsNotFlapping,.featureEnabledHandlers,.featureItemEnabledServiceHandlers,.featureItemEnabledHostHandlers,.featureEnabledActiveChecks,.featureItemEnabledActiveServiceChecks,.featureItemEnabledActiveHostChecks,.featureEnabledPassiveChecks,.featureItemEnabledPassiveServiceChecks,.featureItemEnabledPassiveHostChecks,input.button_peerUP,.serviceOK,.hostUP,TD.hostUP {
  background-color:#00FF33;
  white-space: nowrap;
}

.outageImportantProblem,.hostImportantProblem,.serviceImportantProblem {
  background-color:#FF5B33;
  white-space:nowrap;
}

.outageUnimportantProblem,.hostUnimportantProblem,.serviceUnimportantProblem {
  background-color:#FFC0C0;
  white-space:nowrap;
}

.overDivContent {
  background-color:#F0F1EE;
  border:0 none #000000;
}

.overDivHead {
  color:#444444;
  font-size:12px;
  line-height:12px;
}

.processWARNING,.serviceWARNING {
  background-color:#FFDE00;
}

.servicePENDING,.hostPENDING {
  background-color:#ACACAC;
}

.serviceUNKNOWN {
  background-color:#FF9E00;
}

td.filterValue:hover,#search-results a.ajax_search_selected,#search-results a:hover, .tableRowHover,td.newfilter:hover {
  background-color:#FFEB66;
}

.tableRowSelected {
  background:#C3D9FF;
  height:22px;
}

DIV.blockHead,DIV.commandTitle {
  background-color:#F0F1EE;
  background-image:url(../images/border_big.gif);
  background-repeat:repeat-x;
  font-size:14px;
  font-weight:bold;
  line-height:16px;
  margin:0;
  padding:0;
}

DIV.comment,DIV.downtime {
  text-align:center;
  vertical-align:top;
}

DIV.commentNav,DIV.downtimeNav {
  font-weight:bold;
  text-align:center;
}

DIV.commentTitle,DIV.downtimeTitle {
  font-weight:bold;
  padding-bottom:5px;
  padding-top:15px;
  text-align:center;
}

DIV.data {
  font-size:12px;
  font-weight:bold;
  height:20px;
  padding:0;
  text-align:center;
}

DIV.perfTypeTitle,DIV.commandTitle {
  font-weight:bold;
  height:20px;
  padding:0;
  text-align:center;
  vertical-align:middle;
  line-height: 18px;
}
DIV.dataTitle {
  font-weight:bold;
  padding:0;
  text-align:center;
  vertical-align:middle;
  line-height: 18px;
}

DIV.errorDescription {
  font-size:12px;
  text-align:center;
}

DIV.errorMessage {
  color:#FF5B33;
  font-size:14px;
  text-align:center;
}

DIV.hostTotals,DIV.serviceTotals,DIV.status {
  font-size:13px;
  font-weight:bold;
  margin-bottom:2px;
}

DIV.infoBoxTitle {
  font-size:12px;
  line-height:13px;
  padding-bottom:5px;
  vertical-align:top;
  white-space: nowrap;
}

DIV.peerDIS,DIV.peerDOWN {
  text-align:center;
  width:100%;
}
DIV.peerDOWN {
  background-color: #FF5B33;
}

DIV.perfDataTitle {
  background-color:transparent;
  background-image:none;
  border:1px none;
}

DIV.perfTypeTitle {
  font-size:13px;
  font-weight:bold;
}

DIV.statusTitle,DIV.dataTitle,DIV.reportSelectTitle,DIV.dateSelectTitle,DIV.navBoxTitle,DIV.commentTitle,DIV.downtimeTitle {
  font-size:16px;
  font-weight:bold;
}

DIV.statusTitle {
  padding-left: 20px;
  padding-right: 20px;
}

TABLE.cmd_pane {
  background-color:#F0F1EE;
  border:1px solid #444444;
  margin:0;
  padding:0;
  border-spacing:0px;
}

TABLE.cmd_pane tbody > tr > td {
  background-color:#F0F1EE;
  border:medium none;
}

TABLE.cmd_pane tbody > tr > th {
  background-color:#E7E5DD;
  background-image:url(../images/border_small.png);
  background-position:bottom;
  background-repeat:repeat-x;
  border:none;
  border-right:1px #E2DECD solid;
  font-size:12px;
  height:20px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  white-space:nowrap;
}

TABLE.cmd_pane tbody > tr > th > A > IMG {
  vertical-align: middle;
}

TABLE.cmd_pane th,TABLE.cmd_pane a,TABLE.cmd_pane a:hover {
  color:#000000;
}

TABLE.command {
  background-color:#F0F1EE;
  padding:0;
  text-align:center;
}

TABLE.commandPanel {
  border:1px #E2DECD outset;
}

TABLE.commandPanel TD,TD.statusOdd {
  background-color:#E7E5DD;
}
TABLE.commandPanel TD {
  padding-left: 10px;
  padding-right: 10px;
}

TABLE.commandPanel TH {
  background-color:#E7E5DD;
  background-image:none;
  border:0 none;
  vertical-align:top;
}

TABLE.comment,TABLE.downtime,TABLE.notifications {
  background-color:#F0F1EE;
  border:1px #E2DECD outset;
  text-align:center;
}

TABLE.data,TABLE.queue,TABLE.commandDescription {
  background-color:#F0F1EE;
  border:1px #444444 outset;
  border-spacing:0;
  margin:0;
  padding:0;
  text-align:center;
}
TABLE.command {
  background-color:#F0F1EE;
  border-spacing:0;
  margin:0;
  padding:0;
  text-align:center;
}

TABLE.extdetails {
  width:90%;
  max-width: 1000px;
}

TABLE.filter_table {
  background-color:#F0F1EE;
  border-bottom:1px #E2DECD outset;
  border-left:1px #E2DECD outset;
  border-right:1px #E2DECD outset;
  padding-left:5px;
}

TABLE.infoBox {
  background-color:#F0F1EE;
  background-image:url(../images/border_big.gif);
  background-repeat:repeat-x;
  border:1px #E2DECD outset;
  margin-left:0;
  margin-right:2px;
  padding:3px 3px 3px 5px;
  width:280px;
  white-space: nowrap;
}

TABLE.linkBox {
  background-color:#F0F1EE;
  border:1px #E2DECD outset;
  padding:3px 3px 3px 5px;
}

TABLE.logEntries {
  background-color:#F0F1EE;
  border:1px #E2DECD outset;
  margin:2px;
  text-align:center;
  width:100%;
}

TABLE.overDivHead {
  background-color:#F0F1EE;
  background-image:url(../images/border_big.gif);
  background-repeat:repeat-x;
  border:0 none;
  margin:0;
  padding:3px;
}

TABLE.optBox {
  padding: 2px;
  padding-right: 5px;
  background: rgba(255, 255, 255, 0.3);
}

TABLE.perfTitleTable,TABLE.perfTitleTable TD,TABLE.perfTitleTable TR {
  border-spacing:0;
  margin:0;
  padding:0;
}

TABLE.pref_pane {
  background-color:#F0F1EE;
  border-bottom:1px #E2DECD outset;
  border-left:1px #E2DECD outset;
  border-right:1px #E2DECD outset;
  color:#444444;
  padding-left:5px;
}

TABLE.pref_pane tbody > tr > td {
  background-color:#F0F1EE;
  border:medium none;
}

TABLE.pref_pane TH {
  white-space: nowrap;
}

TABLE.serviceTotals,TABLE.hostTotals {
  background-color:#F0F1EE;
  background-image:url(../images/border_big.gif);
  background-repeat:repeat-x;
  border:1px #E2DECD outset;
  margin:2px;
  text-align:center;
  width:280px;
}

TABLE.status {
  background-color:#F9F9F7;
  text-align:center;
}

TABLE.statusgroups TD {
  font-weight:normal;
}

TD,TH {
  border:medium none;
}

TD.commandPanel,TD.stateInfoPanel, TD.confPanel {
  background-color:#F0F1EE;
  background-image:url(../images/border_big.gif);
  background-repeat:repeat-x;
  border:1px #444444 outset;
  margin:2px;
  text-align:center;
}

TD.commandPanel {
  min-width: 300px;
}
TD.confPanel TABLE.confPanel {
  margin-top: 5px;
  width: 100%;
}
TD.confPanel {
  min-width: 200px;
}

TD.comment,TD.downtime,TD.notificationsEven,TD.status {
  padding:0;
}

TD.dataEven,TD.queueEven {
  background-color:#DEDBD2;
  border-bottom:2px solid #F9F9F7;
  border-right:2px solid #F9F9F7;
  height:22px;
  padding:0 3px;
}

TD.dataOdd,TD.queueOdd {
  background-color:#E7E5DD;
  border-bottom:2px solid #F9F9F7;
  border-right:2px solid #F9F9F7;
  height:22px;
  padding:0 3px;
}

TD.dataVar {
  font-weight:bold;
  vertical-align:top;
}

TD.dataVar,TD.dataVal,TD.command {
  height:22px;
  padding:0 3px;
}

TD.filter_table,body.showlog td.filter,body.showlog td.filterName,body.showlog td.filterValue,body.showlog td.filterTitle, TD.filter {
  background-color:#F0F1EE;
}

TD.healthBox,TD.perfBox,TD.featureHeader,TD.outageHeader,TD.hostHeader,TD.serviceHeader {
  background-color:#F0F1EE;
  border-bottom:1px #E2DECD outset;
  border-left:1px #E2DECD outset;
  border-right:1px #E2DECD outset;
  height:20px;
  padding-left:5px;
}

TD.healthTitle,TD.perfTitle,TD.featureTitle,TD.outageTitle,TD.hostTitle,TD.serviceTitle {
  background-image:url(../images/border_big.gif);
  background-repeat:repeat-x;
  border-left:1px #E2DECD outset;
  border-right:1px #E2DECD outset;
  border-top:1px #E2DECD outset;
  font-size:12px;
  font-weight:bold;
  height:20px;
  line-height:13px;
  margin:2px;
  text-align:center;
  vertical-align:middle;
}
TD.outageTitle {
  white-space: nowrap;
  padding-right: 3px;
}

TD.hostDOWN {
  background-color:#FF5B33;
  font-weight:bold;
  height:22px;
}

TD.hostTotals,TD.serviceTotals,TD.hostTotalsUP,TD.serviceTotalsOK,TD.hostTotalsDOWN,TD.hostTotalsUNREACHABLE,TD.serviceTotalsCRITICAL,TD.hostTotalsPENDING,TD.serviceTotalsPENDING,TD.serviceTotalsUNKNOWN,TD.hostTotalsPROBLEMS,TD.serviceTotalsPROBLEMS,TD.hostTotalsPROBLEMS,TD.serviceTotalsWARNING {
  background-position:center;
  background-repeat:no-repeat;
  height:20px;
  padding:0 2px;
}

TD.hostTotalsDOWN,TD.hostTotalsUNREACHABLE,TD.serviceTotalsCRITICAL {
  background-image:url(../images/red.gif);
}

TD.hostTotalsPENDING,TD.serviceTotalsPENDING {
  background-image:url(../images/blue.gif);
}

TD.hostTotalsUP,TD.serviceTotalsOK {
  background-image:url(../images/green.gif);
}

TD.hostUNREACHABLE {
  background-color:#ff7a59;
  font-weight:bold;
  height:22px;
}

TD.logEntriesCRITICAL,TD.logEntriesDOWN,TD.logEntriesUNREACHABLE {
  background-color:#FFC0C0;
  font-weight:bold;
  height:22px;
  padding:1px;
}

/* extinfo.0 - process information */
table.procInfoTable tbody tr td.stateInfoTable1 table tbody tr td.dataVal {
  white-space: nowrap;
}
table.procInfoTable tbody tr td.stateInfoTable1 table tbody tr td.dataValBackendVersion {
  white-space: inherit;
}
table.procInfoTable tbody tr td.stateInfoTable1 table tbody tr td.dataSource {
  white-space: normal;
  min-width: 120px;
}

TD.logEntriesEven,TD.commentEven,TD.downtimeEven,TD.reportDataEven {
  background-color:#DEDBD2;
  height:22px;
  padding:1px;
}

TD.logEntriesINDETERMINATE,TD.logEntriesUNKNOWN,TD.notificationsACKNOWLEDGEMENT,TD.notificationsHOSTACKNOWLEDGEMENT {
  height:22px;
  padding:1px;
}

TD.logEntriesOK,TD.logEntriesUP {
  background-color:#C0FFC0;
  height:22px;
  padding:1px;
}

TD.logEntriesOdd,TD.commentOdd,TD.downtimeOdd,TD.notificationsOdd,TD.reportDataOdd {
  background-color:#E7E5DD;
  height:22px;
  padding:1px;
}

TD.logEntriesWARNING {
  background-color:#FFFFC0;
  height:22px;
  padding:1px;
}

TD.miniStatusDOWN,TD.miniStatusUNREACHABLE,TD.miniStatusCRITICAL {
  background-color:#FF5B33;
  font-weight:bold;
  padding:2px;
  text-align:center;
}

TD.miniStatusPENDING {
  background-color:#ACACAC;
  font-weight:bold;
  padding:2px;
  text-align:center;
}

TD.miniStatusUNKNOWN {
  background-color:#FF9E00;
  padding:0;
  text-align:center;
}

TD.miniStatusUP,TD.miniStatusOK {
  background-color:#00FF33;
  font-weight:bold;
  padding:2px;
  text-align:center;
}

TD.miniStatusWARNING {
  background-color:#FFDE00;
  font-weight:bold;
  padding:2px;
  text-align:center;
}

TD.navBoxItem,TD.navBoxDate,TD.optBoxItem,TD.optBoxRequiredItem {
  font-size:11px;
  font-weight:bold;
}

TD.optBoxRequiredItem {
  color: red;
}

TD.notificationsCRITICAL,TD.notificationsHOSTDOWN,TD.notificationsHOSTUNREACHABLE {
  background-color:#FF5B33;
  font-weight:bold;
  height:22px;
  padding:1px;
}

TD.notificationsOK,TD.notificationsHOSTUP {
  background-color:#00FF33;
  height:22px;
  padding:1px;
}

TD.notificationsWARNING {
  background-color:#FFDE00;
  height:22px;
  padding:1px;
}

.serviceCRITICAL,.statusCRITICAL,.statusHOSTDOWN,.statusHOSTDOWNACK,.statusHOSTDOWNSCHED {
  background-color:#FF5B33;
  height:22px;
}
.statusHOSTUNREACHABLE,.statusHOSTUNREACHABLEACK,.statusHOSTUNREACHABLESCHED {
  background-color:#ff7a59;
  height:22px;
}

TD.serviceTotalsUNKNOWN,TD.hostTotalsPROBLEMS,TD.serviceTotalsPROBLEMS {
  background-image:url(../images/orange.gif);
}

TD.serviceTotalsWARNING {
  background-image:url(../images/yellow.gif);
}

TD.stateInfoTable1 > TABLE,TD.stateInfoTable2 > TABLE {
  border-collapse: collapse;
}

TD.statusBGCRITICAL,TD.statusBGCRITICALACK,TD.statusBGCRITICALSCHED,TD.statusBGDOWN,TD.statusBGDOWNACK,TD.statusBGDOWNSCHED,TD.statusBGUNREACHABLE,TD.statusBGUNREACHABLEACK,TD.statusBGUNREACHABLESCHED {
  background-color:#FFC0C0;
  height:22px;
}

TD.statusBGUNKNOWN {
  background-color:#FFC566;
  height:22px;
}

TD.statusBGWARNING {
  background-color:#FFFF88;
  height:22px;
}

TD.statusEven {
  background-color:#DEDBD2;
}

.statusOK,.statusRECOVERY,.statusHOSTUP,.serviceOK {
  background-color:#00FF33;
  height:22px;
}

.statusPENDING,.statusHOSTPENDING {
  background-color:#ACACAC;
  height:22px;
}

.statusUNKNOWN {
  background-color:#FF9E00;
  height:22px;
}

.statusWARNING,.serviceWarning {
  background-color:#FFDE00;
  height:22px;
}

TH.hostTotals {
  width:25%;
}

TH.hostTotals,TH.serviceTotals {
  border-right:1px #E2DECD solid;
  font-style:normal;
  font-weight:bold;
  height:18px;
  padding:0 5px;
}

TH.serviceTotals {
  width:20%;
}

TH.status,TH.data,TH.logEntries,TH.comment,TH.downtime,TH.queue,TH.notifications {
  background-color:#E7E5DD;
  background-image:url(../images/border_small.png);
  background-position:bottom;
  background-repeat:repeat-x;
  border: 0px none;
  border-right:1px #E2DECD solid;
  font-size:12px;
  height:20px;
  padding:0 2px;
  white-space:nowrap;
}

TR.command > TD {
  padding-left: 3px;
  padding-right: 3px;
}

a {
  color:#000000;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

body {
  background:#F9F9F7 url(../images/bg.png) repeat-x;
  background-attachment:fixed;
  color:#444444;
  font-family: sans-serif;
  font-size:11px;
  line-height:18px;
}

body.config TD.dataUserVar {
  padding:5px;
  font-size:14px;
}

body.config TH.data {
  padding:5px;
}

div.navbar {
  background:#F9F9F7 url(../images/bg.png) repeat-x;
  background-color:#F9F9F7;
  border:0 none;
  text-align: center;
  margin: 0px;
  line-height: 18px;
  top: -6px
}
div.navbar img {
  position: relative;
  top: 6px
}
div.navbar li {
  color: #444444;
}
div.navsectiontitle {
  color:#8C8C73;
}

div.navsection {
  margin:3px 0 0;
}

element.style {
  visibility:visible;
}

table.overDivTable {
  border-spacing: 0px;
  border: 1px #444444 solid;
}

table.overDivTable > tbody > tr > td {
  background-color:#F0F1EE;
  border:0 none;
  margin:0;
}

table.overDivTable a {
  color:#444444;
  font-size:12px;
  font-weight:bold;
}

td.filter {
  padding-left:5px;
  padding-right:3px;
}

td.statusEven,td.statusOdd,TD.statusHOSTPENDING,TD.statusHOSTDOWN,TD.statusHOSTUP,TD.statusHOSTUNREACHABLE,TD.statusSERVICEOK,TD.statusSERVICEWARNING,TD.statusSERVICECRITICAL,TD.statusSERVICEUNKNOWN,TD.statusSERVICEPENDING,TABLE.status tbody tr td.tableRowHover {
  height:22px;
}
TABLE.status tbody tr TABLE#multi_table td.tableRowHover {
  height:auto;
}

ul.navsectionlinks {
  background:transparent url(../images/menu-body.png) repeat-y;
  list-style:none;
  margin:0;
  padding:0;
}

ul.navsectionlinks li a {
  font-weight:bold;
  padding:0 0 0 15px;
}

ul.navsectionlinks li ul {
  list-style:none;
  margin:0;
  padding:0 0 0 30px;
}

ul.navsectionlinks li ul li a {
  font-weight:normal;
  padding:0;
}

ul.navsectionlinks li ul li ul {
  list-style:none;
  margin:0;
  padding:0 0 0 15px;
}

ul.navsectionlinks li.navbarsearch:hover,ul.navsectionlinks li ul li:hover {
  background:none;
}

ul.navsectionlinks li:hover {
  background:transparent url(../images/menu-body-hover.png) no-repeat;
}


TD.checkstatus {
  border: 0px none;
}

TABLE.checkstatus, TABLE.extCommandPanel {
  border: 0px none;
  width: auto;
}
TABLE.extCommandPanel {
  margin-top: 4px;
}
TABLE.extdetails, TABLE.extdetails2 {
  border: 0px none;
}
TABLE.extdetails2 {
  border: 0px none;
  width: 100%;
}
TD.stateInfoPanel > TABLE {
  width: 100%;
}
TD.extdetails > TABLE {
  width: 100%;
}

TH.conftoolheader {
  border-bottom: 5px solid #F0F1EE;
}

TABLE.blockHeadBorder, DIV.blockHeadBorder {
  border-top: 1px #444444 outset;
  border-left: 1px #444444 outset;
  border-right: 1px #444444 outset;
  line-height: 18px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

TABLE.cmdOptBox {
  background-color:#F0F1EE;
  border:1px #444444 outset;
  border-spacing:0;
  margin:0;
  padding:0;
  padding-left:5px;
  padding-right:5px;
  width: 100%;
}
TABLE.commandDescription {
  width: 100%;
}
TABLE.cmdOuterTable {
  width: auto;
  border-spacing:20px;
}
DIV.cmdType {
  text-align: center;
  color: red;
  font-weight:bold;
  font-size: 12px;
}
TABLE.optBoxInnerTable {
  width: 100%;
  margin: 5px;
}

table.filter > tbody > tr > td {
  padding-right: 3px !important;
}
TABLE.statusgroups {
  border: 0px none;
  margin-bottom: 15px;
}

TABLE.status {
  border-spacing: 0px;
  border:1px #444444 outset;
}
TABLE.status TD {
  padding-left: 2px;
  padding-right: 2px;
}
TABLE.status > TBODY > TR > TH {
  border-right: 1px solid #ACA899;
}

TABLE.servicestatus {
  border-spacing: 0px;
  border-top:1px #444444 outset;
  border-right:1px #444444 outset;
  border-left: 0px none;
  border-bottom: 0px none;
}
TABLE.servicestatus > TBODY > TR > TH {
  border-right: 1px solid #ACA899;
  border-left:1px #444444 outset;
}

TABLE.status > TBODY > TR > TD {
  border-right: 2px solid #F9F9F7;
  border-top: 2px solid #F9F9F7;
}
TABLE.status > TBODY > tr#hst_r0 > td, TABLE.status > TBODY > tr#svc_r0 > td, TABLE.status > TBODY > tr#dfl_r0 > td, TABLE.status > TBODY > tr.firstrow > td {
  border-top: 0px none;
}
TABLE.status > TBODY > tr > td:last-child, TABLE.queue > TBODY > tr > td:last-child {
  border-right: 0px none;
}

TABLE.hostTotals A I, TABLE.serviceTotals A I {
  font-style: normal;
}

TABLE.tac TD.hostHeader, TABLE.tac TD.serviceHeader, TABLE.tac TD.featureHeader {
  width: 150px;
}

TABLE.extdetails TD.dataVar {
  white-space: nowrap;
  width: 170px;
}

TABLE.extdetails DIV.hostUP,
TABLE.extdetails DIV.hostDOWN,
TABLE.extdetails DIV.hostUNREACHABLE,
TABLE.extdetails DIV.hostPENDING,
TABLE.extdetails DIV.serviceOK,
TABLE.extdetails DIV.serviceWARNING,
TABLE.extdetails DIV.serviceUNKNOWN,
TABLE.extdetails DIV.serviceCRITICAL,
TABLE.extdetails DIV.servicePENDING,
TABLE.extdetails DIV.notflapping,
TABLE.extdetails DIV.flapping,
TABLE.extdetails DIV.downtimeINACTIVE,
TABLE.extdetails DIV.downtimeACTIVE
{
  min-width: 80px;
  float: left;
  text-align: center;
}

TABLE.extdetails DIV.notificationsDISABLED,
TABLE.extdetails DIV.notificationsENABLED,
TABLE.extdetails DIV.checksDISABLED,
TABLE.extdetails DIV.checksENABLED,
TABLE.extdetails DIV.eventhandlersDISABLED,
TABLE.extdetails DIV.eventhandlersENABLED,
TABLE.extdetails DIV.flapdetectionDISABLED,
TABLE.extdetails DIV.flapdetectionENABLED
{
  width: 120px;
  text-align: center;
}

TABLE.extdetails TD.extdetails {
  border-bottom: 1px solid #444444;
}

.commandNote {
  color: red;
}

TABLE.hostcomments TD, TABLE.hostdowntimes TD,TABLE.servicecomments TD, TABLE.servicedowntimes TD {
  border-right: 1px solid #DEDBD2;
  text-align: center;
}
TABLE.hostcomments TD:last-child, TABLE.hostdowntimes TD:last-child, TABLE.servicecomments TD:last-child, TABLE.servicedowntimes TD:last-child {
  border-right: 0px none;
}

TABLE.hostcomments TH, TABLE.hostdowntimes TH,TABLE.servicecomments TH, TABLE.servicedowntimes TH {
  border-right: 1px solid #DEDBD2;
  border-bottom: 1px solid #DEDBD2;
}
TABLE.hostcomments TH:last-child, TABLE.hostdowntimes TH:last-child, TABLE.servicecomments TH:last-child, TABLE.servicedowntimes TH:last-child {
  border-right: 0px none;
}


TH.pnpSelected {
  background-color: #DEDBD2;
  border: 1px #444444 inset;
  font-size: 12px;
}

TABLE.bookmarkTable {
  border: 1px outset #444444;
}

TABLE.procInfoTable TD.dataVal {
  text-align: center;
}

TD.notesCell {
  padding-right: 5px;
}

IMG.crit_icon {
  vertical-align: text-bottom;
}

DIV.extinfo4 TD {
  white-space: nowrap;
}

DIV.reportRange {
    font-weight: bold;
}

option.disable {
    height: 8px !important;
    line-height: 8px;
    vertical-align: top;
}

TABLE.minemap th.status a:hover {
  color:#000000;
  text-decoration: underline;
}

TH.confSelected {
  background-color: #DEDBD2;
  border: 1px #444444 inset;
  font-size: 12px;
}

TABLE.confdetails {
  width:90%;
  max-width: 1000px;
}

td.attrValue:hover {
  background-color:#FFEB66;
}

/* nice result tables in availability */
body.avail TD.hostUP, body.avail TD.hostDOWN, body.avail TD.hostUNREACHABLE, body.avail TD.serviceOK, body.avail TD.serviceWARNING, body.avail TD.serviceUNKNOWN, body.avail TD.serviceCRITICAL {
    min-width: 150px;
}
body.avail TD.dataOdd, body.avail TD.dataEven {
    min-width: 160px;
}
