/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* common.css - styles common to all cgi's */

/* default element styles */
* {
 font-family: "Arial", "Helvetica", sans-serif;
}

/* navbar */
body.navbar {
	background-color: black;
	color: white;
	font-family: verdana,arial,serif;
	}

div.navbar {
  font-size:10pt;
}

.navbarlogo {
	margin: 0 0 10px 0;
	}

.navsection {
	margin: 5px 0 10px 0;
	color: #DEE7C6;
	}

.navsectiontitle {
	font-size: 9pt;
	font-weight: bold;
	border:1px solid #DEE7C6;
	padding: 2px;
	}

div.navsectionlinks {
	margin: 3px 0 0 0;
	}

ul.navsectionlinks {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

ul.navsectionlinks li {
	}

ul.navsectionlinks li a {
	color: #DEE7C6;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: none;

	padding: 0 0 0 15px;
	background: transparent url(../images/greendot.gif) no-repeat scroll 0 0
	}

ul.navsectionlinks li ul {
	margin: 0px;
	padding: 0 0 0 30px;
	list-style: disc;
	}

ul.navsectionlinks li ul li {
	}

ul.navsectionlinks li a:hover {
	color: #FFC47F;
	background: transparent url(../images/orangedot.gif) no-repeat scroll 0 0
	}

ul.navsectionlinks li ul li a {
	color: #DEE7C6;
	background: none;
	padding: 0;
	font-weight: normal;
	}

ul.navsectionlinks li ul li a:hover {
	color: #FFC47F;
	background: none;
	}

ul.navsectionlinks li ul li ul {
	margin: 0px;
	padding: 0 0 0 15px;
	list-style: circle;
	}


.navbarsearch {
	margin: 5px 0 0 0;
	}

.navbarsearch fieldset {
	border: none;
	}

.navbarsearch fieldset legend {
	font-size: 8pt;
	}

.navbarsearch input{
	font-size: 8pt;
	color: black;
	background-color: white;
	}
BODY {
 margin: 0em;
 margin: 0.8em 0.8em 2em 0.8em;
 color: #000;
 background-color: #fff;
}

A {
 text-decoration: none;
 color: #40529b;
}
A:hover {
 text-decoration: underline;
 color: #3f5bcd;
}
A:active {
 color: #496aef;
}
A:visited {
 color: #2c3763;
}

A IMG {
 border: none;
}

TABLE {
 border: none;
}

TH, TD {
 border: none;
}

FORM {
 margin: 0;
 padding: 0;
}

/* infoBox is the box in the upper left of pretty much all of the pages */
TABLE.infoBox {
 width: 100%;
}
TD.infoBox {
 font-size: 0.7em;
 padding: 0 0 1em 0;
}
DIV.infoBoxTitle {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 1.5em;
 font-weight: bold;
 border-right: 1px solid #ddd;
 margin-bottom: 0.3em;
 white-space: nowrap;
}
DIV.infoBoxBadProcStatus {
 background-image: url("/images/notify.gif");
 background-position: top left;
 background-repeat: no-repeat;
 margin-top: 1em;
 padding: 0.2em 0 0.2em 25px;
 color: red;
 font-style: italic;
 font-size: 1.1em;
}
A.homepageURL:hover { color: red; }

/* linkBox contains links that pertain to the current page */
TABLE.linkBox {
 border: solid 1px #ddd;
 background-color: #FFFFEE;
}
TABLE.linkBox TD {
 font-size: 0.7em;
 padding: 0.5em;
 white-space: nowrap;
}
TABLE.linkBox TD A:before {
 content: "\2022 \0020";
}

/* the filter table shows up whenever the data is filtered somehow */
TABLE.filter {
 margin: 1em 0 1em 0;
}
TABLE.filter TD.filter {
 font-size: 0.9em;
 padding: 0 0 0.5em 0.5em;
}
TABLE.filter TD.filterTitle {
 font-size: 0.9em;
 font-weight: bold;
 border-bottom: 1px solid #eee;
}
TABLE.filter TD.filterName {
 font-size: 0.8em;
 font-style: italic;
 line-height: 90%;
 padding: 0 1em 0 0;
}
TABLE.filter TD.filterValue {
 font-size: 0.8em;
 font-style: italic;
 line-height: 90%;
}

/* page error messages? */
DIV.errorMessage {
 text-align: center;
 color: red;
 font-weight: bold;
 font-size: 1.2em;
}
DIV.errorDescription {
 text-align: center;
 font-weight: bold;
 font-size: 1.2em;
}
DIV.warningMessage {
 text-align: center;
 color: red;
 font-weight: bold;
 font-size: 1.0em;
}
DIV.infoMessage {
 text-align: center;
 color: red;
 font-weight: bold;
}

/* options box in upper right corner of reporting pages */
TABLE.optBox {
 font-size: 8pt;
 font-weight: bold;
 empty-cells: show;
 background-color: #FFFFEE;
 border: solid 1px #ddd;
 padding: 0;
 margin: 0;
}
TABLE.optBox INPUT {
 font-size: 8pt;
}
TABLE.optBox TD {
 padding: 0.1em 0.5em 0 0.5em;
}
TABLE.optBox INPUT, TABLE.optBox SELECT {
 vertical-align: middle;
 font-weight: normal;
 font-size: 8pt;
}
TD.optBoxItem {
 font-size: 8pt;
 font-weight: bold;
 color: red;
}
DIV.optBoxTitle {
 font-size: 1em;
 font-weight: bold;
}
TD.optBoxValue {
 font-size: 0.8em;
 font-style: italic;
}

/* report parameters */
DIV.reportRange {
 text-align: center;
 font-weight: bold;
 font-size: 0.8em;
}
DIV.reportDuration {
 text-align: center;
 font-size: 0.8em;
}
DIV.reportTime {
 text-align: center;
 font-size: 0.6em;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  BODY {
   margin: 0;
   padding: 0;
   font-size: 10pt;
  }
  TD {
   font-size: inherit;
  }
  TD.infoBox {
   font-size: 0.6em;
  }
  DIV.infoBoxTitle {
   border: none;
   border-bottom: solid 0.5pt black;
   white-space: normal;
   font-size: 1.5em;
  }
  DIV.infoBoxBadProcStatus {
   padding: 0;
  }
  TABLE.linkBox {
   display: none;
  }
  TABLE.filter TD.filterTitle {
   border-bottom: 0.5pt solid #000;
  }
}
