/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* extinfo.css - styles common to all cgi's */

BODY.extinfo {
}
BODY.extinfo p {
 margin: 0;
 padding: 0;
}
BODY.extinfo TABLE {
 border-spacing: 0;
}

/* comments, downtimes & process queue pages */
DIV.commentNav, DIV.downtimeNav {
 font-size: 0.7em;
 text-align: center;
 margin-bottom: 1em;
}
A.commentNav, A.downtimeNav {
}

.commentTitle, .downtimeTitle {
 text-align: center;
 font-weight: bold;
 font-size: 1.2em;
 border-bottom: solid 1px #DDD;
}

TABLE.comment, TABLE.downtime, TABLE.queue {
 border-spacing: 0;
 font-size: 10pt;
 background-color: white;
 padding: 2;
 margin-bottom: 2em;
}
TH.comment, TH.downtime, TH.queue {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
 font-size: 1em;
 margin-bottom: 0.3em;
 border-right: 1px solid #ddd;
 white-space: nowrap;
 padding: 0 0.5em 0 0.5em;
}
DIV.comment, TD.comment {
 text-align: center;
 font-size: 0.7em;
 margin-bottom: 1em;
 padding: 0.2em 0 0.2em 0;
}
DIV.comment IMG, TD.comment IMG {
 vertical-align: middle;
}

TR.commentOdd TD, TR.downtimeOdd TD, TR.queueOdd TD.queueOdd {
 background-color: #EEE;
 border: none;
 border-bottom: solid 1px #ddd;
 padding: 0 0.5em 0 0.5em;
 font-size: 0.8em;
}
TR.commentEven TD, TR.downtimeEven TD, TR.queueEven TD.queueEven {
 background-color: #FFF;
 border: none;
 border-bottom: solid 1px #ddd;
 padding: 0 0.5em 0 0.5em;
 font-size: 0.8em;
}

/* feature states on Process Info page */
DIV.notificationsENABLED, DIV.checksENABLED, DIV.eventhandlersENABLED, DIV.flapdetectionENABLED, DIV.notflapping, DIV.downtimeINACTIVE {
 color: #669866;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.9em;
 text-align: left;
 font-weight: bold;
}
DIV.notificationsDISABLED, DIV.checksDISABLED, DIV.eventhandlersDISABLED, DIV.flapdetectionDISABLED, DIV.flapping, DIV.downtimeACTIVE {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.9em;
 text-align: left;
 font-weight: bold;
}

DIV.notflapping, DIV.flapping, DIV.downtimeACTIVE, DIV.downtimeINACTIVE {
float: left;
}

/* labels on Performance Info */
DIV.perfTypeTitle {
 text-align: right;
 font-weight: bold;
 font-size: 0.8em;
}

DIV.dataTitle, DIV.commandTitle {
 text-align: center;
 font-weight: bold;
}
DIV.data {
 text-align: center;
 font-size: 12pt;
}

/* process, host or service command table */
TABLE.data, TABLE.command {
 border: solid 1px #EEE;
 border-top: solid 1px #000;
 border-spacing: 0;
}
TABLE.command TABLE.command, TABLE.command TD {
 border: none;
}
TABLE.command TR.command TD, TABLE.command TR.data TD {
 font-size: 0.8em;
 padding: 0.1em 0.5em 0.1em 0.5em;
 border-bottom: solid 1px #EEE;
 background-color: #FFFFEE;
}
TABLE.command TR.command TD.command, TABLE.command TR.data TD.command {
}
TD.command A:hover {
 background-color: #FFFFCC;
}

/* data table */
TH.data {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 font-size: 0.8em;
 padding: 0.1em 0.2em 0.1em 0.2em;
 white-space: nowrap;
 border-right: 1px solid #ddd;
}
TD.dataVar, TD.dataVal {
 font-size: 0.8em;
 border-bottom: solid 1px #EEE;
 empty-cells: show;
 padding: 0.1em 0.8em 0.1em 0.8em;
}

.dataOdd {
 font-size: 0.8em;
 background-color: #DBDBDB;
}
.dataEven {
 font-size: 0.8em;
 background-color: #C4C2C2;
}

/* don't know where this is? */
.optionBoxTitle {
 text-align: center;
 font-weight: bold;
 font-size: 10pt;
 border: solid 1px orange;
}
.optionBox {
 font-size: 10pt;
 background-color: #DBDBDB;
 padding: 2;
 border: solid 1px orange;
}

/* not sure where these are? */
.processOK, .modeACTIVE {
 color: #669866;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
}
.processUNKNOWN {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
}
.processWARNING, .modeSTANDBY {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
}
.processCRITICAL {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
}

/* host and service states */
DIV.hostUP, DIV.serviceOK {
 color: #669866;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: left;
 font-weight: bold;
 float: left;
 padding: 0 0.2em 0 0.2em;
}
DIV.hostDOWN, DIV.hostUNREACHABLE, DIV.serviceCRITICAL {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: left;
 font-weight: bold;
 float: left;
 padding: 0 0.2em 0 0.2em;
}
DIV.serviceWARNING {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: left;
 font-weight: bold;
 float: left;
 padding: 0 0.2em 0 0.2em;
}
DIV.serviceUNKNOWN {
 color: #fff
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: left;
 font-weight: bold;
 float: left;
 padding: 0 0.2em 0 0.2em;
}

.commandPanel { }
.commentPanel {
 padding-top: 2em;
}

.stateInfoPanel { }
.stateStatisticsPanel { }

TD.stateInfoTable1, TD.stateInfoTable2 {
 border: none;
}
TD.stateInfoTable1 TABLE, TD.stateInfoTable2 TABLE {
 border: solid 1px #EEE;
}

.queueTitle {
 text-align: center;
 font-weight: bold;
 font-size: 12pt;
 border: solid 1px red;
}

TD.queueENABLED {
 color: #669866;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
 border-bottom: solid 1px #ddd;
}
TD.queueDISABLED {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-size: 0.8em;
 border-bottom: solid 1px #ddd;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  DIV.comment, DIV.commentNav, DIV.downtimeNav, DIV.commandTitle, TABLE.command, TD.commandPanel {
   display: none;
  }
  TH.comment, TH.downtime, TH.queue, TH.data {
   border: none;
   border-bottom: solid 0.5pt black;
   background: none;
  }
}
