/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* history.css */

BODY.history { }
BODY.history TABLE {
 border-spacing: 0;
}

.dataTitle {
 text-align: center;
 font-weight: bold;
}

.navBoxTitle {
 font-size: 0.8em;
 font-weight: bold;
}
.navBoxItem {
 font-size: 0.8em;
 font-weight: bold;
 color: red;
}
.navBoxDate {
 font-size: 0.8em;
 font-weight: bold;
}
.navBoxFile {
 font-size: 0.8em;
 font-weight: bold;
 text-align: center;
}

DIV.logEntries {
 font-size: 9pt; /* point size because the divs are nested!!! */
 font-family: "Courier New", courier, monospace;
}

DIV.logEntries IMG {
 vertical-align: bottom;
 margin: 0 0.5em 0.2em 0;
}

.dateTimeBreak {
 font-size: 0.8em;
 font-weight: bold;
 color: red;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TABLE.optBox {
   display: none;
  }
}

