/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* status.css */

/* not sure if this file is used */
* { color: pink; }

/*
.status {
 background-color: white;
 color: black;
}

.statusTitle {
 text-align: center;
 font-weight: bold;
 font-size: 12pt;
}
.statusSort {
 font-size: 8pt;
}

TABLE.status {
 font-size: 8pt;
 background-color: white;
 padding: 2;
}
TH.status {
 font-size: 10pt;
 text-align: left;
 background-color: #999797;
 color: #DCE5C1;
}
DIV.status {
 font-size: 10pt;
 text-align: center;
}
.statusOdd {
 font-size: 8pt;
 background-color: #DBDBDB;
}
.statusEven {
 font-size: 8pt;
 background-color: #C4C2C2;
}

.statusPENDING {
 font-size: 8pt;
 background-color: #ACACAC;
}
.statusOK {
 font-size: 8pt;
 background-color: #33FF00;
}
.statusRECOVERY {
 font-size: 8pt;
 background-color: #33FF00;
}
.statusUNKNOWN {
 font-size: 8pt;
 background-color: #FF9900;
}
.statusWARNING {
 font-size: 8pt;
 background-color: #FFFF00;
}
.statusCRITICAL {
 font-size: 8pt;
 background-color: #F83838;
}

.statusHOSTPENDING {
 font-size: 8pt;
 background-color: #ACACAC;
}
.statusHOSTUP {
 font-size: 8pt;
 background-color: #33FF00;
}
.statusHOSTDOWN {
 font-size: 8pt;
 background-color: #F83838;
}
.statusHOSTUNREACHABLE {
 font-size: 8pt;
 background-color: #F83838;
}

.statusBGUNKNOWN {
 font-size: 8pt;
 background-color: #FFDA9F;
}
.statusBGWARNING {
 font-size: 8pt;
 background-color: #FEFFC1;
}
.statusBGCRITICAL {
 font-size: 8pt;
 background-color: #FFBBBB;
}
.statusBGDOWN {
 font-size: 8pt;
 background-color: #FFBBBB;
}
.statusBGUNREACHABLE {
 font-size: 8pt;
 background-color: #FFBBBB;
}

DIV.serviceTotals {
 text-align: center;
 font-weight: bold;
 font-size: 10pt;
}
TABLE.serviceTotals {
 font-size: 10pt;
 background-color: white;
 padding: 2;
}
TH.serviceTotals,A.serviceTotals {
 font-size: 10pt;
 background-color: white;
 text-align: center;
 background-color: #999797;
 color: #DCE5C1;
}
TD.serviceTotals {
 font-size: 8pt;
 text-align: center;
 background-color: #e9e9e9;
}

.serviceTotalsOK {
 font-size: 8pt;
 text-align: center;
 background-color: #33FF00;
}
.serviceTotalsWARNING {
 font-size: 8pt;
 text-align: center;
 background-color: #FFFF00;
 font-weight: bold;
}
.serviceTotalsUNKNOWN {
 font-size: 8pt;
 text-align: center;
 background-color: #FF9900;
 font-weight: bold;
}
.serviceTotalsCRITICAL {
 font-size: 8pt;
 text-align: center;
 background-color: #F83838;
 font-weight: bold;
}
.serviceTotalsPENDING {
 font-size: 8pt;
 text-align: center;
 background-color: #ACACAC;
}
.serviceTotalsPROBLEMS {
 font-size: 8pt;
 text-align: center;
 background-color: orange;
 font-weight: bold;
}


DIV.hostTotals {
 text-align: center;
 font-weight: bold;
 font-size: 10pt;
}
TABLE.hostTotals {
 font-size: 10pt;
 background-color: white;
 padding: 2;
}
TH.hostTotals,A.hostTotals {
 font-size: 10pt;
 background-color: white;
 text-align: center;
 background-color: #999797;
 color: #DCE5C1;
}
TD.hostTotals {
 font-size: 8pt;
 text-align: center;
 background-color: #e9e9e9;
}

.hostTotalsUP {
 font-size: 8pt;
 text-align: center;
 background-color: #33FF00;
}
.hostTotalsDOWN {
 font-size: 8pt;
 text-align: center;
 background-color: #F83838;
 font-weight: bold;
}
.hostTotalsUNREACHABLE {
 font-size: 8pt;
 text-align: center;
 background-color: #F83838;
 font-weight: bold;
}
.hostTotalsPENDING {
 font-size: 8pt;
 text-align: center;
 background-color: #ACACAC;
}
.hostTotalsPROBLEMS {
 font-size: 8pt;
 text-align: center;
 background-color: orange;
 font-weight: bold;
}

.miniStatusPENDING {
 font-size: 8pt;
 background-color: #ACACAC;
 text-align: center;
}
.miniStatusOK {
 font-size: 8pt;
 background-color: #33FF00;
 text-align: center;
}
.miniStatusUNKNOWN {
 font-size: 8pt;
 background-color: #FF9900;
 text-align: center;
}
.miniStatusWARNING {
 font-size: 8pt;
 background-color: #FFFF00;
 text-align: center;
}
.miniStatusCRITICAL {
 font-size: 8pt;
 background-color: #F83838;
 text-align: center;
}

.miniStatusUP {
 font-size: 8pt;
 background-color: #33FF00;
 text-align: center;
}
.miniStatusDOWN {
 font-size: 8pt;
 background-color: #F83838;
 text-align: center;
}
.miniStatusUNREACHABLE {
 font-size: 8pt;
 background-color: #F83838;
 text-align: center;
}
*/
