/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* outages.css */

BODY.outages { }
BODY.outages TABLE {
 border-spacing: 0;
}

DIV.itemTotalsTitle {
 font-size: 0.7em;
 text-align: center;
}

.dataTitle {
 text-align: center;
 font-weight: bold;
}
TABLE.data {
}
TH.data {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-right: solid 1px #ddd;
 font-size: 0.8em;
 padding: 0.2em;
 white-space: nowrap;
}
TD.dataOdd {
 background-color: #EEE;
 border-bottom: solid 1px #ddd;
}
TD.dataEven {
 background-color: #FFF;
 border-bottom: solid 1px #ddd;
}

.hostUP {
 color: #669866;
 background-color: #a7ffa7;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
.hostDOWN, .hostUNREACHABLE {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
