/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* status.css */

BODY.status {
 font-family: "Arial", "Helvetica", sans-serif;
}
BODY.status P {
 margin: 0;
 padding: 0;
}
BODY.status TABLE {
 border-spacing: 0;
}

/* host and service total tables shown in upper right corner */
DIV.hostTotals, DIV.serviceTotals {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
 font-size: 1em;
 margin-bottom: 0.3em;
 border-right: 1px solid #ddd;
}
TABLE.hostTotals, TABLE.serviceTotals {
 width: 100%;
 margin-bottom: 0.3em;
}
TABLE.hostTotals TH, TABLE.serviceTotals TH {
 font-size: 0.8em;
 text-align: center;
 border-right: 1px solid #ddd;
 padding: 0.1em 0.5em 0.1em 0.5em;
}
TABLE.hostTotals TD, TABLE.serviceTotals TD {
 font-size: 0.7em;
 text-align: center;
 padding: 0.1em 0.5em 0.1em 0.5em;
}
TH.hostTotals, TH.serviceTotals {
 background-image: url("images/tablesubheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 font-size: 0.8em;
 padding: 0.1em 0.2em 0.1em 0.2em;
}

TD.hostTotals, TD.serviceTotals {
 background-color: #F8F8F8;
}
TD.hostTotalsUP, TD.serviceTotalsOK {
 color: #669866;
 background-color: #a7ffa7;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
}
TD.hostTotalsDOWN, TD.hostTotalsUNREACHABLE, TD.serviceTotalsCRITICAL {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
}
TD.hostTotalsPENDING, TD.serviceTotalsPENDING {
 color: #fff;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGray.png");
 background-position: bottom left;
 background-repeat: repeat-x;
}
TD.serviceTotalsWARNING {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
}
TD.hostTotalsPROBLEMS, TD.serviceTotalsPROBLEMS, TD.serviceTotalsUNKNOWN {
 color: #fff;
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 font-weight: bold;
}

A.hostTotals, A.hostTotals:visited, A.serviceTotals, A.serviceTotals:visited {
 color: #fff;
}

/* page title in the middle of the page */
DIV.statusTitle {
 text-align: center;
 font-weight: bold;
 font-size: 1em;
 margin-top: 1em;
}

/* small subtitle showing what fields the page are sorted on */
DIV.statusSort {
 font-size: 0.7em;
}

/* status styles */
TABLE.status TD {
 padding: 0 0.2em 0 0.2em;
 font-size: 9pt;
}
TABLE.status TD TD {
 padding: 0;
}
TABLE.status TH.status {
 background-image: url("images/tableheader.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-right: solid 1px #ddd;
 font-size: 0.8em;
 padding: 0.2em;
 white-space: nowrap;
}
TABLE.status TH.status IMG {
 vertical-align: middle;
}

TD.statusOdd {
 background-color: #EEE;
 border-bottom: solid 1px #ddd;
}
TD.statusEven {
 background-color: #FFF;
 border-bottom: solid 1px #ddd;
}
TD.statusEven TD, TD.statusOdd TD {
 /*background: none;*/
 border: none;
}

TD.statusOK, A.statusOK, TD.statusRECOVERY, A.statusRECOVERY, DIV.statusOK {
 color: #669866;
 background-color: #a7ffa7;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.statusOK A, TD.statusRECOVERY A, DIV.statusOK A { color: #479048; }

TD.statusPENDING, A.statusPENDING, DIV.statusPENDING {
 color: #fff;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGray.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}

TD.statusUNKNOWN, A.statusUNKNOWN, DIV.statusUNKNOWN {
 color: #fff;
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}

TD.statusWARNING, A.statusWARNING, DIV.statusWARNING {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}

TD.statusCRITICAL, A.statusCRITICAL, DIV.statusCRITICAL {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.statusPENDING A, TD.statusUNKNOWN A, TD.statusWARNING A, TD.statusCRITICAL A, DIV.statusPENDING A, DIV.statusUNKNOWN A, DIV.statusWARNING A, DIV.statusCRITICAL A { color: #fff; }

/* host status styles */
TD.statusHOSTPENDING TD, TD.statusHOSTUP TD, TD.statusHOSTDOWN TD, TD.statusHOSTDOWNACK TD, TD.statusHOSTDOWNSCHED TD, TD.statusHOSTUNREACHALBE TD, TD.statusHOSTUNREACHABLEACK TD, TD.statusHOSTUNREACHABLESCHED TD {
 border: none;
 background: none;
}

TD.statusHOSTPENDING {
 color: #005b0b;
 background-color: #01ff1f;
 background-image: url("images/gradShortVertGray.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.statusHOSTPENDING A { color: #666; }

TD.statusHOSTUP {
 color: #669866;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.statusHOSTUP A { color: #0f4d00; }

TD.statusHOSTDOWN, TD.statusHOSTDOWNACK, TD.statusHOSTDOWNSCHED, TD.statusHOSTUNREACHABLE, TD.statusHOSTUNREACHABLEACK, TD.statusHOSTUNREACHABLESCHED {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
}
TD.statusHOSTDOWN A, TD.statusHOSTDOWNACK A, TD.statusHOSTDOWNSCHED A, TD.statusHOSTUNREACHABLE A, TD.statusHOSTUNREACHABLEACK A, TD.statusHOSTUNREACHABLESCHED A { color: #fff; }

/* status backgrounds */
TD.statusBGUNKNOWN TD, TD.statusBGUNKNOWNACK TD, TD.statusBGUNKNOWNSCHED TD, TD.statusBGWARNING TD, TD.statusBGWARNINGACK TD, TD.statusBGWARNINGSCHED TD, TD.statusBGCRITICAL TD, TD.statusBGCRITICALACK TD, TD.statusBGCRITICALSCHED TD, TD.statusBGDOWN TD, TD.statusBGDOWNACK TD, TD.statusBGDOWNSCHED TD, TD.statusBGUNREACHABLE TD, TD.statusBGUNREACHABLEACK TD, TD.statusBGUNREACHABLESCHED TD {
 border: none;
 padding: 0;
 margin: 0;
}

TD.statusBGUNKNOWN, TD.statusBGUNKNOWNACK, TD.statusBGUNKNOWNSCHED {
 padding: 0;
 margin: 0;
 font-size: 1em;
 background-color: #FFDA9F;
 border-bottom: solid 1px #ddd;
}
TD.statusBGWARNING, TD.statusBGWARNINGACK, TD.statusBGWARNINGSCHED {
 padding: 0;
 margin: 0;
 font-size: 1em;
 background-color: #FEFFD6;
 border-bottom: solid 1px #ddd;
}
TD.statusBGCRITICAL, TD.statusBGCRITICALACK, TD.statusBGCRITICALSCHED, TD.statusBGDOWN, TD.statusBGDOWNACK, TD.statusBGDOWNSCHED, TD.statusBGUNREACHABLE, TD.statusBGUNREACHABLEACK, TD.statusBGUNREACHABLESCHED {
 padding: 0;
 margin: 0;
 font-size: 1em;
 background-color: #FFD6D6;
 border-bottom: solid 1px #ddd;
}

/* service statuses displayed in overviews, summaries and grids */
TD.miniStatusPENDING A {
 color: #005b0b;
 background-color: #01ff1f;
 background-image: url("images/gradShortVertGray.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 display: block;
 width: 8em;
 float: left;
 clear: right;
}
TD.miniStatusOK A {
 color: #479048;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 display: block;
 width: 8em;
 float: left;
 clear: right;
}
TD.miniStatusUNKNOWN A {
 color: #fff
 background-color: #ffae01;
 background-image: url("images/gradShortVertOrange.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 display: block;
 width: 8em;
 float: left;
 clear: right;
}
TD.miniStatusWARNING A {
 color: #fff;
 background-color: #fcff01;
 background-image: url("images/gradShortVertYellow.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 border-bottom: solid 1px #ddd;
 text-align: center;
 display: block;
 width: 8em;
 float: left;
 clear: right;
}
TD.miniStatusCRITICAL A {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 display: block;
 width: 8em;
 float: left;
 clear: right;
}

/* host statuses displayed in overviews, summaries and grids */
TD.miniStatusUP A {
 color: #479048;
 background-color: #fafafa;
 background-image: url("images/gradShortVertGreen.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 display: block;
 width: 8em;
}
TD.miniStatusDOWN A, TD.miniStatusUNREACHABLE A {
 color: #fff;
 background-color: #ff0000;
 background-image: url("images/gradShortVertRed.png");
 background-position: bottom left;
 background-repeat: repeat-x;
 text-align: center;
 display: block;
 width: 8em;
}

/* unhandled host statuses displayed in overviews, summaries and grids */
.hostImportantProblem {
 text-align: left;
 background-color: #ff0000;
 color: black;
 text-decoration: blink;
}
.hostUnimportantProblem {
 text-align: left;
 background-color: #ffcccc;
 color: black;
}

/* unhandled service statuses displayed in overviews, summaries and grids */
.serviceImportantProblem {
 text-align: left;
 background-color: #ff0000;
 color: black;
 text-decoration: blink;
}
.serviceUnimportantProblem {
 text-align: left;
 background-color: #ffcccc;
 color: black;
}

/* small section at the bottom of the page that shows the number of items displayed */
DIV.itemTotalsTitle {
 font-size: 0.7em;
 text-align: center;
}

