/* Nagios Neat: A pure CSS solution for a drab Nagios */
/* Release 001 - jacob.laack@alegent.org */
/* tac.css */

BODY.tac {
 background-color: #000;
 color: #FFF;
}
BODY.tac TABLE {
}

/* must customize these due to the black background */
DIV.infoBoxTitle {
 color: #000;
}
TD.infoBox {
 color: #FFF;
}
A.homepageURL {
 color: #aaf;
}

/* header graphics */
TD.perfTitle, TD.healthTitle, TD.featureTitle, TD.serviceTitle, TD.hostTitle, TD.outageTitle {
 background-image: url("images/tacheaderdark.png");
 background-position: top left;
 background-repeat: no-repeat;
 text-align: left;
 font-weight: bold;
 font-size: 0.8em;
 color: #FFF;
 padding-left: 0.5em;
}

TD.perfBox, TD.healthBox {
 background-image: url("images/tacbottomlight.png");
 background-position: bottom left;
 background-repeat: no-repeat;
 text-align: left;
 font-weight: bold;
 font-size: 0.7em;
 padding-left: 0.5em;
}

TD.featureHeader, TD.hostHeader, TD.serviceHeader, TD.outageHeader {
 background-image: url("images/tacleftedge.png");
 background-repeat: repeat-y;
 background-color: #e3e3e3;
 text-align: center;
 font-weight: bold;
 font-size: 0.8em;
 color: #000;
 text-decoration: none;
}

/* link color forced for IE */
A.perfTitle, A.perfTitle:visited {
 color: #FFF;
}
A.hostHeader, A.hostHeader:visited, A.serviceHeader, A.serviceHeader:visited, A.outageHeader, A.outageHeader:visited {
 color: #000;
}

/* peformance & health tables */
TD.perfItem, TD.healthItem {
 text-align: left;
 font-weight: bold;
 font-size: 0.8em;
 color: #000;
}
A.perfItem, A.perfItem:visited {
 color: #000;
}
.perfValue {
 text-align: left;
 font-size: 0.9em;
 color: black;
 text-decoration: none;
}

.healthBar {
 background-color: #808080;
}

/* monitoring features table */
TD.featureEnabled {
 text-align: center;
 font-weight: bold;
 font-size: 0.8em;
 background-color: #ccffcc;
 color: #8f8f8f;
}
TD.featureDisabled {
 text-align: center;
 font-weight: bold;
 font-size: 0.8em;
 background-color: #ffcccc;
 color: #b3b3b3;
}

TD.featureEnabledFlapDetection, TD.featureEnabledNotifications, TD.featureEnabledHandlers, TD.featureEnabledActiveChecks, TD.featureEnabledPassiveChecks {
 text-align: center;
 font-weight: bold;
 font-size: 0.8em;
 background-color: #40ff40;
 color: #99ff99;
 background-image: url("images/tacenabled.png");
 background-position: bottom left;
 background-repeat: repeat-x;
}
TD.featureDisabledFlapDetection, TD.featureDisabledNotifications, TD.featureDisabledHandlers, TD.featureDisabledActiveChecks, TD.featureDisabledPassiveChecks {
 text-align: center;
 font-weight: bold;
 font-size: 0.8em;
 background-color: #ff4146;
 color: #ff9999;
 background-image: url("images/tacdisabled.png");
 background-position: bottom left;
 background-repeat: repeat-x;
}

TD.featureItemEnabledServiceFlapDetection, TD.featureItemEnabledHostFlapDetection, TD.featureItemServicesNotFlapping, TD.featureItemHostsNotFlapping, TD.featureItemEnabledServiceNotifications, TD.featureItemEnabledHostNotifications, TD.featureItemEnabledServiceHandlers, TD.featureItemEnabledHostHandlers, TD.featureItemEnabledActiveServiceChecks, TD.featureItemEnabledActiveHostChecks, TD.featureItemEnabledPassiveServiceChecks, TD.featureItemEnabledPassiveHostChecks {
 text-align: left;
 font-size: 0.6em;
 color: #040;
}

TD.featureItemDisabledServiceFlapDetection, TD.featureItemDisabledHostFlapDetection, TD.featureItemServicesFlapping, TD.featureItemHostsFlapping, TD.featureItemDisabledServiceNotifications, TD.featureItemDisabledHostNotifications, TD.featureItemDisabledServiceHandlers, TD.featureItemDisabledHostHandlers, TD.featureItemDisabledActiveServiceChecks, TD.featureItemDisabledActiveHostChecks, TD.featureItemDisabledPassiveServiceChecks, TD.featureItemDisabledPassiveHostChecks {
 text-align: left;
 font-size: 0.6em;
 background-color: #ff4146;
 color: #FFF;
 background-image: url("images/tacdisabledhoriz.png");
 background-position: top right;
 background-repeat: repeat-y;
}
TD.featureItemDisabledServiceFlapDetection A, TD.featureItemDisabledServiceFlapDetection A:visited, TD.featureItemDisabledHostFlapDetection A, TD.featureItemDisabledHostFlapDetection A:visited, TD.featureItemServicesFlapping A, TD.featureItemServicesFlapping A:visited, TD.featureItemHostsFlapping A, TD.featureItemHostsFlapping A:visited, TD.featureItemDisabledServiceNotifications A, TD.featureItemDisabledServiceNotifications A:visited, TD.featureItemDisabledHostNotifications A, TD.featureItemDisabledHostNotifications A:visited, TD.featureItemDisabledServiceHandlers A, TD.featureItemDisabledServiceHandlers A:visited, TD.featureItemDisabledHostHandlers A, TD.featureItemDisabledHostHandlers A:visited, TD.featureItemDisabledActiveServiceChecks A, TD.featureItemDisabledActiveServiceChecks A:visited, TD.featureItemDisabledActiveHostChecks A, TD.featureItemDisabledActiveHostChecks A:visited, TD.featureItemDisabledPassiveServiceChecks A, TD.featureItemDisabledPassiveServiceChecks A:visited, TD.featureItemDisabledPassiveHostChecks A, TD.featureItemDisabledPassiveHostChecks A:visited {
 color: #FFF;
}

/* outage table */
TD.outageImportantProblem, TD.hostImportantProblem, TD.serviceImportantProblem {
 text-align: left;
 font-size: 0.6em;
 background-color: #ff4146;
 color: #000;
 background-image: url("images/tacdisabledhoriz.png");
 background-position: top right;
 background-repeat: repeat-y;
}
TD.outageImportantProblem A, TD.outageImportantProblem A:visited, TD.hostImportantProblem A, TD.hostImportantProblem A:visited, TD.serviceImportantProblem A, TD.serviceImportantProblem A:visited {
 color: #FFF;
}
TD.outageUnimportantProblem, TD.hostUnimportantProblem, TD.serviceUnimportantProblem {
 text-align: left;
 font-size: 0.6em;
 background-color: #ffc9cb;
 color: #000;
 background-image: url("images/tacpinkhoriz.png");
 background-position: top right;
 background-repeat: repeat-y;
}
TD.outageUnimportantProblem A, TD.outageUnimportantProblem A:visited, TD.hostUnimportantProblem A, TD.hostUnimportantProblem A:visited, TD.serviceUnimportantProblem A, TD.serviceUnimportantProblem A:visited {
 color: #000;
}

/* these styles change how Nagios looks, hopefully for the better, when it's printed */
@media print {
  TD.perfTitle, TD.healthTitle, TD.featureTitle, TD.serviceTitle, TD.hostTitle, TD.outageTitle, TD.perfTitle A, TD.infoBox, TD.featureItemDisabledServiceFlapDetection A, TD.featureItemDisabledServiceFlapDetection A:visited, TD.featureItemDisabledHostFlapDetection A, TD.featureItemDisabledHostFlapDetection A:visited, TD.featureItemServicesFlapping A, TD.featureItemServicesFlapping A:visited, TD.featureItemHostsFlapping A, TD.featureItemHostsFlapping A:visited, TD.featureItemDisabledServiceNotifications A, TD.featureItemDisabledServiceNotifications A:visited, TD.featureItemDisabledHostNotifications A, TD.featureItemDisabledHostNotifications A:visited, TD.featureItemDisabledServiceHandlers A, TD.featureItemDisabledServiceHandlers A:visited, TD.featureItemDisabledHostHandlers A, TD.featureItemDisabledHostHandlers A:visited, TD.featureItemDisabledActiveServiceChecks A, TD.featureItemDisabledActiveServiceChecks A:visited, TD.featureItemDisabledActiveHostChecks A, TD.featureItemDisabledActiveHostChecks A:visited, TD.featureItemDisabledPassiveServiceChecks A, TD.featureItemDisabledPassiveServiceChecks A:visited, TD.featureItemDisabledPassiveHostChecks A, TD.featureItemDisabledPassiveHostChecks A:visited, TD.outageImportantProblem A, TD.outageImportantProblem A:visited, TD.hostImportantProblem A, TD.hostImportantProblem A:visited, TD.serviceImportantProblem A, TD.serviceImportantProblem A:visited {
   color: #000;
  }

  BODY.tac {
   background: none;
  }

  TD.outageUnimportantProblem, TD.hostUnimportantProblem, TD.serviceUnimportantProblem, TD.outageImportantProblem, TD.hostImportantProblem, TD.serviceImportantProblem, TD.featureItemDisabledServiceFlapDetection, TD.featureItemDisabledHostFlapDetection, TD.featureItemServicesFlapping, TD.featureItemHostsFlapping, TD.featureItemDisabledServiceNotifications, TD.featureItemDisabledHostNotifications, TD.featureItemDisabledServiceHandlers, TD.featureItemDisabledHostHandlers, TD.featureItemDisabledActiveServiceChecks, TD.featureItemDisabledActiveHostChecks, TD.featureItemDisabledPassiveServiceChecks, TD.featureItemDisabledPassiveHostChecks, TD.featureEnabledFlapDetection, TD.featureEnabledNotifications, TD.featureEnabledHandlers, TD.featureEnabledActiveChecks, TD.featureEnabledPassiveChecks, TD.featureDisabledFlapDetection, TD.featureDisabledNotifications, TD.featureDisabledHandlers, TD.featureDisabledActiveChecks, TD.featureDisabledPassiveChecks, TD.healthBox {
   background: none;
   color: #000;
  }
  TD.featureHeader, TD.hostHeader, TD.serviceHeader, TD.outageHeader, TD.perfBox, TD.perfTitle, TD.healthTitle, TD.featureTitle, TD.serviceTitle, TD.hostTitle, TD.outageTitle {
   background: none;
   border-bottom: solid 0.5pt #000;
  }
}
