<link rel="apple-touch-icon" sizes="180x180" href="[% url_prefix %]/themes/[% theme %]/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="96x96" href="[% url_prefix %]/themes/[% theme %]/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="32x32" href="[% url_prefix %]/themes/[% theme %]/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="[% url_prefix %]/themes/[% theme %]/images/favicon-16x16.png">
