<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="shortcut icon" href="/thruk/images/favicon.ico" type="image/ico" />
    <title>[% title %]</title>
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/common.css' />
    [% SET page = 'status' IF page == '' %]
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/[% page %].css' />
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/thruk.css' />
    [% UNLESS use_frames %]
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/thruk_noframes.css' />
    [% END %]
  </head>
  <body class='[% page %]' id='[% page %]'>
  [% UNLESS use_frames %]
  <div class="navbar">
    [% PROCESS side.tt %]
  </div>
  [% END %]
  <!-- Produced by Thruk (http://github.com/sni/Thruk). Copyright (c) 1999-2007 Ethan Galstad. -->
