var initial_backend_states = new Object({
    [% FOREACH pd IN backends %]'[% pd %]': '[% backend_detail.$pd.state %]'[% UNLESS loop.last %],[% END %][% END %]
});
var initial_backends = new Object({
    [% FOREACH pd IN backends +%]
      '[% pd %]': {
        key:      '[% pd %]',
        name:     '[% backend_detail.$pd.name %]',
        state:    [% backend_detail.$pd.state +%]
      }[% UNLESS loop.last %],[% END +%]
    [% END +%]
});
