<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>[% title %]</title>
    <link rel="shortcut icon" href="/thruk/themes/[% theme %]/images/favicon.ico" type="image/ico" />
    <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/common.css' />

    [% SET page = 'status' IF page == '' %]
    <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/[% page %].css' />
    <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/thruk.css' />

    [% UNLESS use_frames %]
      <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/thruk_noframes.css' />
      <!--[if IE 5]>
      <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/thruk_noframes_ie_fix.css' />
      <![endif]-->
      <!--[if IE 6]>
      <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/thruk_noframes_ie_fix.css' />
      <![endif]-->
    [% END %]

    <link rel='stylesheet' type='text/css' href='/thruk/themes/[% theme %]/stylesheets/[% theme %].css' />
    <script type="text/javascript" src="/thruk/javascript/prototype-1.6.0.3.js"></script>
    <script type="text/javascript" src="/thruk/javascript/thruk.js"></script>
    [% IF js %]<script type="text/javascript" src="[% js %]"></script>[% END %]

    <script type="text/javascript">
    <!--
    var initial_backend_states = new Hash({
        [% FOREACH pd IN backends %]
          [% SET val = '1' %]
          [% SET val = '0' IF pi_detail.$pd.program_start %]
          [% SET val = '2' IF backend_detail.$pd.disabled == 2 %]
          [% SET val = '3' IF param_backend && pd != param_backend %]
          '[% pd %]': '[% val %]'[% UNLESS loop.last %],[% END %]
        [% END %]
    });
    var current_backend_states = initial_backend_states.clone();
    -->
    </script>
    [% PROCESS extra_headers.tt %]

  </head>

  <body class='[% page %]' id='[% page %]'[% IF refresh_rate %] onLoad="setRefreshRate([% refresh_rate %])"[% END %]>
  <div class="pref_pane" id="pref_pane">
    <a href="javascript:togglePreferencePane('[% theme %]')"><img src="/thruk/themes/[% theme %]/images/icon_minimize.gif" class="pref_pane_button" id="pref_pane_button" border="0" alt="preferences" width="13" height="12"></a>
    <form action="[% c.uri %]" method="GET">
    <table class="pref_pane" border=1 width="450">
      <tr>
        <td>
          <table>
            <tr>
              <th>Theme:</th>
              <td>
                <select name="theme" id="pref_theme">
                  [% FOR t = themes %]
                  <option value="[% t %]"[% IF t == theme %] selected[% END %]>[% t %]</option>
                  [% END %]
                </select>
                <input type="button" name="submit" value="change" onClick="prefSubmit('[% c.uri %]', '[% theme %]')">
              </td>
            </tr>
            <tr>
              <th>Page Refresh:</th>
              <td nowrap>
              [% IF refresh_rate %]
              <span id="refresh_rate">Update in [% refresh_rate %] seconds <input type="button" value="stop" onClick="stopRefresh()"></span>
              [% ELSE %]
              <span id='refresh_rate'>This page will not refresh automatically <input type='button' value='refresh now' onClick='window.location.reload(true)'></span>
              [% END %]
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </form>
  </div>
  [% UNLESS use_frames %]
  <div class="navbar">
    [% PROCESS side.tt %]
  </div>
  [% END %]

<!-- Produced by Thruk (http://www.thruk.org). Copyright (c) 2010 Thruk Developer Team. Copyright (c) 2009 Nagios Core Development Team and Community Contributors. Copyright (c) 1999-2009 Ethan Galstad. -->
<table border="0" cellpadding=0 cellspacing=0 class="top_nav">
  <tr>
    <td width="100%">
      <table border=0 cellpadding=0 cellspacing=0>
        <tr>
          <td></td>
          [% FOREACH pd IN backends %]
          <td>
            [% SET name  = 'unknown' %]
            [% SET name = backend_detail.$pd.name IF backend_detail.$pd.name %]
            [% SET name = pi_detail.$pd.peer_name IF pi_detail.$pd.program_start %]
            [% SET class = 'button_peerDOWN' %]
            [% SET class = 'button_peerUP'  IF pi_detail.$pd.program_start %]
            [% SET class = 'button_peerDIS' IF backend_detail.$pd.disabled == 2 %]
            [% SET class = 'button_peerHID' IF param_backend && pd != param_backend %]
            <input type="button" id='button_[% pd %]' class="[% class %]" value="[% name %]" title="[% name %]" onMouseOver="button_over(this)" onMouseOut="button_out(this)" onClick="toggleBackend('[% pd %]')">
          </td>
          [% END %]
        </tr>
      </table>
    </td>
    <td class="top_nav_pref">
      <input type="button" class="top_nav_pref_button" value="preferences" title="preferences" onMouseOver="button_over(this)" onMouseOut="button_out(this)" onClick="togglePreferencePane('[% theme %]', 1)">
    </td>
  </tr>
</table>
