<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="shortcut icon" href="/thruk/images/favicon.ico" type="image/ico" />
    <title>[% title %]</title>
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/common.css' />
    [% SET page = 'status' IF page == '' %]
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/[% page %].css' />
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/thruk.css' />
    [% UNLESS use_frames %]
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/thruk_noframes.css' />
    <!--[if IE 5]>
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/thruk_noframes_ie_fix.css' />
    <![endif]-->
    <!--[if IE 6]>
    <link rel='stylesheet' type='text/css' href='/thruk/stylesheets/thruk_noframes_ie_fix.css' />
    <![endif]-->

    [% IF css %]<link href="[% css %]" rel="stylesheet" type="text/css">[% END %]
    [% IF js %]<script type="text/javascript" src="[% js %]"></script>[% END %]

    [% END %]
  </head>
  <body class='[% page %]' id='[% page %]'>
  [% UNLESS use_frames %]
  <div class="navbar">
    [% PROCESS side.tt %]
  </div>
  [% END %]
  <!-- Produced by Thruk (http://github.com/sni/Thruk). Copyright (c) 1999-2007 Ethan Galstad. -->
