[% IF show_context_help %]
<br><a href='[% url_prefix %]thruk/docs/[% topic %]' target='cxhlp' onclick='window.open(this.href,"cxhlp","width=850,height=400,toolbar=0,location=0,status=0,resizable=1,scrollbars=1");return true'><img src='[% url_prefix %]thruk/themes/[% theme %]/images/contexthelp1.gif' width="30" height="29" border="0" alt='Display context-sensitive help for this screen' title='Display context-sensitive help for this screen'></a>
[% END %]
