<div class="flex relative">
  <button class="round small" title="Show link to this page" onclick="toggleElement('show_link', undefined, true); document.getElementById('url_input').focus(); return false;"><i class="uil uil-link"></i></button>

  <div class="card shadow-float absolute z-20 top-7 left-0" style="display: none;" id="show_link">
    <div class="head justify-between">
      <h3>Permanent link to this page</h3>
      <button class="iconOnly medium" onClick="toggleElement('show_link'); return false;"><i class="uil uil-times"></i></button>
    </div>
    <div class="body">
      [% IF style != 'combined' %]
        <form action='#' method="GET" id="url_form">
      [% END %]
      <input type="text" size="60" value="" id="url_input" onfocus="updateExportLink(this); this.select()" readonly>
      [% IF style != 'combined' %]
        </form>
      [% END %]
    </div>
  </div>
</div>