[% PROCESS _header.tt %]

    <table border="0" width="100%" cellspacing="0" cellpadding="0" class="infoboxrow">
      <tr>
        <td align="left" valign="top" width="33%">
            [% PROCESS _infobox.tt %]
            [% IF c.check_user_roles('authorized_for_configuration_information') && c.check_user_roles('authorized_for_system_information') && ( apache_status.size > 0 || c.cluster.is_clustered ) %]
            <table border="1" cellpadding="0" cellspacing="0" class='linkBox'>
              [% IF c.cluster.is_clustered %]
              <tr>
                <td class='linkBox'>
                  <a href='extinfo.cgi?type=4&amp;cluster=1'>Show Cluster Status</a><br>
                </td>
              </tr>
              [% END %]
              [% FOREACH link IN apache_status %]
              <tr>
                <td class='linkBox'>
                  <a href='extinfo.cgi?type=4&amp;apache=[% link %]'>Show [% link %] Apache Status</a><br>
                </td>
              <tr>
              [% END %]
            </table>
            [% END %]
        </td>
        <td align="center" valign="middle" width="33%"></td>
        <td align="right" valign="bottom" width="33%">
          [% PROCESS _help.tt topic = "extinfo_4" %]
        </td>
      </tr>
    </table><br>
    <div align="center" class="extinfo4">
      <div class='dataTitle perfDataTitle'>Program-Wide Performance Information</div>

      <table border='0' cellpadding='10'>
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Services Actively Checked:</div></td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0" class="service_metrics">
                    <tr class='data'>
                      <th class='data'>Time Frame</th>
                      <th class='data'>Services Checked</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 minute:</td>
                      <td class='dataVal'>[% stats.services_active_1_sum %] ([% sprintf('%.1f',stats.services_active_1_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 5 minutes:</td>
                      <td class='dataVal'>[% stats.services_active_5_sum %] ([% sprintf('%.1f',stats.services_active_5_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 15 minutes:</td>
                      <td class='dataVal'>[% stats.services_active_15_sum %] ([% sprintf('%.1f',stats.services_active_15_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 hour:</td>
                      <td class='dataVal'>[% stats.services_active_60_sum %] ([% sprintf('%.1f',stats.services_active_60_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Since program start:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% stats.services_active_all_sum %] ([% sprintf('%.1f',stats.services_active_all_perc) %]%)</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data service_check_metrics">
              <tr>
                <td class='stateInfoTable2'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Metric</th>
                      <th class='data'>Min.</th>
                      <th class='data'>Max.</th>
                      <th class='data'>Average</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>Check Execution Time:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_execution_time_min) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_execution_time_max) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.3f',stats.services_execution_time_avg) %] sec</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Check Latency:</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_latency_min) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_latency_max) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.3f',stats.services_latency_avg) %] sec</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Percent State Change:</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_active_state_change_min) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_active_state_change_max) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_active_state_change_avg) %]%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Services Passively Checked:</div></td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data service_passive_metrics">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Time Frame</th>
                      <th class='data'>Services Checked</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 minute:</td>
                      <td class='dataVal'>[% stats.services_passive_1_sum %] ([% sprintf('%.1f',stats.services_passive_1_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 5 minutes:</td>
                      <td class='dataVal'>[% stats.services_passive_5_sum %] ([% sprintf('%.1f',stats.services_passive_5_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 15 minutes:</td>
                      <td class='dataVal'>[% stats.services_passive_15_sum %] ([% sprintf('%.1f',stats.services_passive_15_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 hour:</td>
                      <td class='dataVal'>[% stats.services_passive_60_sum %] ([% sprintf('%.1f',stats.services_passive_60_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Since program start:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% stats.services_passive_all_sum %] ([% sprintf('%.1f',stats.services_passive_all_perc) %]%)</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data services_passive_check_metrics">
              <tr>
                <td class='stateInfoTable2'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Metric</th>
                      <th class='data'>Min.</th>
                      <th class='data'>Max.</th>
                      <th class='data'>Average</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>Percent State Change:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_passive_state_change_min) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_passive_state_change_max) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.services_passive_state_change_avg) %]%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Hosts Actively Checked:</div></td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data host_metrics">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Time Frame</th>
                      <th class='data'>Hosts Checked</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 minute:</td>
                      <td class='dataVal'>[% stats.hosts_active_1_sum %] ([% sprintf('%.1f',stats.hosts_active_1_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 5 minutes:</td>
                      <td class='dataVal'>[% stats.hosts_active_5_sum %] ([% sprintf('%.1f',stats.hosts_active_5_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 15 minutes:</td>
                      <td class='dataVal'>[% stats.hosts_active_15_sum %] ([% sprintf('%.1f',stats.hosts_active_15_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 hour:</td>
                      <td class='dataVal'>[% stats.hosts_active_60_sum %] ([% sprintf('%.1f',stats.hosts_active_60_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Since program start:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% stats.hosts_active_all_sum %] ([% sprintf('%.1f',stats.hosts_active_all_perc) %]%)</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data host_check_metrics">
              <tr>
                <td class='stateInfoTable2'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Metric</th>
                      <th class='data'>Min.</th>
                      <th class='data'>Max.</th>
                      <th class='data'>Average</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>Check Execution Time:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_execution_time_min) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_execution_time_max) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.3f',stats.hosts_execution_time_avg) %] sec</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Check Latency:</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_latency_min) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_latency_max) %] sec</td>
                      <td class='dataVal'>[% sprintf('%.3f',stats.hosts_latency_avg) %] sec</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Percent State Change:</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_active_state_change_min) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_active_state_change_max) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_active_state_change_avg) %]%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Hosts Passively Checked:</div></td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data host_passive_metrics">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Time Frame</th>
                      <th class='data'>Hosts Checked</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 minute:</td>
                      <td class='dataVal'>[% stats.hosts_passive_1_sum %] ([% sprintf('%.1f',stats.hosts_passive_1_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 5 minutes:</td>
                      <td class='dataVal'>[% stats.hosts_passive_5_sum %] ([% sprintf('%.1f',stats.hosts_passive_5_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 15 minutes:</td>
                      <td class='dataVal'>[% stats.hosts_passive_15_sum %] ([% sprintf('%.1f',stats.hosts_passive_15_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>&lt;= 1 hour:</td>
                      <td class='dataVal'>[% stats.hosts_passive_60_sum %] ([% sprintf('%.1f',stats.hosts_passive_60_perc) %]%)</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Since program start:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% stats.hosts_passive_all_sum %] ([% sprintf('%.1f',stats.hosts_passive_all_perc) %]%)</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data host_passive_check_metrics">
              <tr>
                <td class='stateInfoTable2'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Metric</th>
                      <th class='data'>Min.</th>
                      <th class='data'>Max.</th>
                      <th class='data'>Average</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>Percent State Change:&nbsp;&nbsp;</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_passive_state_change_min) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_passive_state_change_max) %]%</td>
                      <td class='dataVal'>[% sprintf('%.2f',stats.hosts_passive_state_change_avg) %]%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>



        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Livestatus Statistics:</div></td>
          <td valign="top">
            <table border="1" cellspacing="0" cellpadding="0" class="data livestatus_metrics">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Type</th>
                      <th class='data'>Total</th>
                      <th class='data'>Rate</th>
                      <th class='data'>Cached</th>
                    </tr>
                    <tr title="The number of completed service checks since program start">
                      <td class='dataVar'>Servicechecks:</td>
                      <td class='dataVal'>[% format_number(perf_stats.service_checks) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.service_checks_rate) %] /sec</td>
                      <td class='dataVal'></td>
                    </tr>
                    <tr title="The number of host checks since program start">
                      <td class='dataVar'>Hostchecks:</td>
                      <td class='dataVal'>[% format_number(perf_stats.host_checks) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.host_checks_rate) %] /sec</td>
                      <td class='dataVal'></td>
                    </tr>
                    <tr title="The number of process creations since program start">
                      <td class='dataVar'>Forks:</td>
                      <td class='dataVal'>[% format_number(perf_stats.forks) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.forks_rate) %] /sec</td>
                      <td class='dataVal'></td>
                    </tr>
                    <tr title="The number of client connections to Livestatus since program start">
                      <td class='dataVar'> Connections:</td>
                      <td class='dataVal'>[% format_number(perf_stats.connections) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.connections_rate) %] /sec</td>
                      <td class='dataVal'></td>
                    </tr>
                    <tr title="The number of requests to Livestatus since program start">
                      <td class='dataVar'>Requests:</td>
                      <td class='dataVal'>[% format_number(perf_stats.requests) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.requests_rate) %] /sec</td>
                      <td class='dataVal'></td>
                    </tr>
                    <tr title="The number of NEB call backs since program start">
                      <td class='dataVar' title="The number of NEB call backs since program start">NEB Callbacks:</td>
                      <td class='dataVal'>[% format_number(perf_stats.neb_callbacks) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.neb_callbacks_rate) %] /sec</td>
                      <td class='dataVal'></td>
                    </tr>
                    <tr title="The number of new log messages since program start">
                      <td class='dataVar'>Log Messages:</td>
                      <td class='dataVal'>[% format_number(perf_stats.log_messages) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f',perf_stats.log_messages_rate) %] /sec</td>
                      <td class='dataVal'>[% format_number(perf_stats.cached_log_messages) %]</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td valign="top"></td>
        </tr>

<!--
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Check Statistics:</div></td>
          <td valign="top" colspan='2'>
            <table border="1" cellspacing="0" cellpadding="0" class="data">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Type</th>
                      <th class='data'>Last 1 Min</th>
                      <th class='data'>Last 5 Min</th>
                      <th class='data'>Last 15 Min</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>Active Scheduled Host Checks</td>
                      <td class='dataVal'>1</td>
                      <td class='dataVal'>19</td>
                      <td class='dataVal'>120</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Active On-Demand Host Checks</td>
                      <td class='dataVal'>262</td>
                      <td class='dataVal'>1298</td>
                      <td class='dataVal'>3682</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Parallel Host Checks</td>
                      <td class='dataVal'>255</td>
                      <td class='dataVal'>1253</td>
                      <td class='dataVal'>3647</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Serial Host Checks</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Cached Host Checks</td>
                      <td class='dataVal'>9</td>
                      <td class='dataVal'>64</td>
                      <td class='dataVal'>155</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Passive Host Checks</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Active Scheduled Service Checks</td>
                      <td class='dataVal'>345</td>
                      <td class='dataVal'>1817</td>
                      <td class='dataVal'>5392</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Active On-Demand Service Checks</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Cached Service Checks</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>Passive Service Checks</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                    </tr>
                    <tr>
                      <td class='dataVar'>External Commands</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Buffer Usage:</div></td>
          <td valign="top" colspan='2'>
            <table border="1" cellspacing="0" cellpadding="0" class="data">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'><th class='data'>Type</th>
                      <th class='data'>In Use</th>
                      <th class='data'>Max Used</th>
                      <th class='data'>Total Available</th>
                    </tr>
                    <tr>
                      <td class='dataVar'>External Commands&nbsp;</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>0</td>
                      <td class='dataVal'>4096</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
-->

        [% IF has_logcache || logcache_error %]
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>Logcache Statistics:</div></td>
          <td valign="top" colspan=2>
            <table border="1" cellspacing="0" cellpadding="0" class="data logcache_stats">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Backend</th>
                      <th class='data'>Data Usage</th>
                      <th class='data'>Index Usage</th>
                      <th class='data'>Items</th>
                      <th class='data'>Oldest Item</th>
                      <th class='data'>Latest Item</th>
                    </tr>
                    [% IF logcache_error %]
                    <tr>
                      <td class='dataVal' colspan=6><div class="errorMessage">[% logcache_error %]</div></td>
                    </tr>
                    [% ELSE %]
                    [% FOREACH peer_key = logcache_stats.keys.sort %]
                    [% s = logcache_stats.$peer_key %]
                    <tr>
                      <td class='dataVal'>[% s.name %]</td>
                      <td class='dataVal'>[% n = reduce_number(s.data_size, 'B', 1024); sprintf('%.2f %s',n.0, n.1) %]</td>
                      <td class='dataVal'>[% n = reduce_number(s.index_size, 'B', 1024); sprintf('%.2f %s',n.0, n.1) %]</td>
                      <td class='dataVal'>[% format_number(s.items) %]</td>
                      <td class='dataVal'>[% IF s.defined('start') %][% date_format(c, s.start,) %][% END %]</td>
                      <td class='dataVal'>[% IF s.defined('end') %][% date_format(c, s.end,) %][% END %]</td>
                    </tr>
                    [% END %]
                    [% END %]
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        [% END %]

        [% IF has_lmd %]
        <tr>
          <td valign="middle"><div class='perfTypeTitle'>LMD Statistics:</div></td>
          <td valign="top" colspan=2>
            <table border="1" cellspacing="0" cellpadding="0" class="data lmd_stats">
              <tr>
                <td class='stateInfoTable1'>
                  <table border="0">
                    <tr class='data'>
                      <th class='data'>Backend</th>
                      <th class='data'>Send</th>
                      <th class='data'>Received</th>
                      <th class='data'>Send Rate</th>
                      <th class='data'>Received Rate</th>
                      <th class='data'>Last Update</th>
                      <th class='data'>Latency</th>
                    </tr>
                    [% FOREACH s = lmd_stats %]
                    <tr>
                      <td class='dataVal'>[% s.name %]</td>
                      <td class='dataVal'>[% n = reduce_number(s.bytes_send, 'B', 1024); sprintf('%.2f %s',n.0, n.1) %]</td>
                      <td class='dataVal'>[% n = reduce_number(s.bytes_received, 'B', 1024); sprintf('%.2f %s',n.0, n.1) %]</td>
                      <td class='dataVal'>[% n = reduce_number(s.bytes_send_rate, 'B', 1024); sprintf('%.2f %s',n.0, n.1) %]/s</td>
                      <td class='dataVal'>[% n = reduce_number(s.bytes_received_rate, 'B', 1024); sprintf('%.2f %s',n.0, n.1) %]/s</td>
                      <td class='dataVal'>[% date_format(c, s.last_update) %]</td>
                      <td class='dataVal'>[% sprintf('%.2f', s.response_time) %]s</td>
                    </tr>
                    [% END %]
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        [% END %]

      </table>
    </div>

[% PROCESS _footer.tt %]
