[% PROCESS _header.tt %]

<div class="flexrow">
  <div class="flexcol">
    [% PROCESS _infobox.tt %]
    <div class="card">
      <table>
        <tr>
          <td>
            <a href='extinfo.cgi?type=4'>back to Performance Info</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
  </div>
</div>

<div class="card w-full mt-5">
  <div>
    [% content %]
  </div>
</div>

[% PROCESS _footer.tt %]
