<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="shortcut icon" href="/nagios/images/favicon.ico" type="image/ico" />
    <title>[% title %]</title>
    <link rel='stylesheet' type='text/css' href='/nagios/stylesheets/common.css' />
    <link rel='stylesheet' type='text/css' href='/nagios/stylesheets/[% page %].css' />
  </head>
  <body class='[% page %]'>
<!-- Produced by Nagios (http://www.nagios.org).  Copyright (c) 1999-2007 Ethan Galstad. -->
