<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <title>Thruk</title>
    <link rel="shortcut icon" href="/thruk/themes/[% theme %]/images/favicon.ico" type="image/ico" />
  </head>
  <frameset cols="180,*">
    <frame src="side.html[% IF target %]?target=[% target %][% END %]" name="side" frameborder="0" id="side" />
    <frame src="[% IF main %][% main %][% ELSE %]main.html[% END %]" name="main" frameborder="0" id="main" />
    <noframes>
      <!-- This page requires a web browser which supports frames. -->
      <body>
        <h2>Thruk</h2>
        <p align="center">
          <a href="http://www.thruk.org">http://www.thruk.org</a><br />
          Copyright &copy; 2010 Thruk Developer Team.<br />
          Copyright &copy; 2009 Nagios Core Development Team and Community Contributors.<br />
          Copyright &copy; 1999-2009 Ethan Galstad.<br />
        </p>
        <p>
          <i>Note: These pages require a browser which supports frames</i>
        </p>
      </body>
    </noframes>
  </frameset>
</html>
