<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <title>[% title_prefix %][% title %]</title>
    <link rel="shortcut icon" href="[% url_prefix %]thruk/themes/[% theme %]/images/favicon.ico" type="image/ico" />
    <script type="text/javascript">
    <!--
    /* send debug output to firebug console */
    function debug(str) {
        if (window.console != undefined) {
            console.debug(str);
        }
    }

    /* save url part in parents hash */
    var nohashchange = 0;
    function save_url_in_parents_hash(e) {
        if(nohashchange == 1) {
          nohashchange = 0;
          return;
        }
        var oldloc = new String(document.location);
        oldloc     = oldloc.replace(/#+.*$/, '');
        oldloc     = oldloc.replace(/\?.*$/, '');
        if(!oldloc.match(/\/thruk\/$/)) {
            return;
        }
        var newloc = new String(window.frames['main'].location);
        newloc     = newloc.replace(oldloc, '');
        newloc     = newloc.replace(/\?_=\d+/, '');
        newloc     = newloc.replace(/\&_=\d+/, '');
        newloc     = newloc.replace(/\&reload_nav=\d+/, '');
        newloc     = newloc.replace(/\?reload_nav=\d+/, '');
        newloc     = newloc.replace(/\&theme=\w*/, '');
        newloc     = newloc.replace(/\?theme=\w*/, '');
        if('#'+newloc != location.hash) {
            debug('saved -> #'+newloc);
            nohashchange = 1;
            location.replace('#'+newloc);
        }
        return;
    }

    /* when framed, and there is a valid url in our
     * hash, load it instead of the main frame
     */
    var framesrc = "[% IF main %][% main %][% ELSE %][% start_page %][% END %]";
    var newurl = new String(window.location.hash);
    newurl     = newurl.replace(/^#/, '');
    var oldurl = new String(window.location);
    oldurl     = oldurl.replace(/#.*$/, '');
    var values = window.location.pathname.split("/");
    values.pop();
    var last   = values.pop();
    if(last == 'thruk' && newurl != 'main.html' && newurl != '') {
        debug('go -> '+ newurl);
        if(newurl.match(/^\d+:\/\//)) {
            framesrc = newurl;
        }
        else if(newurl.match(/^\//)) {
            framesrc = window.location.protocol + '//' + window.location.host + newurl;
        } else {
            framesrc = oldurl + newurl;
        }
    }

    /* we have to change frame location on hash changes caused by history changes */
    window.onhashchange = function(e) {
      if(nohashchange == 0) {
        nohashchange = 1;
        var newurl = e.newURL;
        newurl     = newurl.replace(/^.*#/, '');
        debug('hashchange -> ' + newurl);
        window.frames[1].location.replace(newurl);
      }
      nohashchange = 0;
    };

    [%+ index_content = BLOCK %]
      <noframes>
        <!--
          This page requires a web browser which supports frames.
          No-Frames mode can be enabled in your thruk_local.conf.
        -->
        <body>
          <h2>Thruk</h2>
          <p align="center">
            <a href="http://www.thruk.org">http://www.thruk.org</a><br />
            Copyright &copy; 2010-2012 Thruk Developer Team.<br />
            Copyright &copy; 2009 Nagios Core Development Team and Community Contributors.<br />
            Copyright &copy; 1999-2009 Ethan Galstad.<br />
          </p>
          <p>
            <i>Note: These pages require a browser which supports frames</i>
          </p>
        </body>
      </noframes>
    </frameset>
    [% END +%]
    document.write('<frameset cols="172,*" frameborder="0" framespacing="0" border="0">');
    document.write('<frame src="[% url_prefix %]thruk/side.html[% IF target %]?target=[% target %][% END %]" name="side" frameborder="0" id="side" style="overflow-x: hidden;" />');
    document.write('<frame src="'+framesrc+'" name="main" frameborder="0" id="main" onload="save_url_in_parents_hash(this.name)" />');
    [%+ FOR line = index_content.split("\n") %]
    document.write('[% line.replace('/', '\\/') %]');
    [%+ END +%]
    -->
    </script>
  </head>
  <frameset cols="172,*">
    <frame src="[% url_prefix %]thruk/side.html[% IF target %]?target=[% target %][% END %]" name="side" frameborder="0" id="side" style="overflow-x: hidden;" />
    <frame src="[% IF main %][% main %][% ELSE %][% start_page %][% END %]" name="main" frameborder="0" id="main" />
  [% index_content %]
</html>
