<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Thruk Monitoring Webinterface</title>
    [% PROCESS _favicon.tt %]
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    [% PROCESS _common_css.tt %]
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    [% PROCESS _common_js_files.tt %]
  </head>
  <body class='loginpage w-screen h-screen flexcol justify-center items-center'>

    [% PROCESS _common_js.tt %]
    [% IF ssi_header; ssi_header | evaltt; END %]
    [% PROCESS _header_broadcast.tt %]
    [% PROCESS _message.tt %]

    <div class="w-[300px] card rounded-xl shadow-float h-fit z-10 p-8 flexcol flex-nowrap gap-y-0 loginmask">
      <a href="[% c.config.home_link %]" target="_blank"><img src="[% url_prefix %]themes/[% theme %]/images/logo_thruk.png" alt="Thruk" title="Thruk" class="mb-5 mx-auto"></a>
      [% IF c.config.basic_auth_enabled %]
        <form method="POST" action="login.cgi" onsubmit="setFormBtnSpinner(this)" class="w-full">
          <input type="hidden" name="referer" value="[% referer | html %]">
          <div class="relative"><i class="uil uil-user absolute opacity-50 top-4 left-2"></i><input type="text" name="login" placeholder="User" id="loginuser" required class="w-full text-lg silent mt-2 pl-8" /></div>
          <div class="togglePassword relative mt-2">
            <i class="uil uil-key-skeleton opacity-50 absolute top-2 left-2"></i>
            <input type="password" name="password" placeholder="Password" required class="w-full text-lg silent  pl-8" />
            <i class="uil uil-eye-slash absolute z-10 right-0 top-0 mr-2 my-1.5 opacity-50 text-lg togglePassword"></i>
          </div>
          <button type="submit" class="text-lg font-semibold mt-2 flexrow flex-nowrap justify-between w-full">
            <div class="w-5"><i class="uil uil-placeholder"></i></div>
            Sign in
            <div class="w-5"></div>
          </button>
        </form>
      [% END %]
      [% IF c.config.basic_auth_enabled || c.config.auth_oauth.provider.size > 0 %]
        [% FOREACH auth = c.config.auth_oauth.provider %]
          [% IF c.config.basic_auth_enabled && loop.first %]
          <div class="flex flex-nowrap pt-2">
            <div class="flex-grow mt-2"><hr class="w-full"></div>
            <div class="w-fit mx-4 text-center font-semibold">OR</div>
            <div class="flex-grow mt-2"><hr class="w-full"></div>
          </div>
          [% END %]
          <form method="POST" action="login.cgi" onsubmit="setFormBtnSpinner(this)" class="w-full">
            <input type="hidden" name="referer" value="[% referer | html %]">
            <input type="hidden" name="oauth" value="[% loop.index %]">
            <button type="submit" class="text-lg font-semibold mt-2 flexrow flex-nowrap justify-between w-full">
              <div class="w-5"><i class="[% IF auth.defined("icon") %][% auth.icon | html %][% ELSE %]uil uil-placeholder[% END %]"></i></div>
              [% IF auth.defined("login") %][% auth.login %][% ELSE %]Login with OAuth[% END %]
              <div class="w-5"></div>
            </button>
          </form>
        [% END %]
      [% END %]
      <div class="mt-5 font-semibold whitespace-nowrap text-center textHINTsoft flexcol gap-1">
        <a class="link text-sm" href="https://www.thruk.org/" target="_blank">
          v[% thrukversion %]
        </a>
        [% IF c.config.extra_version %]
          <a class="link text-xs" href='[% c.config.extra_version_link %]' target='_blank'>[% c.config.extra_version %]</a>
        [% END %]
      </div>
    </div>

    <div class="basis-1/3"></div>

    <script>
    <!--
      if(window.location.hash) {
        var val = window.location.search + window.location.hash;
        val = val.replace(/\/thruk\/#/, '/thruk/');
        val = val.replace(/^\?/, '');
        val = val.replace(/^(logout|expired|invalid|problem|locked|setsession)&/, '');
        val = val.replace(/^\/*/, '/');
        if(val != '') {
          jQuery("INPUT[name='referer']").val(val);
        }
      }
    -->
    </script>

    [% IF ssi_footer; ssi_footer | evaltt; END %]
  </body>
</html>