.peerDOWN { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }
.hostPENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.servicePENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.itemTotalsTitle { font-family: arial,serif;  font-size: 8pt;  text-align: center; }

div.navbarsearch form fieldset {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.pager_direct_link {
  font-weight: normal;
  color: #000000;
}
.pager_direct_link_current {
  font-weight: bold;
  color: #FF6600;
}

/* fix for link box and infobox border */
table.infoBox {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.infoBox td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}
table.linkBox {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.linkBox td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}

/* fix for bold perf data on tac page top right */
.perfValue {
  font-weight: normal;
}

/* fix for bold features on tac page */
td.featureEnabledFlapDetection {
    font-weight: normal;
}
td.featureEnabledNotifications {
    font-weight: normal;
}
td.featureEnabledHandlers {
    font-weight: normal;
}
td.featureDisabledActiveChecks {
    font-weight: normal;
}
td.featureEnabledPassiveChecks {
    font-weight: normal;
}