.peerDOWN { width:100px; font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #F83838;  font-weight: bold; }
.hostPENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.servicePENDING { font-family: arial,serif;  font-size: 10pt;  text-align: left;  background-color: #ACACAC;  font-weight: bold; float: left; }
.itemTotalsTitle { font-family: arial,serif;  font-size: 8pt;  text-align: center; }

.nav_small_logo { margin: 0px; padding: 0px; }

body.navbar {
  font-family:arial,verdana,serif;
  margin: 5px;
  margin-top: 2px;
}

/* class to preload images */
.hidepics {
  width:0px;
  height:0px;
  visibility:hidden;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

div.navbarsearch form fieldset {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

div.navsection {
  margin:2px 0 8px;
}

.pager_direct_link {
  vertical-align:top;
  font-weight: normal;
  color: #000000;
}
.pager_direct_link_current {
  vertical-align:top;
  font-weight: bold;
  color: #FF6600;
}
.pager_input_img {
  vertical-align:text-bottom;
}

/* details hover for trends image map */
div.image_hover {
  visibility:hidden;
  z-index:100;
  position:absolute;
  top:3px;
  left:175px;
}
table.popupBorder {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #ffffcc;
  border-collapse: separate;
  background-color: #ffffcc;
}
body.trends table.popupBorder > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #ffffcc;
  background-color: #ffffcc;
}
body.trends table.popupText {
  background-color: #ffffcc;
  border: none;
}
body.trends table.popupText td {
  background-color: #ffffcc;
  border: none;
  vertical-align: top;
}
body.trends table.popupText th {
  background-color: #ffffcc;
  border: none;
  text-align: left;
  text-decoration: underline;
  min-width: 300px;
  vertical-align: top;
}

/* fix for link box and infobox border */
table.infoBox {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
table.infoBox td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}
table.linkBox {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.linkBox td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}

/* fix for bold perf data on tac page top right */
.perfValue {
  font-weight: normal;
}

/* fix for bold features on tac page */
td.featureEnabledFlapDetection {
    font-weight: normal;
}
td.featureEnabledNotifications {
    font-weight: normal;
}
td.featureEnabledHandlers {
    font-weight: normal;
}
td.featureDisabledActiveChecks {
    font-weight: normal;
}
td.featureEnabledPassiveChecks {
    font-weight: normal;
}

/* fix for commando description box */
table.commandDescription {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.commandDescription td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}


/* fix for link box and infobox border */
body.cmd table.optBox {
  margin-top: 5px;
  margin-bottom: 0px;
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #C4C2C2;
  border-collapse: separate;
  background-color: #C4C2C2;
}
body.cmd table.optBox > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C2C2;
  background-color: #C4C2C2;
}
/* fix for calendar image in commands */
body.cmd img {
  vertical-align:text-bottom;
}


/* fix for state info boxes box */
table.data {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
td.stateInfoTable1 {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}
td.stateInfoTable2 {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #C4C4C4;
  background-color: #C4C4C4;
}

/* fix for extinfo command box */
table.command {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.command > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}

/* performance data table header */
th.data {
  padding-left: 8px;
  padding-right: 8px;
  background-color:#999797;
  color:#DCE5C1;
  font-family:arial,serif;
  font-size:10pt;
  text-align:left;
}

/* fix for filter box in status */
table.filter {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.filter > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
  background-color: #DBDBDB;
}


/* fix for host totals box */
table.hostTotals {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.hostTotals td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}

/* fix for service totals box */
table.serviceTotals {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.serviceTotals td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}


/* fix for status box */
table.statusgroups {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
table.statusgroups > tbody > tr > td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}

/* fix for availability report boxes */
body.avail table.data {
  border-spacing: 2px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
body.avail table.data td {
  padding: 2px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}


/* fix for availability logs boxes */
body.avail table.logEntries {
  border-spacing: 1px;
  border-style: outset;
  border-color: #DBDBDB;
  border-collapse: separate;
  background-color: #DBDBDB;
}
body.avail table.logEntries td {
  padding: 1px;
  margin: 0px;
  border-width: 1px;
  border-style: inset;
  border-color: #DBDBDB;
}
