* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #000;
	background-color: #fff;
}

img {
	border: 0;
}

ul {
	list-style-type: none;
}

#top_left {
	float: left;
	width: 50%;
	height: 60px;
}

#top_left h1 {
	margin-left : 20px;
	margin-top: 18px;
	font-size: 2.3em;
	font-weight: normal;
}

#top_left h1 a:link, #top_left h1 a:active, #top_left h1 a:visited {
	color: #000;
	text-decoration: none;
}

#top_left h1 a:hover {
	color: #6e7475;
}

#top_right {
	float: right;
	width: 50%;
	height: 60px;
	text-align: right;
}

#top_right p {
	margin-top: 18px;
	margin-right : 15px;
}

#top_right p a:link, #top_right p a:active, #top_right p a:visited {
	color: #6e7475;
	text-decoration: none;
}

#top_right p a:hover {
	text-decoration: underline;
}

#navigation {
	width: 100%;
	height: 26px;
	background: #ededed url(../../images/interface/bar.gif) top left repeat-x;
}

#search_box {
	padding: 2px;
	width: 164px;
	height: 18px;
	background-color: #fff;
}

.NavBarSearchItem {
	float: left;
	width: 130px;
	height: 18px;
	color: #6e7475;
	border: 0;
	line-height: 18px;
}

#search_submit {
	width: 24px;
	height: 18px;
	color: #fff;
	background-color: #6e7475;
	text-align: center;
	font-weight: bold;
}
