/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'), /* Legacy iOS */
       url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v15-latin-700.svg#Roboto') format('svg'), /* Legacy iOS */
       url('../fonts/roboto-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v15-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  background:#f1f1f1 url(../images/bg.png) repeat-x;
  background-attachment: scroll;
  color:#5f6268;
  font-family: 'Roboto-Regular';
  font-size:11px;
  line-height:18px;
  margin-top:1px;
  margin-right:5px;
}

@media print {
  body {
    background:#f1f1f1;
  }
}

#currentversioninfo {
  font-size:14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#currentversioninfo .product,#currentversioninfo .version {
  font-size:16px;
  font-family: 'Roboto-Bold';
}

#currentversioninfo .releasedate {
  font-size:13px;
  margin:5px 0 0;
}

#currentversioninfo .whatsnew {
  font-size:13px;
  font-family: 'Roboto-Bold';
  margin:50px 0 0;
}

#mainbrandsplash {
  font-size:14px;
  font-family: 'Roboto-Bold';
  margin:0 0 35px;
}

#maincopy {
  margin:0 0 15px;
}

#search-results,.navsectiontitle {
  background:#ffcd00;
}
.navsectiontitle:hover {
  background-color:#ffdc4f;
}

#splashpage {
  text-align:center;
}

.featureDisabled,.featureDisabledNotifications,.featureItemDisabledServiceNotifications,.featureItemDisabledHostNotifications,.featureDisabledFlapDetection,.featureItemDisabledServiceFlapDetection,.featureItemDisabledHostFlapDetection,.featureItemServicesFlapping,.featureItemHostsFlapping,.featureDisabledHandlers,.featureItemDisabledServiceHandlers,.featureItemDisabledHostHandlers,.featureDisabledActiveChecks,.featureItemDisabledActiveServiceChecks,.featureItemDisabledActiveHostChecks,.featureDisabledPassiveChecks,.featureItemDisabledPassiveServiceChecks,.featureItemDisabledPassiveHostChecks {
  color:#ffffff;
  background-color:#f0666c;
  white-space: nowrap;
}
.featureDisabled a,.featureDisabledNotifications a,.featureItemDisabledServiceNotifications a,.featureItemDisabledHostNotifications a,.featureDisabledFlapDetection a,.featureItemDisabledServiceFlapDetection a,.featureItemDisabledHostFlapDetection a,.featureItemServicesFlapping a,.featureItemHostsFlapping a,.featureDisabledHandlers a,.featureItemDisabledServiceHandlers a,.featureItemDisabledHostHandlers a,.featureDisabledActiveChecks a,.featureItemDisabledActiveServiceChecks a,.featureItemDisabledActiveHostChecks a,.featureDisabledPassiveChecks a,.featureItemDisabledPassiveServiceChecks a,.featureItemDisabledPassiveHostChecks a, .featureItemEnabledActiveServiceChecks a {
  color:inherit;
}

.filter_button_mini {
  left:-8px;
  top:-3px;
}

.hostUNREACHABLE {
  background-color:#e12d56;
}

.infoBoxBadProcStatus {
  color:#e12d56;
}

.infoMessage,.optionBoxTitle,.dataTitle,.infoBoxTitle,.filterTitle,.statusTitle,.itemTotalsTitle,.queueTitle,.optBoxTitle,.descriptionTitle,.navBoxTitle {
  font-family: 'Roboto-Bold';
}

DIV.infoMessage {
  text-align: center;
}

.navbarlogo {
  margin:0 0 10px;
}

.navbarsearch fieldset {
  border: 0px none;
}

.navbarsearch fieldset legend {
  line-height:0;
  visibility:hidden;
}

.navbarsearch input {
  font-size:12px;
  width:120px;
}

.navsection {
  line-height:16px;
  margin:5px 0 10px;
}

.navsectionfooter {
  background:#d9d9d9;
  height:7px;
  line-height:7px;
}

.navsectiontitle {
  font-size:14px;
  font-family: 'Roboto-Bold';
  height:30px;
  line-height:30px;
  text-align:center;
  vertical-align:bottom;
  cursor: pointer;
}

.notificationsDISABLED,.queueDISABLED,.checksDISABLED,.eventhandlersDISABLED,.flapdetectionDISABLED,.flapping,.downtimeACTIVE,.processCRITICAL,.hostDOWN,.hostUNREACHABLE,.serviceCRITICAL,input.button_peerDOWN,.peerDOWN {
  color:#ffffff;
  background-color:#f0666c;
}
.hostDOWN a {
  color:inherit;
}

.featureItemEnabledServiceHandlers,.featureItemEnabledHostHandlers,.featureItemEnabledHostNotifications,input.button_peerUP,.featureItemEnabledPassiveServiceChecks,.featureItemEnabledPassiveHostChecks,.serviceOK,.notflapping,.downtimeINACTIVE,.checksENABLED,.notificationsENABLED,.eventhandlersENABLED,.flapdetectionENABLED,.hostUP,.queueENABLED {
  background-color:#66bb6a;
  color:#ffffff;
  white-space: nowrap;
}
.hostUP a {
  color:inherit;
}

.processOK,.featureEnabled,.featureEnabledNotifications,.featureItemEnabledServiceNotifications,.featureEnabledFlapDetection,.featureItemEnabledServiceFlapDetection,.featureItemEnabledHostFlapDetection,.featureItemServicesNotFlapping,.featureItemHostsNotFlapping,.featureEnabledHandlers,.featureEnabledActiveChecks,.featureItemEnabledActiveServiceChecks,.featureItemEnabledActiveHostChecks,.featureEnabledPassiveChecks,TD.hostUP {
  background-color:#66bb6a;
  white-space: nowrap;
  color:#ffffff;
}

td.outageImportantProblem a,td.hostImportantProblem a,td.serviceImportantProblem a {
  background-color:#e12d56;
  color:#ffffff;
  white-space:nowrap;
}
.outageImportantProblem,.hostImportantProblem,.serviceImportantProblem {
  background-color:#e12d56;
  white-space:nowrap;
}

td.outageUnimportantProblem a,td.hostUnimportantProblem a,td.serviceUnimportantProblem a {
  background-color:#f0666c;
  color:#ffffff;
  white-space:nowrap;
}
.outageUnimportantProblem,.hostUnimportantProblem,.serviceUnimportantProblem {
  background-color:#f0666c;
  white-space:nowrap;
}

.overDivContent {
  background-color:#ffffff;
  border:0 none #000000;
}

.overDivHead {
  font-size:12px;
  line-height:12px;
}

.processWARNING,.serviceWARNING {
  background-color:#ffe57b;
}

.servicePENDING,.hostPENDING {
  background-color:#ACACAC;
}

.serviceUNKNOWN {
  background-color:#ffcd00;
}

TD.statusEven.tableRowSelected, TR.commentEven TD.tableRowSelected, TR.downtimeEven TD.tableRowSelected {
  background:#ffdc4f !important;
  height:22px;
}
TD.statusOdd.tableRowSelected, TR.commentOdd TD.tableRowSelected, TR.downtimeOdd TD.tableRowSelected {
  background:#ffe57b !important;
  height:22px;
}

DIV.blockHead,DIV.commandTitle {
  font-size:14px;
  font-family: 'Roboto-Bold';
  line-height:16px;
  margin:0;
  padding:0;
}

DIV.comment,DIV.downtime {
  text-align:center;
  vertical-align:top;
}

DIV.commentNav,DIV.downtimeNav {
  font-family: 'Roboto-Bold';
  text-align:center;
}

DIV.commentTitle,DIV.downtimeTitle {
  font-family: 'Roboto-Bold';
  padding-bottom:5px;
  padding-top:15px;
  text-align:center;
}

DIV.data {
  font-size:12px;
  font-family: 'Roboto-Bold';
  height:20px;
  padding:0;
  text-align:center;
}

DIV.perfTypeTitle,DIV.commandTitle {
  font-family: 'Roboto-Bold';
  height:20px;
  padding:0;
  text-align:center;
  vertical-align:middle;
  line-height: 18px;
}
DIV.dataTitle {
  font-family: 'Roboto-Bold';
  padding:0;
  text-align:center;
  vertical-align:middle;
  line-height: 18px;
}

DIV.errorDescription {
  font-size:12px;
  text-align:center;
}

DIV.errorMessage {
  color:#e12d56;
  font-size:14px;
  text-align:center;
}

DIV.hostTotals,DIV.serviceTotals,DIV.status {
  font-size:12px;
  margin-bottom:2px;
  font-family: 'Roboto-Bold';
}

DIV.infoBoxTitle {
  font-size:12px;
  font-family: 'Roboto-Bold';
  height:20px;
  line-height:13px;
  text-align:center;
  vertical-align:middle;
}

DIV.peerDIS,DIV.peerDOWN {
  text-align:center;
  width:100%;
}
DIV.peerDOWN {
  background-color: #e12d56;
}

DIV.perfDataTitle {
  background-color:transparent;
  background-image:none;
  border:1px none;
}

DIV.perfTypeTitle {
  font-size:13px;
  font-family: 'Roboto-Bold';
}

DIV.statusTitle, DIV.dateSelectTitle, DIV.navBoxTitle, DIV.dataTitle, DIV.commentTitle, DIV.downtimeTitle, DIV.reportSelectTitle, DIV.statusTitle {
  font-family: 'Roboto-Bold';
  font-size: 18px;
}

TABLE.cmd_pane {
  background-color:#ffffff;
  border: 0px none;
  box-shadow: 3px 6px 15px 3px rgba(0, 0, 0, 0.46);
  margin:0;
  padding:0;
  border-spacing:0px;
}
.shadow {
  background:transparent;
}

TABLE.cmd_pane tbody > tr > td {
  background-color:#ffffff;
  border:medium none;
}

TABLE.cmd_pane tbody > tr > th {
  background-color:#5f6268;
  border: 0px none;
  font-size:12px;
  height:20px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  white-space:nowrap;
}

TABLE.cmd_pane tbody > tr > th > A > IMG {
  vertical-align: middle;
}

TABLE.cmd_pane th,TABLE.cmd_pane a,TABLE.cmd_pane a:hover {
  color:#f1f1f1;
}


.commandPanel, .shadowcontent {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
}

TABLE.commandPanel TD,TD.statusOdd {
  background-color:#ffffff;
}
TABLE.commandPanel TD {
  padding-left: 10px;
  padding-right: 10px;
}

TABLE.commandPanel TH {
  background-color:#ffffff;
  background-image:none;
  border:0 none;
  vertical-align:top;
}

TABLE.comment,TABLE.downtime,TABLE.notifications {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  background-color:#f1f1f1;
  text-align:center;
}

TABLE.queue,TABLE.procInfoTable,TABLE#configtable,TABLE.confTable {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
}
TABLE.data,TABLE.queue {
  border: 0px none;
  background-color:#fff;
  margin:0;
  padding:0;
  text-align:center;
}
TABLE.service_metrics,TABLE.host_metrics,TABLE.service_passive_metrics,TABLE.host_passive_metrics,TABLE.livestatus_metrics,TABLE.service_check_metrics,TABLE.services_passive_check_metrics,TABLE.host_check_metrics,TABLE.host_passive_check_metrics{
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
}
DIV.blockHead + TABLE.command {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  background-color:#fff;
}
TABLE.command {
  border-spacing:0;
  margin:0;
  padding:0;
  text-align:center;
}

TABLE.extdetails {
  width:90%;
  max-width: 1000px;
}

TABLE.filter {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
}
TD.filterTitle {
  height: 28px;
}

TABLE.filter_container TABLE.filter {
  width: 100%;
}

TABLE.filter_container TD.filter_table:not(:first-child) TABLE.filter {
  border-left: 1px solid black;
}

TABLE.infoBox {
  background-color:#ffffff;
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  margin-left:0;
  margin-right:2px;
  padding:3px 3px 3px 5px;
  width:280px;
  white-space: nowrap;
  margin-bottom: 12px;
}

TABLE.linkBox {
  background-color:#fff;
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  width: 280px;
  margin-bottom: 12px;
}

TABLE.logEntries {
  background-color:#d9d9d9;
  border:1px #E2DECD outset;
  margin:2px;
  text-align:center;
  width:100%;
}

TABLE.overDivHead {
  font-family: 'Roboto-Bold';
  background-color:#5f6268;
  color:#f1f1f1;
  border:0 none;
  margin:0;
  padding:3px;
}

TABLE.perfTitleTable,TABLE.perfTitleTable TD,TABLE.perfTitleTable TR {
  border-spacing:0;
  margin:0;
  padding:0;
}

TABLE.serviceTotals,TABLE.hostTotals {
  color:#5f6268;
  background-color: #ffffff;
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  margin:2px;
  text-align:center;
  width:280px;
}

TABLE.status {
  background-color:#f5f8fc;
  text-align:center;
}

TABLE.statusgroups TD {
  font-weight:normal;
}

TD,TH {
  border:medium none;
}

TD.commandPanel,TD.stateInfoPanel, TD.confPanel {
  background-color:#fff;
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  margin:2px;
  text-align:center;
}

TD.commandPanel {
  min-width: 300px;
}
TD.confPanel TABLE.confPanel {
  margin-top: 5px;
  width: 100%;
}
TD.confPanel {
  min-width: 200px;
}

TD.comment,TD.downtime,TD.notificationsEven,TD.status {
  padding:0;
}

TD.dataEven,TD.queueEven {

  border-bottom:2px solid #f5f8fc;
  border-right:2px solid #f5f8fc;
  height:22px;
  padding:0 3px;
}

TD.dataOdd,TD.queueOdd {
  background-color:#ffffff;
  border-bottom:2px solid #f5f8fc;
  border-right:2px solid #f5f8fc;
  height:22px;
  padding:0 3px;
}

TD.dataVar {
  font-family: 'Roboto-Bold';
  vertical-align:top;
}

TD.dataVar,TD.dataVal,TD.command {
  height:22px;
  padding:0 3px;
}

TD.filter_table,body.showlog td.filter,body.showlog td.filterName,body.showlog td.filterValue,body.showlog td.filterTitle, TD.filter {
  background-color:#ffffff;
}
TD.filterName {
  font-family: 'Roboto-Bold';
}

TD.healthBox,TD.perfBox,TD.featureHeader,TD.outageHeader,TD.hostHeader,TD.serviceHeader {
  background-color:#ffffff;
  height:20px;
  padding-left:5px;
}

TD.healthTitle,TD.perfTitle,TD.featureTitle,TD.outageTitle,TD.hostTitle,TD.serviceTitle {
  background-color:#5f6268;
  color:#f1f1f1;
  font-size:12px;
  font-family: 'Roboto-Bold';
  height:20px;
  line-height:13px;
  margin:2px;
  text-align:center;
  vertical-align:middle;
}
TD.perfTitle A {
  color:#f1f1f1;
}
TD.outageTitle {
  white-space: nowrap;
  padding-right: 3px;
}

TD.hostDOWN {
  background-color:#e12d56;
  font-family: 'Roboto-Bold';
  height:22px;
}

TD.hostTotalsUP,TD.serviceTotalsOK,TD.hostTotalsPROBLEMS,TD.serviceTotalsPROBLEMS,TD.serviceTotalsUNKNOWN,TD.hostTotals,TD.serviceTotals,TD.hostTotalsUNREACHABLE,TD.hostTotalsPENDING,TD.serviceTotalsPENDING,TD.hostTotalsPROBLEMS,TD.serviceTotalsWARNING,TD.hostTotalsDOWN,TD.serviceTotalsCRITICAL {
  background-position:center;
  background-repeat:no-repeat;
  height:20px;
  padding:0 2px;
}

TD.hostTotalsDOWN,TD.hostTotalsUNREACHABLE,TD.serviceTotalsCRITICAL {
  background-color:#f0666c;
  color:#ffffff;
}

TD.hostTotalsPENDING,TD.serviceTotalsPENDING {
  background-color:#ACACAC;
  color:#ffffff;
}

TD.hostTotalsUP,TD.serviceTotalsOK {
  background-color:#66bb6a;
  color:#ffffff;
}

TD.hostUNREACHABLE {
  background-color:#f0666c;
  font-family: 'Roboto-Bold';
  height:22px;
}

TD.logEntriesCRITICAL,TD.logEntriesDOWN,TD.logEntriesUNREACHABLE {
  background-color:#f0666c;
  font-family: 'Roboto-Bold';
  height:22px;
  padding:1px;
}

/* extinfo.0 - process information */
table.procInfoTable tbody tr td.stateInfoTable1 table tbody tr td.dataVal {
  white-space: nowrap;
}
table.procInfoTable tbody tr td.stateInfoTable1 table tbody tr td.dataValBackendVersion {
  white-space: inherit;
}
table.procInfoTable tbody tr td.stateInfoTable1 table tbody tr td.dataSource {
  white-space: normal;
  min-width: 120px;
}

TD.logEntriesEven,TD.commentEven,TD.downtimeEven,TD.reportDataEven {
  height:22px;
  padding:1px;
}

TD.logEntriesINDETERMINATE,TD.logEntriesUNKNOWN,TD.notificationsACKNOWLEDGEMENT,TD.notificationsHOSTACKNOWLEDGEMENT {
  height:22px;
  padding:1px;
}

TD.logEntriesOK,TD.logEntriesUP {
  background-color:#C0FFC0;
  height:22px;
  padding:1px;
}

TD.logEntriesOdd,TD.commentOdd,TD.downtimeOdd,TD.notificationsOdd,TD.reportDataOdd {
  background-color:#ffffff;
  height:22px;
  padding:1px;
}

TD.logEntriesWARNING {
  background-color:#FFFFC0;
  height:22px;
  padding:1px;
}

TD.miniStatusDOWN,TD.miniStatusUNREACHABLE,TD.miniStatusCRITICAL {
  background-color:#f0666c;
  padding:2px;
  text-align:center;
  color:#ffffff;
}
.miniStatusDOWN a,.miniStatusUNREACHABLE a,.miniStatusCRITICAL a {
  color:#ffffff;
}

TD.miniStatusPENDING {
  background-color:#ACACAC;
  padding:2px;
  text-align:center;
}

TD.miniStatusUNKNOWN {
  background-color:#ffcd00;
  padding:0;
  text-align:center;
}

TD.miniStatusUP,TD.miniStatusOK {
  background-color:#66bb6a;
  padding:2px;
  text-align:center;
  color:#ffffff;
}
.miniStatusUP a,.miniStatusOK a {
  color:#ffffff;
}

TD.miniStatusWARNING {
  background-color:#ffe57b;
  padding:2px;
  text-align:center;
}

TD.navBoxItem,TD.navBoxDate,TD.optBoxItem,TD.optBoxRequiredItem {
  font-size:11px;
  font-family: 'Roboto-Bold';
}

TD.optBoxRequiredItem {
  color:#e12d56;
}

TD.notificationsCRITICAL,TD.notificationsHOSTDOWN,TD.notificationsHOSTUNREACHABLE {
  background-color:#f0666c;
  color:#ffffff;
  font-family: 'Roboto-Bold';
  height:22px;
  padding:1px;
}

TD.notificationsOK,TD.notificationsHOSTUP {
  background-color:#66bb6a;
  height:22px;
  padding:1px;
}

TD.notificationsWARNING {
  background-color:#ffe57b;
  height:22px;
  padding:1px;
}

.serviceCRITICAL,.statusCRITICAL,.statusHOSTDOWN,.statusHOSTDOWNACK,.statusHOSTDOWNSCHED {
  background-color:#f0666c !important;
  color:#f1f1f1;
  height:22px;
  padding:1px;
}
.statusHOSTDOWN a {
  color:inherit;
}
.statusHOSTUNREACHABLE,.statusHOSTUNREACHABLEACK,.statusHOSTUNREACHABLESCHED {
  background-color:#f0666c !important;
  color:#ffffff;
  height:22px;
}

TD.serviceTotalsUNKNOWN {
  background-color:#ffcd00;
}

TD.serviceTotalsWARNING, TD.serviceTotalsPROBLEMS, TD.hostTotalsPROBLEMS {
  background-color:#ffe57b;
}

TD.stateInfoTable1 > TABLE,TD.stateInfoTable2 > TABLE {
  width: 260px;
}

TD.statusBGCRITICAL,TD.statusBGCRITICALACK,TD.statusBGCRITICALSCHED,TD.statusBGDOWN,TD.statusBGDOWNACK,TD.statusBGDOWNSCHED,TD.statusBGUNREACHABLE,TD.statusBGUNREACHABLEACK,TD.statusBGUNREACHABLESCHED {
  height:22px;
}

TD.statusBGUNKNOWN {
  height:22px;
}

TD.statusBGWARNING {
  height:22px;
}

TD.statusEven {
  background-color:#ECECEC;
}

.statusHOSTUP,.statusOK {
  background-color:#66bb6a !important;
  color:#ffffff;
  height:22px;
  padding:1px;
}

.statusRECOVERY,.serviceOK {
  background-color:#66bb6a !important;
  color:#ffffff;
  height:22px;
  padding:1px;
}

.statusPENDING,.statusHOSTPENDING {
  background-color:#ACACAC !important;
  color:#ffffff;
  height:22px;
  padding:1px;
}

.statusUNKNOWN {
  background-color:#ffcd00 !important;
  color:#5f6268;
  height:22px;
  padding:1px;
}

.statusWARNING,.serviceWarning {
  background-color:#ffe57b !important;
  height:22px;
  padding:1px;
}

TD.statusOdd.tableRowSelected, TD.statusEven.tableRowSelected, TD.tableRowSelected, TH.tableRowSelected {
  background-color:inherit;
}

/* first row in hosts table should have normal background */
TABLE#hoststatusTable td:first-child.statusHOSTUP,
TABLE#hoststatusTable td:first-child.statusHOSTPENDING,
TABLE#hoststatusTable td:first-child.statusHOSTUNREACHABLE,
TABLE#hoststatusTable td:first-child.statusHOSTDOWN {
  background-color:inherit;
}

TH.hostTotals {
  width:25%;
}

TH.hostTotals,TH.serviceTotals {
  font-family: 'Roboto-Bold';
  height:18px;
  padding:0 5px;
}

TH.serviceTotals {
  width:20%;
}

TH.status,TH.data,TH.logEntries,TH.comment,TH.downtime,TH.queue,TH.notifications,TABLE.blockHeadBorder, DIV.blockHeadBorder {
  font-family: 'Roboto-Bold';
  text-align:left;
  background-color:#5f6268;
  color:#f1f1f1;
  border: 0px none;
  font-size:12px;
  height:20px;
  padding:0 2px;
  white-space:nowrap;
}
TH.data a {
  color:#f1f1f1;
}
TABLE.commandPanel TH.comment {
  color:#5f6268;
}

TR.command > TD {
  padding-left: 3px;
  padding-right: 3px;
}

a, TD.tableRowSelected A {
  color:#5f6268;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

body.config TD.dataUserVar {
  padding:5px;
  font-size:14px;
}

body.config TH.data {
  padding:5px;
}

div.navbar {
  background:#d9d9d9 url(../images/bg.png) repeat-x;
  border:0 none;
  text-align: center;
  margin: 0px;
  line-height: 18px;
}
div.navbar img {
  position: relative;
  top: 6px
}
div.navbar li {
  color: #5f6268;
}
div.navsectiontitle {
  color:#5f6268;
}

div.navsection {
  margin:0 0 0;
}

element.style {
  visibility:visible;
}

table.overDivTable {
  font-family: 'Roboto-Regular';
  font-size: 11px;
  border: 0px none;
  box-shadow: 3px 6px 15px 3px rgba(0, 0, 0, 0.46);
  border-spacing: 0px;

}

table.overDivTable > tbody > tr > td {
  background-color:#ffffff;
  border:0px none;
  margin:0;
}

table.overDivTable a {
  font-size:12px;
  font-family: 'Roboto-Bold';
  color:#f1f1f1;
}

td.filter {
  padding-left:5px;
  padding-right:3px;
}

td.statusEven,td.statusOdd,TD.statusHOSTPENDING,TD.statusHOSTDOWN,TD.statusHOSTUP,TD.statusHOSTUNREACHABLE,TD.statusSERVICEOK,TD.statusSERVICEWARNING,TD.statusSERVICECRITICAL,TD.statusSERVICEUNKNOWN,TD.statusSERVICEPENDING,TABLE.status tbody tr td.tableRowHover {
  height:22px;
}
TABLE.status tbody tr TABLE#multi_table td.tableRowHover {
  height:auto;
}

ul.navsectionlinks {
  background-color:#d9d9d9;
  list-style:none;
  margin:0;
  padding:0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #b3b3b3;
}

ul.navsectionlinks li a {
  font-family: 'Roboto-Bold';
  padding:0 0 0 15px;
}

ul.navsectionlinks li ul {
  list-style:none;
  margin:0;
  padding:0 0 0 30px;
}

ul.navsectionlinks li ul li a {
  font-weight:normal;
  padding:0;
}

ul.navsectionlinks li ul li ul {
  list-style:none;
  margin:0;
  padding:0 0 0 15px;
}

ul.navsectionlinks li.navbarsearch:hover,ul.navsectionlinks li ul li:hover,li.navbarlinks:active{
  background:none;
}

ul.navsectionlinks li:hover {
  background-color:#f1f1f1;
}

ul.navsectionlinks li:active {
  background:#ffffff;
}

TD.checkstatus {
  border: 0px none;
}

TABLE.checkstatus, TABLE.extCommandPanel {
  border: 0px none;
  width: auto;
}
TABLE.extCommandPanel {
  margin-top: 4px;
}
TABLE.extdetails, TABLE.extdetails2 {
  border: 0px none;
}
TABLE.extdetails2 {
  border: 0px none;
  width: 100%;
}
TD.stateInfoPanel > TABLE {
  width: 100%;
}
TD.extdetails > TABLE {
  width: 100%;
}

TABLE.blockHeadBorder, DIV.blockHeadBorder {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  text-align: center;
}

TABLE.cmdOptBox,TABLE.commandDescription {
  background-color:#ffffff;
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  border-spacing:0;
  margin:0;
  padding:0;
  padding-left:5px;
  padding-right:5px;
  width: 100%;
}

TABLE.cmdOuterTable {
  width: auto;
  border-spacing:20px;
}
DIV.cmdType {
  text-align: center;
  color: #e12d56;
  font-family: 'Roboto-Bold';
  font-size: 12px;
}
TABLE.optBoxInnerTable {
  width: 100%;
  margin: 5px;
}

table.filter > tbody > tr > td {
  padding-right: 3px !important;
}
TABLE.statusgroups {
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  margin-bottom: 15px;
}

TABLE.status TD {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 2px;
  padding-right: 2px;
}
TABLE.status > TBODY > TR > TH {
  border-right: 1px solid #d9d9d9;
}

TABLE.status {
  border-spacing: 0px;
  border: 0px none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
}

TABLE.status > TBODY > TR > TD {
  border-right: 1px solid #f5f8fc;
  border-top: 1px solid #f5f8fc;
}
TABLE.status > TBODY > tr#hst_r0 > td, TABLE.status > TBODY > tr#svc_r0 > td, TABLE.status > TBODY > tr#dfl_r0 > td, TABLE.status > TBODY > tr.firstrow > td {
  border-top: 0px none;
}
TABLE.status > TBODY > tr > td:last-child, TABLE.queue > TBODY > tr > td:last-child {
  border-right: 0px none;
}

TABLE.hostTotals A I, TABLE.serviceTotals A I {
  font-style: normal;
}

TABLE.tac TD.hostHeader, TABLE.tac TD.serviceHeader, TABLE.tac TD.featureHeader {
  width: 150px;
}

TABLE.extdetails TD.dataVar {
  white-space: nowrap;
  width: 170px;
}

TABLE.extdetails DIV.hostUP,
TABLE.extdetails DIV.hostDOWN,
TABLE.extdetails DIV.hostUNREACHABLE,
TABLE.extdetails DIV.hostPENDING,
TABLE.extdetails DIV.serviceOK,
TABLE.extdetails DIV.serviceWARNING,
TABLE.extdetails DIV.serviceUNKNOWN,
TABLE.extdetails DIV.serviceCRITICAL,
TABLE.extdetails DIV.servicePENDING,
TABLE.extdetails DIV.notflapping,
TABLE.extdetails DIV.flapping,
TABLE.extdetails DIV.downtimeINACTIVE,
TABLE.extdetails DIV.downtimeACTIVE
{
  min-width: 80px;
  float: left;
  text-align: center;
}
TABLE.extdetails DIV.hostDOWN {
  color:#ffffff;
}

TABLE.extdetails DIV.notificationsDISABLED,
TABLE.extdetails DIV.notificationsENABLED,
TABLE.extdetails DIV.checksDISABLED,
TABLE.extdetails DIV.checksENABLED,
TABLE.extdetails DIV.eventhandlersDISABLED,
TABLE.extdetails DIV.eventhandlersENABLED,
TABLE.extdetails DIV.flapdetectionDISABLED,
TABLE.extdetails DIV.flapdetectionENABLED
{
  width: 120px;
  text-align: center;
}

TABLE.extdetails TD.extdetails {
  border-bottom: 1px solid #d9d9d9;
}

.commandNote {
  color: #e12d56;
}

TABLE.hostcomments TD, TABLE.hostdowntimes TD,TABLE.servicecomments TD, TABLE.servicedowntimes TD {
  border-right: 1px solid #eaeff6;
  text-align: center;
}
TABLE.hostcomments TD:last-child, TABLE.hostdowntimes TD:last-child, TABLE.servicecomments TD:last-child, TABLE.servicedowntimes TD:last-child {
  border-right: 0px none;
}

TABLE.hostcomments TH, TABLE.hostdowntimes TH,TABLE.servicecomments TH, TABLE.servicedowntimes TH {
  border-right: 1px solid #eaeff6;
  border-bottom: 1px solid #eaeff6;
}
TABLE.hostcomments TH:last-child, TABLE.hostdowntimes TH:last-child, TABLE.servicecomments TH:last-child, TABLE.servicedowntimes TH:last-child {
  border-right: 0px none;
}


TH.pnpSelected {
  background-color: #eaeff6;
  border: 1px #5778A6 inset;
  font-size: 12px;
}

TABLE.bookmarkTable {
  border: 1px outset #5778A6;
}

TABLE.procInfoTable TD.dataVal {
  text-align: center;
}

TD.notesCell {
  padding-right: 5px;
}

IMG.crit_icon {
  vertical-align: text-bottom;
}

DIV.extinfo4 td.stateInfoTable1 TD {
  white-space: nowrap;
}

DIV.reportRange {
    font-family: 'Roboto-Bold';
}

option.disable {
    height: 8px !important;
    line-height: 8px;
    vertical-align: top;
}

TABLE.minemap th.status a:hover {
  color:#000000;
  text-decoration: underline;
}

TH.confSelected {
  background-color: #acacac;
  border: 1px #5778A6 inset;
  font-size: 12px;
}

TABLE.confdetails {
  width:90%;
  max-width: 1000px;
}

td.attrValue:hover {
  background-color:#FFEB66;
}

/* nice result tables in availability */
body.avail TD.hostUP, body.avail TD.hostDOWN, body.avail TD.hostUNREACHABLE, body.avail TD.serviceOK, body.avail TD.serviceWARNING, body.avail TD.serviceUNKNOWN, body.avail TD.serviceCRITICAL {
    min-width: 150px;
}
body.avail TD.dataOdd, body.avail TD.dataEven {
    min-width: 160px;
}

.nav_small_logo {
  margin: 5px;
  padding: 0px;
}

DIV.health_bar_bg {
  width:100px;
  height: 20px;
  background: #DDDDDD;
}

BUTTON.thruk_btn {
  font-family: "Material Icons";
  background: transparent;
  line-height: 1px;
  background-image: none;
  display: inline-block;
  font-feature-settings: "liga";
  overflow: hidden;
  text-rendering: optimizelegibility;
  border-radius: 999em;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease-out 0s;
  -moz-transition: background-color 0.3s ease-out 0s;
  -o-transition: background-color 0.3s ease-out 0s;
  transition: background-color 0.3s ease-out 0s;
}

/* reset some values when used in combination with jquery ui */
BUTTON.thruk_btn.ui-button {
  margin: 0;
  padding: 0;
  line-height: inherit;
}
BUTTON.thruk_btn.ui-button SPAN.ui-button-text {
    padding: 0;
    display: none;
}

BUTTON.thruk_btn.small {
  font-size: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
}

BUTTON.thruk_btn.big {
  font-size: 28px;
  width: 40px;
  height: 40px;
  padding: 6px;
}

BUTTON.primary {
  background-color: #ffcd00;
  color: #000000;
}
BUTTON.thruk_btn.primary:hover {
  background-color: #ffdc4f;
}

BUTTON.secondary {
  background-color: #f1f1f1;
  color: #000000;
}
BUTTON.secondary:hover {
  background-color: #fafafa;
}

BUTTON.wrench::before {
  content: "build";
}

BUTTON.filter::before {
  content: "tune";
}

BUTTON.logout::before {
  content: "power_settings_new";
}

BUTTON.settings::before {
  content: "settings";
}

BUTTON.refresh::before {
  content: "autorenew";
}

BUTTON.refreshing::before {
  content: "";
}
BUTTON.bugs {
  background-color: #f0666c;
}
BUTTON.bugs::before {
  content: "bug_report";
}
button.refreshing, button.thruk_btn.top_refresh_button.refreshing {
  background-image: url('../images/waiting.gif');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
button.thruk_btn.top_refresh_button {
  background-image: none;
  top: inherit;
}
button.thruk_btn.top_nav_pref_button, button.thruk_btn.top_nav_logout_button {
  background-color: #ffcd00;
  border-color: inherit;
  border-style: inherit;
  color: #000000;
}

BUTTON.excel_export::before {
  content: "explicit";
}
BUTTON.json_export::before {
  content: "queue_play_next";
}
BUTTON.show_link::before {
  content: "link";
}
BUTTON.add_bookmark::before {
  content: "chrome_reader_mode";
}

BODY.splashpage DIV.infoBoxTitle {
    line-height: normal;
}

TABLE.pref_pane {
  border: 0px none;
  box-shadow: 3px 6px 15px 3px rgba(0, 0, 0, 0.46);
  background-color:#ffffff;
  color:#5f6268;
  padding-left:5px;
}

TABLE.pref_pane tbody > tr > td {
  background-color:#ffffff;
  border: 0px none;
}

TABLE.pref_pane TH {
  white-space: nowrap;
}

.has_long_plugin_output {
  color:#5f6268;
  text-decoration:underline;
  font-weight: 700;
}

SPAN.deleteicon SPAN {
    top: 5px;
    opacity: 0.4;
}
div.logEntries,TABLE.conftoolobj,TABLE.conftool,TABLE.conftoolusers{
    background-color:#ffffff;
    border:0px none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.36);
}
.logEntries img{
    margin:2px;
}
td.dateTimeBreak{
  font-size:13px;
  font-family: 'Roboto-Bold';
}
TABLE.optBox{
    top:100px !important;
}
DIV.bp_zoom_container{
    background-color:#ffffff;
}

TR.spacerrow {
  display: none;
}

TABLE.site_panel_container {
  margin-top: 25px;
  padding: 0;
}

#dfl_filterForm, #hst_all_filter_table, #svc_all_filter_table {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#dfl_filterForm {
  width: 99%;
}

TABLE.logcache_stats TABLE {
  width: 560px;
}

TD.filter_button_cell {
  height: 42px;
}

TABLE.top_nav {
  margin-bottom: 8px;
}

td.filterValue:hover, td.newfilter:hover, DIV#search-results ul li a.ajax_search_selected, DIV#search-results ul li a:hover, td.attrValue:hover {
  background-color:#ffcc80;
}

TD.plugin_output, TD.description, TD.name, TD.host_name {
  white-space: nowrap;
}
TD.plugin_output {
  max-width: 50%;
  width: 50%;
  max-width: 0;
}
TD.contacts {
  max-width: 50%;
  width: 50%;
  max-width: 0;
}
.mightOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

TD.host_name > TABLE TD {
  padding: 0;
}

.btn_toggle_top_pane {
  position: absolute;
  right: 10px;
  top: 53px;
}

body.loginpage TABLE.infoBox {
  border-radius: 5px;
  background-color: #cfd8dc;
  border: 1px solid #bbbbbb;
}

body.loginpage {
  min-height: 99.5vh;
  background: #f1f1f1;

  background: -moz-radial-gradient(center, ellipse cover,    #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,             #f1f1f1 0%, #eeeeee 65%, #b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body.loginpage DIV#mainfooter {
  opacity: 0.1;
}
body.loginpage DIV#mainfooter:hover {
  opacity: 1;
  filter:alpha(opacity=100);
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}

/* fade out login page when submiting */
body.loginpage.submitting > DIV {
  opacity: 0;
  filter:alpha(opacity=0);
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}

TH.pnpSelected {
  color: #5f6268;
  background-color: #f1f1f1;
  border: 1px inset #444444;
  font-size: 12px;
}

#pnp_graph_pane {
  min-height: 25px;
  background-color: #f1f1f1;
}

TH.status input {
  background-color: #5f6268;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  font-family: "Roboto-Bold";
  font-size: 12px;
  width: 95%;
}

td.top_nav_pref {
  padding-top: 2px;
  padding-right: 10px;
}

div.listwizard.ui-dialog-content, table.listwizard td.filter, div.ui-dialog-content td.filter {
  background-color: #f1f1f1;
}
table.listwizard input, table.listwizard select, div.ui-dialog-content  input, div.ui-dialog-content  select {
  background-color: #ffffff;
}

TABLE.data.reports TABLE.filter {
    box-shadow: none;
}

select#quick_command {
  font-size: 12px;
}

SPAN.ui-applist-button {
  background-image: url("../images/application_view_list_btn.png") !important;
}