<!-- Last Notification List -->
<div id="last_notification" data-role="page">
  <div data-role="header">
    <a href="#" data-icon="back" data-rel="back">Back</a>
    <h1>Notifications</h1>
    <a href="#home" data-icon="home" class="ui-btn-right">Home</a>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="notification_list" data-filter="true">
    </ul>
  </div>
</div>
