<!doctype html>
<html>
  <head>
    <title>Mobile Thruk</title>
    <link rel='stylesheet' type='text/css' href='[% url_prefix %]thruk/themes/Classic/stylesheets/Classic.css' />
    <link rel='stylesheet' type='text/css' href='[% url_prefix %]thruk/plugins/mobile/mobile.css' />
    <script src="[% url_prefix %]thruk/plugins/mobile/jqtouch/jquery-1.4.2.min.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="[% url_prefix %]thruk/plugins/mobile/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "[% url_prefix %]thruk/plugins/mobile/jqtouch/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "[% url_prefix %]thruk/plugins/mobile/jqtouch/theme.css";</style>
    <script type="application/x-javascript">
      var url_prefix = '[% url_prefix %]';
    </script>
    <script src="[% url_prefix %]thruk/plugins/mobile/mobile.js" type="application/x-javascript" charset="utf-8"></script>
  </head>
  <body id="jqt">

<!-- Home -->
    <div id="home" class="current">
      <div class="toolbar">
        <a id="reload" class="button cancel"><img src="[% url_prefix %]thruk/plugins/mobile/jqtouch/img/02-redo.png" alt="reload"></a>
        <h1>Mobile Thruk</h1>
        <a class="button slideup" href="#about">About</a>
      </div>
      <h2>Status</h2>
        <ul class="rounded">
          <li class="arrow">
            <a href="#hosts">Hosts
              <small class="counter counter_placeholder">&nbsp;</small>
              <span class="hidden hosts_pending_panel"><small class="counter hostPENDING hosts_pending" style="margin: 0"></small></span>
              <span class="hidden hosts_unreachable_panel"><small class="counter hostUNREACHABLE hosts_unreachable" style="margin: 0"></small></span>
              <span class="hidden hosts_down_panel"><small class="counter hostDOWN hosts_down" style="margin: 0"></small></span>
              <span class="hidden hosts_up_panel"><small class="counter hostUP hosts_up" style="margin: 0"></small></span>

            </a>
          </li>

          <li class="arrow">
            <a href="#services">Services
              <small class="counter counter_placeholder">&nbsp;</small>
              <span class="hidden services_pending_panel"><small class="counter servicePENDING services_pending" style="margin: 0"></small></span>
              <span class="hidden services_critical_panel"><small class="counter serviceCRITICAL services_critical" style="margin: 0"></small></span>
              <span class="hidden services_unknown_panel"><small class="counter serviceUNKNOWN services_unknown" style="margin: 0"></small></span>
              <span class="hidden services_warning_panel"><small class="counter serviceWARNING services_warning" style="margin: 0"></small></span>
              <span class="hidden services_ok_panel"><small class="counter serviceOK services_ok" style="margin: 0"></small></span>
            </a>
          </li>
        </ul>

        <h2>Search</h2>
        <form method="post">
        <ul class="rounded">
          <li class="" style="position:relative">
            <input type="text" placeholder="search" name="search" id="search" autocapitalize="off" autocorrect="off" autocomplete="off" />
            <a href="#search" class="" style="position: absolute; top: 5px; right:8px;"><img src="[% url_prefix %]thruk/plugins/mobile/jqtouch/img/06-search.png" alt="search"></a>
          </li>
        </ul>

        </form>
        <h2>History</h2>
        <ul class="rounded">
          <li class="arrow"><a href="#last_alerts">Last Alerts</a></li>
          <li class="arrow"><a href="#last_notification">Last Notifications</a></li>
        </ul>

        <h2>Links</h2>
        <ul class="rounded">
          <li class=""><a href="[% url_prefix %]thruk/index.html" onclick="window.location.assign(this.href)">Access as Full Client</a></li>
        </ul>
        <div class="info">
        <p>Add this page to your home screen to get full screen mode.</p>
      </div>
    </div>


<!-- About -->
    <div id="about" class="selectable">
      <p><img src="[% url_prefix %]thruk/themes/Classic/images/logo_thruk_small.png" alt="thruk mobile" /></p>
      <p>
        <strong>Thruk Monitoring Webinterface</strong><br />
        Version [% version %]<br />
        <a href="http://www.thruk.org">www.thruk.org</a><br />
        [% released %]
      </p>
      <br /><br />
      <p><a href="#" class="whiteButton goback">Close</a></p>
    </div>

<!-- Hosts -->
    <div id="hosts" class="selectable">
      <div class="toolbar">
        <a href="#" class="button back">Back</a>
        <h1>Hosts</h1>
      </div>
      <ul class="rounded" id="hosts_list">
        <li class="arrow hidden"><a href="#hosts">Up<small class="counter hostUP hosts_up" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#hosts">Down<small class="counter hostDOWN hosts_down" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#hosts">Unreachable<small class="counter hostUNREACHABLE hosts_unreachable" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#hosts">Pending<small class="counter hostPENDING hosts_pending" style="margin: 0 50px 0 0"></small></a></li>
      </ul>
    </div>

<!-- Services -->
    <div id="services" class="selectable">
      <div class="toolbar">
        <a href="#" class="button back">Back</a>
        <h1>Services</h1>
      </div>
      <ul class="rounded" id="services_list">
        <li class="arrow hidden"><a href="#services">Ok<small class="counter serviceOK services_ok" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#services">Warning<small class="counter serviceWARNING services_warning" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#services">Critical<small class="counter serviceCRITICAL services_critical" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#services">Unknown<small class="counter serviceUNKNOWN services_unknown" style="margin: 0 50px 0 0"></small></a></li>
        <li class="arrow hidden"><a href="#services">Pending<small class="counter servicePENDING services_pending" style="margin: 0 50px 0 0"></small></a></li>
      </ul>
    </div>

<!-- Last Notification -->
    <div id="last_notification" class="selectable">
      <div class="toolbar">
        <a href="#" class="button back">Back</a>
        <h1>Notifications</h1>
      </div>
      <ul class="rounded notifications" id='notification_list'>
        <li><img src="[% url_prefix %]thruk/plugins/mobile/jqtouch/img/loading.gif" alt="loading"> loading</li>
      </ul>
    </div>
  </body>
</html>
