<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Thruk</title>
    <script type="application/x-javascript">
      if(confirm("Do you want to use the mobile version of Thruk? (You will only be asked once per session)")) {
        document.cookie = "thruk_mobile=1; path=/;";
        window.location.assign('[% redirect %]');
      } else {
        document.cookie = "thruk_mobile=0; path=/;";
        window.location.reload();
      }
    </script>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
  </head>
  <body>
  </body>
</html>
