/* Light.css */

/* TODO
 *   - check no frames mode
 *   - custom_vars_table auf service details
 *   - replace waiting.gif with <div class="spinner"></div>
 *   - remove unused images, also from plugins (create script)
 *   - identical class and style in actionbox if no permissions (infoMessage? )
 *   - height fixen maintable und logs
 *   - add truncate in minemap
 *   - replace old img icons in table with new <i>
 *   - multiple comments in comments TD in host/service details are multiline? Fix
 *   - check body.iframed from header.tt
 *   - Hostgroups and Servicegroups missing on extinfo for Hosts/Services
 *   - Fix service/hostgroup missing right/bottom borders in overview style
 *   - Features:
 *       - Show Tooltip while hoving comment icon "Click to show comments"
 *       - change Options for Columns on Configuration page (extinfo type 4) + make Host_name sticky
 *       - config.cgi Show correct "xxx of yyy items displayed" with JS count when using the filter
 *       - Copy button next to extended command, also auto copy on the bookmark URL button
 *       - js-modal-command-link for recurring downtimes?
 *   - Bugs:
 *       - JS sets width when searching on filter field (reports or broadcast) -> refresh, table width not 100% anymore
 *       - sorting removed when changing filter
 *       - Comments page, 2 filter boxes, buggy when leaving first box (applies to 2nd box aswell? )
 *       - Truncate in overcard doesn't work (e.g. minemap plugin output)
 *       - select all with downtime does not work (has_downtime class missing)
 *       - Problems Button is buggy, can't close cmd popup
 *       - Problems Page - Select all Buttons buggy, website refreshes and filter changes
 *       - DOWN/UNREACHABLE Host in Services list blue hover color is too dark
 *       - List recent downtimes => undef down.names in showlog.tt
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************************************************************************
 * basic colors
 */
 @layer base {
   .text1 {
     @apply !text-river-bed-600;
   }
   .text2 {
     @apply !text-gray-900;
   }
   .text3 {
     @apply !text-gray-600;
   }
   .textPager {
     @apply text-gray-500;
   }

   .textActive1 {
     @apply text-blue-600;
   }
   .textActive2 {
     @apply text-red-600 !important;
   }

  .textUP, .textOK, .textSUCCESS {
    @apply !text-green-600;
  }
  .textWARNING {
    @apply !text-yellow-600;
  }
  .textUNKNOWN, .textHINT {
    @apply !text-orange-600;
  }
  .textDOWN, .textCRITICAL, .textERROR, .textALERT {
    @apply !text-red-600;
  }
  .textUNREACHABLE {
    @apply !text-red-500;
  }
  .textPENDING {
    @apply !text-truegray-600;
  }

  .UP, .OK, .YES, .ENABLED, .button_peerUP {
    @apply !bg-green-500 !text-white;
  }
  .WARNING {
    @apply !bg-yellow-500 !text-white;
  }
  .UNKNOWN {
    @apply !bg-orange-500 !text-white;
  }
  .DOWN, .CRITICAL, .NO, .DISABLED, .button_peerDOWN {
    @apply !bg-red-500 !text-white;
  }
  .UNREACHABLE {
    @apply !bg-red-400 !text-white;
  }
  .PENDING {
    @apply !bg-truegray-500 !text-white;
  }
  .button_peerDIS {
    @apply !bg-truegray-300 !text-white;
  }
  .button_peerHID {
    @apply !bg-truegray-200 !text-white;
  }
  .PROBLEMS {
    @apply !bg-yellow-200;
  }
  .CONSOLE {
    @apply text-lime-500 bg-black text-sm font-mono;
  }

  .bgUP, .bgOK, .bgSUCCESS {
    @apply !bg-green-200;
  }
  .bgWARNING {
    @apply !bg-yellow-200;
  }
  .bgUNKNOWN, .bgHINT {
    @apply !bg-orange-200;
  }
  .bgDOWN, .bgCRITICAL {
    @apply !bg-red-300;
  }
  .bgUNREACHABLE {
    @apply !bg-red-100;
  }
  .bgPENDING {
    @apply !bg-truegray-200;
  }
  .bgPROBLEMS {
    @apply !bg-yellow-200;
  }

  .bodyBG {
    @apply bg-river-bed-100;
  }
  .headerBG {
    @apply bg-white;
  }

  .hoverBG1 {
    @apply bg-warmgray-100;
  }

  /* Because of a browser bug the bottom border of a sticky TH would scroll up and disappear, this sets a shadow with inset #E5E7EB = border-gray-200 */
  .shadow-as-border-bottom {
    box-shadow: inset 0px -1px 0 #E5E7EB;
  }
  .shadow-as-border-right {
    box-shadow: inset -1px 0px 0 #E5E7EB;
  }
  .shadow-as-border {
    box-shadow: inset -1px -1px 0 #E5E7EB;
  }

  .bgTable {
    @apply bg-white;
  }

  .rowOdd {
    @apply bg-warmgray-100;
  }

  .rowEven {
    @apply bg-white;
  }

  .borderDefault {
    @apply border-gray-200;
  }
  .borderDark {
    @apply border-gray-400;
  }

  .borderActive {
    @apply border-blue-600;
  }

  .borderError {
    @apply border-red-600;
  }
}

/*******************************************************************************
 * general
 */
.scrollauto {
  /* avoid flickering and moving elements if scrollbar is required for dynamic elements */
  @apply
    overflow-y-scroll
    overflow-x-auto
    bodyBG
  ;
  scrollbar-color: #3B4D54 white;
}
MAIN.scrollauto {
  scrollbar-color: #3B4D54 #ECEEf0;
}
HTML.minimal {
  @apply overflow-auto;
  overflow: inherit;
  scrollbar-color: auto;
}
BODY {
  @apply
    font-sans
    text1
    text-default
    tracking-normal
  ;
}

header.header {
  @apply sticky block top-0 z-30 px-5 headerBG h-[50px];
  IMG.collapsed-only {
    @apply hidden;
  }
}

.modalBG {
  @apply fixed top-0 left-0 w-full h-full bg-black opacity-50 z-50;
}

.modalFG {
  @apply m-auto w-[600px] fixed z-50 top-0 left-0 right-0 bottom-0 h-max;
}

TH {
  &.text-center{
    a.sort-by {
      @apply pl-[18px];
    }
  }
  a.sort-by {
    @apply block relative pr-[18px];

    &:before, &:after {
      border: 4px solid transparent;
      content: "";
      display: block;
      height: 0;
      right: 3px;
      top: 50%;
      position: absolute;
      width: 0;
      opacity: 0.4;
    }
    &:before {
      border-bottom-color: #666;
      margin-top: -9px;
    }
    &:after {
      border-top-color: #666;
      margin-top: 1px;
    }
    &.sort2:before {
      opacity: 1;
    }
    &.sort1:after {
      opacity: 1;
    }
  }
}

TR:nth-child(odd) TD.tableRowSelected{
  @apply bg-yellow-200 bg-opacity-70  text-gray-700 !important;
}
TR:nth-child(even) TD.tableRowSelected {
  @apply bg-yellow-200 bg-opacity-50 text-gray-700 !important;
}

@media print {
  .noprint {
    @apply hidden;
  }
}

.clickable:hover {
  @apply cursor-pointer;
}
.not-clickable {
  @apply cursor-default;
}

@layer base {
  .no-hover {
    @apply hover:bg-transparent !important;
  }
  .hoverable {
    @apply hover:hoverBG1;
  }
  .not-hoverable {
    @apply hover:bg-inherit !important;
  }

  .vertical {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
  }
}

.disabled {
  @apply opacity-30;
}

@layer base {
  .flexrow {
    @apply flex flex-row flex-wrap gap-5; /* to do remove gap-5 // removed min-w-min (did anything break?) */
  }
  .flexcol {
    @apply flex flex-col gap-5; /* to do remove gap-5 // removed min-w-min (did anything break?) */
  }
}

H1,H2,H3,H4 {
  @apply whitespace-nowrap font-semibold;
}

H1 {
  @apply text-xl text-center;
}

H3 {
  @apply text-header;
}

H4 {
  @apply text-default leading-6;
}

.badge {
  @apply text-center inline-block py-[0.05rem] rounded-[3px] px-1 min-w-[5rem] bg-gray-200;
}

@layer base {
  .link {
    @apply hover:no-underline hover:textActive1;
  }
}

/* needed for comments page for example, because header has 50px height - CAN BE REMOVED NOW? */
A.anchor-offset {
  @apply block relative invisible top-[-50px];
}

.pager {
  @apply textPager hover:hoverBG1;
}

.pager-entries, .display-filter, A.button.back-button{
  @apply textPager hover:textPager bg-gray-100 hover:bg-gray-200;
}

.tooltiptext {
  visibility: hidden;
  width: 70px;
  height: 22px;
  padding-top: 1px;
  background-color: #888;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  bottom: 150%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #888 transparent transparent transparent;
}

/*******************************************************************************
 * icons as part of text links (ex. in action box container)
 */
I.fa-solid, I.uil {
  @apply inline-block text-center w-5 h-5 leading-5 text-lg;
  &.round {
    @apply rounded-full;
  }
  &.small {
    @apply h-5 w-5 text-base;
    &.uil {
      @apply text-xl leading-4;
    }
    &.fa-solid {
      @apply text-sm;
    }
  }
  &.red {
    @apply bg-red-600 text-white;
  }
  &.green {
    @apply bg-green-500 text-white;
  }
  &.yellow {
    @apply bg-yellow-300 text-black;
  }
  &.gray {
    @apply bg-gray-200 text-black;
  }
}

/*******************************************************************************
 * sidebar
 */
#nav-container {
  &.collapsed {
    @apply w-[50px] !important;
    DIV.navsectionlinks {
      @apply !overflow-visible;
    }
    UL.navsectionlinks {
      @apply overflow-visible hidden;
    }
    A.navsectiontitle {
      @apply bg-transparent;
      SPAN, I {
        @apply hidden;
      }
      I:first-child {
        @apply absolute inline-block left-0 top-0 border-l-4 pl-0 border-transparent !text-2xl;
      }
    }
    I.navsectionsubtoggle {
      @apply !mr-0;
    }
    DIV.navsectionlinks > UL > LI {
      @apply relative left-[5px] top-0 min-h-[50px] border border-transparent;
    }
    DIV.navsectionlinks > UL > LI:hover {
      @apply w-[200px];
      I:first-child {
        @apply borderActive;
      }
      A.navsectiontitle {
        SPAN {
          @apply absolute left-[40px] top-0 block w-[200px] h-6 p-1 shadow-card rounded rounded-b-none headerBG;
        }
      }
      UL.navsectionlinks {
        @apply absolute left-[40px] top-6 shadow-card rounded rounded-t-none headerBG w-[200px];
        display: inherit;
      }
      A.navsectionsubtitle {
        @apply pl-1;
      }
      UL.navsectionsublinks {
        @apply pl-1;
      }
      .sublink {
        @apply pl-3;
      }
      FORM {
        @apply !px-1 !pb-1;
      }
    }
    .collapse-btn {
      @apply rotate-180;
    }
    header.header {
      @apply px-0;
      IMG {
        @apply hidden;
      }
      IMG.collapsed-only {
        @apply block;
      }
    }
  }
}
.navsectionlinks {
  @apply text-gray-700 headerBG;
}
.navitem {
  @apply hover:bodyBG rounded transition duration-100 ease-in-out cursor-pointer hover:textActive1;
  &.active {
    @apply textActive1 bodyBG;
  }
}
.navsectiontitle {
  @apply flex items-center text-sm p-1 overflow-hidden font-semibold text-ellipsis whitespace-nowrap hover:text-inherit;
  line-height: inherit;
}
.navsectionsubtitle {
  @apply flex items-center py-1 pl-7 pr-1 overflow-hidden text-ellipsis whitespace-nowrap;
}
.sublink {
  @apply flex items-center py-1 pr-1 pl-8 overflow-hidden text-ellipsis whitespace-nowrap;
}
.searchlabel {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}
.collapse-btn {
  @apply mx-auto;
}

/*******************************************************************************
 * Message popup
 */
.info_message {
}
.success_message {
  @apply textSUCCESS;
}
.fail_message {
  @apply textERROR;
}

/*******************************************************************************
 * Cards
 */
@layer base {
  .bgCard {
    @apply bg-white;
  }
  .card {
    @apply w-min h-min text-left overflow-hidden rounded-lg text2 bgCard shadow-card;
    >DIV.head {
      @apply h-[40px] px-2 border-b borderDefault items-center flex;
      SPAN.tabs {
        @apply text-sm inline-block px-4 py-1.5 hover:hoverBG1 h-full w-fit align-middle border-y-2 border-transparent whitespace-nowrap;
        &.active, &:hover {
          @apply border-b-2 borderActive border-t-transparent textActive1;
        }
      }
    }
    >DIV.body {
      @apply p-2 w-full;
    }
    TABLE.body {
      >TBODY > TR, >THEAD > TR, > TR {
        >TH, >TD {
          @apply first:pl-2 last:pr-2 !important;
        }
      }
    }
    >DIV.footer {
      @apply h-[40px] px-2 border-t borderDefault items-center flex;
    }
  }
}

/*******************************************************************************
 * floating alerts
 */
DIV.card.alert {
  @apply shadow-float absolute text-center;

  &.yellow {
    @apply text-yellow-700 bg-yellow-50 border-yellow-700 border;
  }

  &.red {
    @apply text-red-700 bg-red-50 border-red-700 border;
  }

  &.green {
    @apply text-green-700 bg-green-50 border-green-700 border;
  }

  &.top-center {
    @apply mx-auto left-0 right-0;
    top: 7px;
  }
}



/*******************************************************************************
 * progress bar (ex.: on tac page)
 */
DIV.card > DIV.progressbar:first-child {
  @apply pb-0 pt-2;
}
DIV.card > DIV.progressbar:last-child {
  @apply pb-2 pt-0;
}
DIV.progressbar {
  @apply flex flex-row gap-x-1;

  DIV.description {
    @apply flex-none w-32 self-center;
    SPAN {
      @apply py-1 px-2 text-xs font-semibold inline-block uppercase rounded-full w-full text-center;
    }
  }
  DIV.bar {
    @apply h-2 text-xs place-self-center flex-auto flex justify-start rounded bgPENDING;
    DIV {
      @apply h-full bg-sky-400;
    }
    DIV:first-child {
      @apply rounded-l;
    }
    DIV:last-child {
      @apply rounded-r;
    }
  }
  DIV.percent {
    @apply w-8 text-right self-center;
    SPAN {
      @apply text-xs font-semibold inline-block;
    }
  }
}

/*******************************************************************************
 * perf bar (ex.: on service/hosts lists)
 */
.perf-bar-container {
  @apply block w-[75px] h-5 relative;
  SPAN {
    @apply block;
  }
  .ok,.green {
    @apply bg-green-500 border-green-700;
  }
  .warn,.yellow {
    @apply bg-yellow-500 border-yellow-700;
  }
  .crit,.red {
    @apply bg-red-500 border-red-700;
  }
  .gray {
    @apply bg-gray-400 border-gray-500;
  }
  .bg {
    @apply absolute left-0 top-0 h-full w-full rounded bgPENDING border borderDark;
  }
  .threshold {
    @apply border w-[3px] h-full rounded-none absolute left-0 top-0;
  }
  .bar {
    @apply border h-full rounded absolute left-0 top-0;
  }
}

/*******************************************************************************
 * buttons
 */
BUTTON, INPUT[type=submit], INPUT[type=button], A.button, [type="button"] {
  @apply
    flex
    rounded
    px-2 py-1 m-0
    font-medium
    whitespace-nowrap
    truncate
    text-sm
    text-center
    justify-center
    bg-gray-300
    text-gray-700
    ease-in-out
    transition
    items-center
  ;

  &.active, &:hover {
    @apply bg-gray-400 text-white cursor-pointer;
  }

  &.secondary {
    @apply bg-sky-500 hover:bg-sky-600 text-white hover:text-sky-200;
  }

  &.green {
    @apply bg-green-500 text-white hover:text-white hover:bg-green-400;
  }

  &.red {
    @apply bg-red-600 text-black hover:text-white;
  }
  &.hover-red {
    @apply hover:bg-red-600 hover:text-white;
  }

  I.fa-solid, I.uil {
    @apply h-auto w-auto mr-1;
    font-size: 18px;
  }

  &.big {
    @apply font-semibold;
  }

  &.round {
    @apply w-8 h-8 text-xl rounded-full text-center justify-center;
    align-items: center;

    I.fa-solid, I.uil {
      @apply mr-0;
      font-size: inherit;
    }

    &.big {
        @apply w-10 h-10 text-2xl;
    }
    &.small {
        @apply w-6 h-6 text-sm;
    }
  }

  &.iconOnly {
    @apply p-0 bg-transparent border-none hover:text-inherit;

    I.fa-solid, I.uil {
      @apply text-base mr-0;
    }

    &.medium I {
      @apply text-xl leading-5;
    }
    &.big  I {
      @apply text-2xl leading-6;
    }
    &.large I {
      @apply text-3xl leading-[30px];
    }
  }
}

DIV.buttongroup {
  @apply flex flex-row flex-nowrap w-fit;
  BUTTON {
    @apply border border-r-0 borderDark rounded-none first:rounded-l last:rounded-r last:border-r;
  }
}

.fa-trash {
  @apply hover:text-red-600;
}
a:hover>.fa-trash {
  @apply text-red-600;
}

/*******************************************************************************
 * tables
 */

.links a {
  @apply block hoverable;
}

TABLE {
  @apply table-auto w-full border-collapse;
}

TD, TH {
  @apply whitespace-nowrap;
}

TH {
  @apply text3 font-semibold;
}

TABLE.cellborder {
  TD, TH {
    @apply border borderDefault px-2 py-1; /* border color oben aufnehmen */
  }
}

TABLE.innercellborder {
  TD, TH {
    @apply border borderDefault px-2 py-1;
  }
  TR:first-child {
    TD, TH {
      @apply border-t-0;
    }
  }
  TR:last-child {
    TD, TH {
      @apply border-b-0;
    }
  }
  TD:first-child, TH:first-child {
    @apply border-l-0;
  }
  TD:last-child, TH:last-child {
    @apply border-r-0;
  }
}

TABLE.cellspacing {
  > TBODY {
    > TR {
      > TD, > TH {
        @apply py-1 px-2 first:pl-1 last:pr-1;
      }
    }
  }
}
TABLE.cellspacing-none {
  > TBODY {
    > TR {
      > TD, > TH {
        @apply p-0 first:p-0 last:p-0;
      }
    }
  }
}

TABLE.cellspacing-y {
  > TBODY {
    > TR {
      > TD, > TH {
        @apply py-1;
      }
    }
  }
}
TABLE.cellspacing-x {
  > TBODY {
    > TR {
      > TD, > TH {
        @apply px-2;
      }
    }
    > TR:first-child {
      > TD, > TH {
        @apply pt-2;
      }
    }
    > TR:last-child {
      > TD, > TH {
        @apply pb-2;
      }
    }
  }
}

TABLE.cellspacing-0\.25 {
  > TBODY {
    > TR {
      > TD, > TH {
        @apply p-[1px] first:pt-0 last:pb-0;
      }
    }
  }
}

TABLE.striped {
  > TBODY {
    > TR:nth-child(even){
      @apply rowEven;
    }
    > TR:nth-child(odd) {
      @apply rowOdd;
    }
  }
}

TABLE.rowhover > TR, TBODY.rowhover > TR {
  @apply hover:hoverBG1;
}

DIV.mainTableHeader {
  @apply flex px-1.5 py-1;
  >DIV:first-of-type {
    @apply flex flex-1 self-center;
  }
  >DIV:last-of-type {
    @apply flex flex-1 justify-end;
  }
}

DIV.mainTableFooter {
  @apply px-1.5;
}

DIV.mainTable {
  @apply w-full overflow-auto border-t border-b borderDefault;
  max-height: calc(100vh - 260px);
}

TABLE.mainTable {
  @apply bgTable;
  TH:first-child,TD:first-child {
    @apply border-l-0;
  }

  THEAD>TR {
    @apply bgTable;
    TH{
      @apply align-middle px-1.5 pt-2 pb-1 border-l tracking-wide hoverable sticky top-0 shadow-as-border-bottom z-10 bg-inherit;
    }
  }
  TBODY {
    TD,TH {
      @apply border-t border-l border-b text-left px-1.5 py-0.5 h-[25px] align-middle;
    }
    TR:first-child TD, TR:first-child TH {
      @apply border-t-0;
    }
    TR:last-child TD, TR:last-child TH {
      @apply border-b-0;
    }
  }

  &.sticky-2d {
    THEAD TR:first-child TH:first-child {
      @apply z-[11] left-0 bgTable shadow-as-border;
    }
    THEAD TH {
      @apply bgTable hover:bgTable second:border-l-0;
      &.vert {
        @apply align-bottom py-2 px-1;
      }
    }
    TBODY TR TD:first-child, TBODY TR TH:first-child {
      @apply left-0 px-1.5 z-[9] sticky bg-inherit shadow-as-border-right;
    }
    TR TD {
      @apply second:border-l-0;
    }
  }
}

/*******************************************************************************
 * forms
 */
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  @apply rounded-[5px] leading-tight p-1 text-default outline-none;
  &:focus {
    @apply borderActive ring-transparent;
  }
}
[type='checkbox']:focus,[type='radio']:focus {
  @apply !ring-transparent;
}
SELECT {
  @apply pr-6 cursor-pointer;
}
INPUT:disabled {
  @apply bg-gray-200 cursor-default;
}
INPUT:invalid, INPUT:focus:invalid, INPUT.invalid, INPUT:focus.invalid, TEXTAREA:invalid, TEXTAREA:focus:invalid, TEXTAREA.invalid, TEXTAREA:focus.invalid {
  @apply outline-none ring-0 ring-red-600 border-red-600;
  &.silent {
    @apply outline-none ring-0 ring-inherit border-inherit;
  }
}
.required {
  @apply textERROR;
}

.daterangepicker {
  DIV.drp-buttons {
    @apply !flex justify-center gap-5;
  }
  .applyBtn {
    @apply w-40;
  }
  .drp-selected {
    @apply !hidden;
  }
}

DIV.deleteicon {
  @apply relative w-fit;
  BUTTON {
    @apply absolute pr-2 right-0 top-0 hover:bg-inherit hover:text-black;
  }
  /* hide browser specific clear icon */
  input[type="search"]::-webkit-search-cancel-button {
    @apply opacity-0 pointer-events-none;
    -webkit-appearance: none;
  }
  INPUT {
    @apply pr-5;
  }
}

.filter_hidden {
  @apply hidden;
}

DIV.singlefilterpane {
  @apply border-l border-b;
  &:first-child {
    @apply border-l-0;
  }
}

OPTION.even {
  @apply rowEven;
}
OPTION.odd {
  @apply rowOdd;
}

INPUT.header_inline_edit {
  @apply py-0 my-0 w-full min-w-[50px];
}

DIV.spinner {
  @apply animate-spin inline-block w-4 h-4 border-gray-700 border-2 border-r-transparent rounded-full align-sub self-center;
  animation-duration: 1500ms;
}

/*******************************************************************************
 * site panel / backends
 */
#site_panel .button_peer, div.backends BUTTON, #site_panel .btn_sites {
  @apply px-0.5 w-24 block truncate h-max !text-gray-700 hover:!text-white hover:brightness-95;
}
UL.ui-fancytree {
  IMG {
    display: initial;
    vertical-align: initial;
  }
}

#site_panel_sections {
  ul.fancytree-container, ul.fancytree-treefocus, span.fancytree-selected span.fancytree-title, .fancytree-plain span.fancytree-title {
    font-family: inherit;
    background-color: inherit;
    border: 0;
    border-color: inherit;
    outline: 0;
  }
}

#site_panel_sections {
  span.fancytree-focused span.fancytree-title {
    @apply textActive1 bodyBG rounded;
  }
  span.fancytree-active span.fancytree-title {
    @apply textActive1 bodyBG;
  }
  span.fancytree-node:hover {
    @apply bodyBG rounded;
    span.fancytree-title {
      @apply textActive1;
    }
  }
}

/*******************************************************************************
 * search results
 */
DIV#search-results {
  @apply card shadow-float z-[60] absolute border border-gray-400 top-0 left-0 w-40 whitespace-nowrap overflow-hidden;

  UL {
    @apply list-none block m-0 p-0;
  }
  LI {
    @apply px-1 py-0.5;
    &.res {
      @apply hover:hoverBG1 hover:cursor-pointer;
    }
    &.ajax_search_selected {
      @apply bg-yellow-200;
    }
    &.category {
      @apply font-semibold;
    }
    &.more {
      @apply hover:hoverBG1 hover:cursor-pointer font-semibold;
    }
    &.toomany {
      @apply text-orange-600 font-semibold;
    }
    &.error {
      @apply text-red-600 font-semibold;
    }
  }
  .disabled {
    @apply ml-5 text-orange-600 opacity-100;
  }
  IMG {
    @apply inline-block align-text-bottom mr-1 w-4 h-4;
  }
}

/*******************************************************************************
 * action menu
 */

DIV.action_menu, DIV.context_menu {
  @apply absolute z-50 overflow-visible;
  UL {
    @apply card shadow-float min-w-[120px] whitespace-nowrap overflow-visible;
    LI {
      @apply relative first:rounded-t-lg last:rounded-b-lg hover:hoverBG1 hover:textActive1;
      &.disabled {
        @apply hover:text-inherit cursor-default;
      }

      HR {
        @apply my-1;
      }

      A {
        @apply flex p-1 w-full gap-1;

        SPAN.icon {
          @apply inline-flex w-[20px] h-[20px];
        }
      }
      &.no-hover {
        @apply hover:bg-inherit;
      }
    }
    .submenu {
      @apply absolute min-w-[120px] z-[51];
    }
    LI:hover > UL.submenu.autoopen {
      display: initial !important;
    }
    SPAN.expandable {
      @apply ml-auto;
    }
  }
  INPUT {
    color: initial;
  }
}
I.action_icon {
  &.clickable {
    @apply hover:hoverBG1 hover:rounded;
    &.active {
      @apply hoverBG1 rounded;
    }
  }
}
IMG.action_icon {
  &.clickable {
    &.active {
      @apply ring-1 ring-gray-400;
    }
  }
}

/*******************************************************************************
 * commands / action box
 */
DIV.actionbox {
  >DIV {
    @apply whitespace-nowrap px-2 py-1 hover:hoverBG1;
  }
  >DIV:first-child {
    @apply pt-2;
  }
  >DIV:last-child {
    @apply pb-2;
  }
  A {
    @apply link;
    I, INPUT {
      color: initial;
    }
  }
  I {
    @apply mr-1;
    font-size: 18px;
  }
  &.less-padding{
    >DIV {
      @apply py-0.5;
      &:first-child{
        @apply pt-1;
      }
      &:last-child{
        @apply pb-1;
      }
    }
  }
}

/*******************************************************************************
 * login page
 */
BODY.loginpage {
  @apply bg-gradient-to-t from-gray-200 via-slate-300 to-gray-200;

  DIV.loginmask {
    @apply bg-slate-100;

    BUTTON, A.button {
      @apply text-white bg-slate-500 hover:bg-slate-600;
    }

    HR {
      @apply border-gray-500;
    }

    DIV.spinner {
      @apply border-white border-r-transparent w-5 h-5 mr-1;
    }
  }
}

/*******************************************************************************
 * status page
 */
DIV.card.statusTotals {
  width: 350px;
  >TABLE {
    TD, TH {
      @apply text-center;
    }
    TH A, TD A, TH DIV A {
      @apply block py-1;
    }
  }
}


/*
* host/service status total
*/

DIV.status-summary {
  >DIV {
    @apply px-1.5 py-1.5 text-center;
    >A {
      @apply block;
    }
  }
}

/*******************************************************************************
 * tactical overview
 */
BODY.page_tac {
  TD.featureBlock {
    @apply p-0 w-48 min-h-[9rem] h-36 font-semibold;
    >DIV {
      @apply flexrow flex-nowrap gap-0 h-full pl-px w-48;
    }
  }
  DIV.vbadge {
    @apply p-0 w-6 h-full relative hover:opacity-75;
    SPAN {
      @apply vertical block w-full h-full absolute bottom-0 text-center font-semibold leading-5;
    }
  }
  .itemblock {
    @apply block w-full px-2 py-1 mt-px first:mt-0 font-semibold;
  }
  .importantProblem {
    @apply DOWN hover:bgCRITICAL;
  }
  .unimportantProblem {
    @apply UNREACHABLE hover:bgCRITICAL;
  }
}

.mightOverflowBlock {
  @apply overflow-hidden block text-ellipsis whitespace-nowrap;
}