TABLE
{
/*************** COSMETIC TWEAKS ********************
 border-spacing: 0px;  looks better with firefox
 border-collapse: collapse; looks better with MSIE
 comment/uncomment the one you want to use
*****************************************************/
border-spacing: 0px;
/*border-collapse: collapse;*/
/****************************************************/
border: none;
padding: 0px;
}



.errorMessage
{
font-weight: bold;
color: #cc0000;
}

INPUT,SELECT,OPTION
{
font-family: Tahoma, Arial, Sans-Serif;
color: #3F3D3D;
font-size: 8pt;
}


TD,TH,TR
{
font-size: 8pt;
border: none;
}

A
{
color: #3F3D3D;
text-decoration: none;
}

A:hover
{
color: #7E7C7C;
text-decoration: underline;
}

TABLE.infoBox
{
padding: 0px;
margin-top: 16px;
margin-left: 2px;
margin-right: 2px;
text-align: center;
background-color: #F0F1F5;
border-top: 1px #E2DECD outset;
border-left: 1px #E2DECD outset;
border-right: 1px #E2DECD outset;
border-bottom: 1px #E2DECD outset;
background-image: url(../images/border_big.gif);
background-repeat: repeat-x;
width: 240px;
}

TABLE.linkBox
{
padding: 0px;
margin-bottom: 2px;
margin-left: 2px;
margin-right: 2px;
text-align: center;
background-color: #F0F1F5;
border-bottom: 1px #E2DECD outset;
border-left: 1px #E2DECD outset;
border-right: 1px #E2DECD outset;
border-top: 1px #E2DECD solid;
width: 240px;
}

TABLE.filter
{
padding: 0px;
margin: 2px;
text-align: center;
background-color: #F0F1F5;
border: 1px #E2DECD outset;
background-image: url(../images/border_big.gif);
background-repeat: repeat-x;
width: 240px;
}

TD.infoBox,TD.filter
{
padding: 2px;
}

TD.linkBox
{
padding: 2px;
width: 240px;
}

.infoMessage,.optionBoxTitle,.dataTitle,.infoBoxTitle,.filterTitle,.filterValue,.statusTitle,.itemTotalsTitle,.queueTitle,.optBoxTitle,.descriptionTitle,.navBoxTitle
{
font-weight: bold;
}

.filterName
{
font-style: italic;
}

DIV.infoBoxTitle
{
padding: 0px;
height: 20px;
}

TD.filterTitle
{
text-align: center;
padding: 0px;
height: 20px;
vertical-align: top;
width: 240px;
}

TD.filterDisplayTitle {
  width: inherit;
  text-align: left;
}

TABLE.data
{
margin: 2px;
text-align: center;
background-color: #F0F1F5;
border: 1px #E2DECD outset;
width: 100%;
}

TH.data
{
padding: 0px;
border: none;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 0px;
padding-top: 0px;
height: 20px;
border-right: 1px #E2DECD solid;
background-color: #F0F1F5;
background-image: url(../images/border_small.gif);
background-repeat: repeat-x;
background-position: bottom;
}

TD.status
{
padding: 0px;
}

TD.dataOdd
{
padding: 1px;
background-color: #E7E5DD;
height: 22px;
}


TD.dataEven
{
padding: 1px;
background-color: #DEDBD2;
height: 22px;
}

TD.hostUP
{
padding: 1px;
background-color: #C0FFC0;
height: 22px;
}


TD.hostDOWN,TD.hostUNREACHABLE
{
/* padding: 1px; */
background-color: #FFC0C0;
font-weight: bold;
height: 22px;
}

TD.statusPENDING,TD.statusHOSTPENDING
{
/* padding: 1px; */
background-color: #C0C0FF;
height: 22px;
}

TD.statusOK,TD.statusRECOVERY,TD.statusHOSTUP,TD.serviceOK
{
/* padding: 1px; */
background-color: #C0FFC0;
height: 22px;
}


TD.statusWARNING,TD.serviceWarning
{
/* padding: 1px; */
background-color: #FFFFC0;
height: 22px;
}

TD.serviceCRITICAL,TD.statusCRITICAL,TD.statusHOSTDOWN,TD.statusHOSTDOWNACK,TD.statusHOSTDOWNSCHED,TD.statusHOSTUNREACHABLE,TD.statusHOSTUNREACHABLEACK,TD.statusHOSTUNREACHABLESCHED
{
/* padding: 1px; */
background-color: #FFC0C0;
/* font-weight: bold; */
height: 22px;
}


TD.statusBGCRITICAL,TD.statusBGCRITICALACK,TD.statusBGCRITICALSCHED,TD.statusBGDOWN,TD.statusBGDOWNACK,TD.statusBGDOWNSCHED,TD.statusBGUNREACHABLE,TD.statusBGUNREACHABLEACK,TD.statusBGUNREACHABLESCHED
{
/* padding: 1px; */
background-color: #FFEBEB;
/*height: 22px;*/
}

TD.statusUNKNOWN
{
/* padding: 1px; */
height: 22px;
}
TD.statusBGUNKNOWN,TD.statusBGUNKNOWNACK,TD.statusBGUNKNOWNSCHED
{
/* padding: 1px; */
/*height: 22px;*/
}

TD.statusBGWARNING,TD.statusBGWARNINGACK,TD.statusBGWARNINGSCHED
{
/* padding: 1px; */
background-color: #FFFFEB;
/*height: 22px;*/
}

TD.miniStatusUP,TD.miniStatusOK
{
padding: 2px;
border: 2px #C0FFC0 dotted;
font-weight: bold;
text-align: center;
}

TD.miniStatusDOWN,TD.miniStatusUNREACHABLE,TD.miniStatusCRITICAL
{
padding: 2px;
border: 2px #FFC0C0 dotted;
font-weight: bold;
text-align: center;
}

TD.miniStatusPENDING
{
padding: 2px;
border: 2px #C0C0FF dotted;
font-weight: bold;
text-align: center;
}

TD.miniStatusWARNING
{
padding: 2px;
border: 2px #FFFFC0 dotted;
font-weight: bold;
text-align: center;
}

TD.miniStatusUNKNOWN
{
padding: 0px;
text-align: center;
}



TABLE.optBox,TABLE.commandDescription,TABLE.optionBox
{
margin-top: 10px;
margin-bottom: 10px;
padding: 0px;
margin-left: 5px;
margin-right: 5px;
text-align: center;
width: 240px;
}


.optBoxItem
{
text-align: left;
}


.optBoxRequiredItem
{
color: #cc0000;
text-align: left;
}

.navBoxItem,.navBoxDate,.navBoxFile
{
font-weight: bold;
}

.dateTimeBreak
{
font-weight: bold;
}

.logEntries
{
/* height: 22px; */
vertical-align: middle;
}

.reportSelectSubTitle,.dateSelectSubTitle,.reportSelectItem,.dateSelectItem,.reportSelectTip
{
text-align: left;
}

.dataSubTitle,.reportTime,.reportDuration,.reportRange,
{
font-style: italic;
}

.helpfulHint,
{
font-style: italic;
text-align: center;
}

.reportSelectTitle,.dateSelectTitle
{
font-weight: bold;
margin-top: 5px;
text-align: center;
background-color: #F0F1F5;
border: 1px #E2DECD outset;
padding: 2px;
background-color: #F0F1F5;
background-image: url(../images/border_small.gif);
background-repeat: repeat-x;
background-position: bottom;
}

A.statusPENDING
{
color: #8386FF;
}

A.statusOK
{
color: #6FBF6F;
}

A.statusWARNING
{
color: #C9C72B;
}

A.statusCRITICAL
{
color: #FF6363;
font-weight: bold;
}
