.notifications
{
font-family: Tahoma, Arial, Sans-Serif;
background-color: #C3C7D3;
color: #3F3D3D;
font-size: 8pt;
white-space: nowrap;
}

TABLE.notifications
{
/* margin: 2px; */
text-align: center;
background-color: #F0F1F5;
border: 1px #E2DECD outset;
width: 100%;
border-spacing: 2px;
}

TH.notifications
{
padding: 0px;
border: none;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 0px;
padding-top: 0px;
height: 20px;
border-right: 1px #E2DECD solid;
background-color: #F0F1F5;
background-image: url(../images/border_small.gif);
background-repeat: repeat-x;
background-position: bottom;
white-space: nowrap;
}

TD.notificationsEven
{
background-color: #DEDBD2;
padding-left: 4px;
padding-right: 4px;
white-space: nowrap;
}

TD.notificationsOdd
{
background-color: #E7E5DD;
height: 22px;
padding-left: 4px;
padding-right: 4px;
white-space: nowrap;
}

TD.notificationsOK,TD.notificationsHOSTUP
{
padding: 1px;
background-color: #C0FFC0;
height: 22px;
}


TD.notificationsWARNING
{
padding: 1px;
background-color: #FFFFC0;
height: 22px;
}

TD.notificationsCRITICAL,TD.notificationsHOSTDOWN,TD.notificationsHOSTUNREACHABLE
{
padding: 1px;
background-color: #FFC0C0;
font-weight: bold;
height: 22px;
}

TD.notificationsACKNOWLEDGEMENT,TD.notificationsHOSTACKNOWLEDGEMENT
{
padding: 1px;
height: 22px;
}
