.servicePENDING  { background-color: #ACACAC; }
.serviceOK       { background-color: #C0FFC0; }
.serviceUNKNOWN  { background-color: #FF9900; }
.serviceWARNING  { background-color: #FFFFC0; }
.serviceCRITICAL { background-color: #FFC0C0; }

.hostUP          { background-color: #C0FFC0; }
.hostDOWN        { background-color: #FFC0C0; }
.hostUNREACHABLE { background-color: #FFC0C0; }
.hostPENDING     { background-color: #ACACAC; }

body.navbar {
  background-color: #C3C7D3;
  border-color: #C3C7D3;
  text-align: left;
}
div.navbar {
  background-color: #C3C7D3;
  border-color: #C3C7D3;
}
body {
  background-color: #C3C7D3;
  border-color: #C3C7D3;
  font-family: arial, verdana, serif;
/*  font-weight: normal; */
  font-size: 10pt;
}

/* main page */
#splashpage{
    background-color: #C3C7D3;
	text-align: center;
	}

#mainbrandsplash{
	font-size: 12pt;
	font-weight: bold;
	margin: 0 0 35px 0;
	}

#maincopy{
	margin: 0 0 15px 0;
	}

#currentversioninfo{
	font-size: 12pt;
	}
#currentversioninfo .product{
	font-size: 14pt;
	font-weight: bold;
	}
#currentversioninfo .version{
	font-size: 14pt;
	font-weight: bold;
	}
#currentversioninfo .releasedate{
	font-size: 11pt;
	margin: 5px 0 0 0;
	}
#currentversioninfo .checkforupdates{
	font-size: 11pt;
	font-weight: bold;
	}
#currentversioninfo .whatsnew{
	font-size: 11pt;
	font-weight: bold;
	margin: 50px 0 0 0;
	}

#updateversioninfo{
	margin: 15px auto 50px auto;
	width: 400px;
	}
.updatechecksdisabled{
	background-color: #FF9F9F;
	border: 1px solid red;
	padding: 10px;
	}
.updatechecksdisabled div.warningmessage{
	font-weight: bold;
	}
#updateversioninfo div.submessage{
	clear: left;
	}
.updateavailable{
	background-color: #9FD4FF;
	border: 1px solid blue;
	padding: 10px;
	}
.updateavailable div.updatemessage{
	font-size: 12pt;
	font-weight: bold;
	}

#splashpage #mainfooter{
	margin: 100px 0 0 0;
	font-size: 8pt;
	}
#splashpage #mainfooter .disclaimer{
	width: 80%;
	margin: auto;
	}
#splashpage #mainfooter .logos{
	margin: 15px 0 0 0;
	}

a img {
	border: none;
	}

/* command pane header */
th.cmd_pane a, th.cmd_pane {
  color:#3F3D3D;
  font-family:Tahoma,Arial,Sans-Serif;
  font-size:8pt;
}
/* command pane header */
th.status a:hover {
  color:#3F3D3D;
  font-family:Tahoma,Arial,Sans-Serif;
  font-size:8pt;
  text-decoration: underline;
}

/* fix for navigation table header */
div.tree td {
  line-height: 3px;
}

.filter_button_mini {
  position:relative;
  top: -2px;
  left: -2px;
}
INPUT#dfl_filter_button {
  position:relative;
  top: 3px;
  left: 3px;
}
SELECT#dfl_s0_style_selector, INPUT#dfl_s0_btn_accept_search {
  position:relative;
  top: -2px;
}

/* Search result suggestions */
#search-results {
  width: 120px;
}

#search-results a{
  width: 120px;
}

/*
.tableRowHover {
    height: 22px;
}
*/

input#NavBarSearchItem {
  width:105px;
}

div.dTreeNode {
    white-space: nowrap;
}

TABLE.optBoxInnerTable TD {
  text-align: left;
  white-space: nowrap;
}

body.config TABLE.data {
  width: inherit;
}

TD.action_menu {
  white-space: nowrap;
  padding-right: 20px;
}
TD.confPanel {
  background-color: #F0F1F5;
  padding: 5px;
  border: 1px #E2DECD outset;
  background-image: url(../images/border_big.gif);
  background-repeat: repeat-x;
}
DIV.dataTitle {
  padding: 0px;
  height: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  margin: -2px;
}

/* extinfo head (hostgroups, etc...) needs more than 20px */
body.extinfo TD.ext_head_attributes DIV.dataTitle {
  height: inherit;
}

.infoBoxBadProcStatus {
  color:red;
}


/* tweaks for the extinfo page */
TD.extdetails DIV, TD.checkstatus DIV {
    float: left;
    min-width: 80px;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 16px;
    line-height: 16px;
}

/* tweaks for the extinfo page */
TD.extdetails TD.dataVar, TD.checkstatus TD.dataVar {
    width: 150px;
}


TABLE.extdetails DIV.hostUP,
TABLE.extdetails DIV.hostDOWN,
TABLE.extdetails DIV.hostUNREACHABLE,
TABLE.extdetails DIV.hostPENDING,
TABLE.extdetails DIV.serviceOK,
TABLE.extdetails DIV.serviceWARNING,
TABLE.extdetails DIV.serviceUNKNOWN,
TABLE.extdetails DIV.serviceCRITICAL,
TABLE.extdetails DIV.servicePENDING,
TABLE.extdetails DIV.notflapping,
TABLE.extdetails DIV.flapping,
TABLE.extdetails DIV.downtimeINACTIVE,
TABLE.extdetails DIV.downtimeACTIVE
{
  text-align: center;
}

TABLE.extdetails DIV.notificationsDISABLED,
TABLE.extdetails DIV.notificationsENABLED,
TABLE.extdetails DIV.checksDISABLED,
TABLE.extdetails DIV.checksENABLED,
TABLE.extdetails DIV.eventhandlersDISABLED,
TABLE.extdetails DIV.eventhandlersENABLED,
TABLE.extdetails DIV.flapdetectionDISABLED,
TABLE.extdetails DIV.flapdetectionENABLED
{
  text-align: center;
}

.tableRowSelected {
  background-color:#609FD2d;
}
