.status
{
font-family: Tahoma, Arial, Sans-Serif;
background-color: #C3C7D3;
color: #3F3D3D;
font-size: 8pt;
}

DIV.hostTotals,DIV.serviceTotals,DIV.status
{
font-size: 8pt;
font-weight: bold;
margin-bottom: 2px;
}


TABLE.serviceTotals,TABLE.hostTotals
{
margin: 2px;
text-align: center;
background-color: #F0F1F5;
border: 1px #E2DECD outset;
width: 260px;
background-image: url(../images/border_big.gif);
background-repeat: repeat-x;
}

TH.hostTotals,TH.serviceTotals
{
font-weight: bold;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 0px;
padding-top: 0px;
height: 18px;
border-right: 1px #E2DECD solid;
font-style: normal;
}


TD.hostTotals,TD.serviceTotals
{
padding: 0px;
padding-left: 2px;
padding-right: 2px;
height: 20px;
}

TD.hostTotalsUP,TD.serviceTotalsOK
{
padding: 0px;
padding-left: 2px;
padding-right: 2px;
background-image: url(../images/green.gif);
background-repeat: no-repeat;
background-position: center;
height: 20px;
}

TD.hostTotalsDOWN,TD.hostTotalsUNREACHABLE,TD.serviceTotalsCRITICAL
{
padding: 0px;
padding-left: 2px;
padding-right: 2px;
background-image: url(../images/red.gif);
background-repeat: no-repeat;
background-position: center;
height: 20px;
}

TD.hostTotalsPENDING,TD.serviceTotalsPENDING,TD.serviceTotalsUNKNOWN
{
padding: 0px;
padding-left: 2px;
padding-right: 2px;
background-image: url(../images/blue.gif);
background-repeat: no-repeat;
background-position: center;
height: 20px;
}

TD.hostTotalsPROBLEMS,TD.serviceTotalsPROBLEMS
{
padding: 0px;
padding-left: 2px;
padding-right: 2px;
background-image: url(../images/orange.gif);
background-repeat: no-repeat;
background-position: center;
height: 20px;
}

TD.hostTotalsPROBLEMS,TD.serviceTotalsWARNING
{
padding: 0px;
padding-left: 2px;
padding-right: 2px;
background-image: url(../images/yellow.gif);
background-repeat: no-repeat;
background-position: center;
height: 20px;
}


A.hostTotals:hover,A.serviceTotals:hover
{
text-decoration: none;
}


TABLE.status
{
/* margin: 2px; */
text-align: center;
background-color: #F0F1F5;
border: 1px #E2DECD outset;
width: 100%;
}

TH.status
{
padding: 0px;
border: none;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 0px;
padding-top: 0px;
height: 20px;
border-right: 1px #E2DECD solid;
background-color: #F0F1F5;
background-image: url(../images/border_small.gif);
background-repeat: repeat-x;
background-position: bottom;
}

TD.status {
padding: 0px;
}

TD.statusOdd {
background-color: #E7E5DD;
/*height: 22px;*/
}

TD.statusEven {
background-color: #DEDBD2;
/*height: 22px;*/
}

TABLE#statusTable tbody > tr > TD {
    padding-left: 2px;
}
