.summary
{ 
font-family: Tahoma, Arial, Sans-Serif;
background-color: #C3C7D3;
color: #3F3D3D;
font-size: 8pt;
}

TD.reportDataOdd
{
padding: 1px;
background-color: #E7E5DD;
height: 22px;
}

TD.reportDataEven
{
padding: 1px;
background-color: #DEDBD2;
height: 22px;
}

