- name: "yum clean all"
  shell: "yum clean all || :"
- name: "run set_admin_password"
  shell: "! test -x /omd/sites/{{site}}/bin/set_admin_password || sudo su - {{ site }} -c 'set_admin_password omd'"
- name: "stop site"
  shell: "omd stop {{ site }}"
- name: "check if xinetd file exists"
  stat:
    path: /opt/omd/sites/{{ site }}/etc/naemon/xinetd.conf
  register: xinetd_livestatus
- name: "increase livestatus xinetd limit, may be hit during tests otherwise"
  lineinfile:
    dest: /opt/omd/sites/{{ site }}/etc/naemon/xinetd.conf
    line: "    cps         = 10000 3"
    regexp: '^\s*cps'
  when: xinetd_livestatus.stat.exists == true
- name: "check if naemon.cfg file exists"
  stat:
    path: /opt/omd/sites/{{ site }}/etc/naemon/naemon.cfg
  register: naemon_conf
- name: reduce naemon worker
  lineinfile:
    dest: /opt/omd/sites/{{ site }}/etc/naemon/naemon.cfg
    line: "check_workers=2"
    regexp: '^check_workers='
  when: naemon_conf.stat.exists == true
