* {
	margin: 0;
	padding: 0;
}

div.navbar {
	color: #000;
	background: #ededed;
	border-top: 0px solid #ededed;
	border-bottom: 0px solid #ededed;
	border-right: 1px solid #ededed;
	border-left: 5px solid #ededed;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #000;
	background: #ededed;
}

img {
	border: 0;
}

ul {
	list-style-type: none;
}

#menu {
	width: 170px;
}

#menu h2 {
	position: relative;
	padding: 0 5px;
	height: 26px;
	color: #fff;
	background: #ededed url(../../images/interface/bar.gif) top left repeat-x;
	border-bottom: 1px solid #fff;
	line-height: 26px;
	font-size: 1em;
}

#menu h2 img {
	position: absolute;
	top: 9px;
	right: 8px;
}

#menu ul li {
	padding: 0 10px;
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #fff;
}

#menu ul li a {
	padding-left: 12px;
	background: url(../../images/interface/menu_li1.gif) 0 0.35em no-repeat;
}

#menu ul li a:link, #menu ul li a:active, #menu ul li a:visited {
	color: #6e7475;
	text-decoration: none;
}

#menu ul li a:hover {
	background: url(../../images/interface/menu_li2.gif) 0 0.35em no-repeat;
	color: #000;
}

#menu ul li.menuli_style1 {
	background-color: #ededed;
}

#menu ul li.menuli_style2 {
	background-color: #e9e9e9;
}