name: citest

on:
  push:
  pull_request:
  schedule:
    - cron: '30 4 * * 1'

jobs:
  citest:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses:  abbbi/github-actions-tune@v1
      - name: perl -V
        run: perl -V
      #- name: Setup tmate session, see https://github.com/marketplace/actions/debugging-with-tmate
      #  uses: mxschmitt/action-tmate@v3
      - name: ./.ci/prepare_machine.sh
        run: sudo ./.ci/prepare_machine.sh
      - name: ./.ci/install_deps.sh
        run: sudo su naemon -c ./.ci/install_deps.sh
      - name: make citest
        run: sudo su naemon -c 'eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib) && make citest'
